[2017-06-11 22:00] AlisonAMG commented on #6
That magic is MailChimp. I know that sort well.

[2017-06-11 22:01] Sandra97 commented on #6
Mailchimp? No way! ;)

[2017-06-11 22:09] AlisonAMG commented on #6
That is what that Drupal form is.

Side effect of JAB - reading your comments and hearing your voice. lol

[2017-06-11 22:13] parthlawate commented on #6
Yeah looks like it is ;) !  Too bad Drupal is using an external provider.. But ACY does allow having a common subscription form for multiple lists as well.. So we can go to that once we get all the newsletters in one place.. I think we should do that before we promote it.. As that way the promotion will get more value..

[2017-06-11 22:24] Sandra97 commented on #6
I will start promoting jorg and dev newsletter next week. It's not perfect of course, but it's better than nothing.
I've been waiting the previous marketing team to take care of that during 2 years, and each time it was "we're working on it", you can imagine at one time I was fed up of waiting and so Rowan and I took care of it.

[2017-06-11 22:55] AlisonAMG commented on #6
Even with Drupal using MailChimp that is one hell of a complex setup and not something done quickly or without a hell of a pile of planning and mapping.

[2017-06-12 08:03] parthlawate commented on #96
@Sandra97 I think the text between images might change for every newsletter we send.. So we can take it up when one needs to be sent

[2017-06-12 10:54] shirdesign commented on #96
@parthlawate @anibalsanchez  working on the template - using the base template Sandra made for the certification team so I mainly need to change the top banner... so waiting for some psd I am suppose to get later today.

[2017-06-12 18:08] parthlawate commented on #96
Thanks @shirdesign for the update  ! Looking forward to seeing it

[2017-06-13 06:32] shirdesign commented on #96
Does the Jed have its own social media? or do I link to the general ones ?

[2017-06-13 06:45] shirdesign commented on #96
![jed-thumb](https://user-images.githubusercontent.com/11372410/27069326-e5b29734-501c-11e7-87a4-563794b463af.png)
this is the thumb of the newsletter - let me know about the social media and I will fix them and send u the files.
@parthlawate @anibalsanchez

[2017-06-13 06:57] parthlawate commented on #96
Can you add the sponsorship/banner positions @shirdesign ? I think Jed has their own social media ..Anibal can help with that

[2017-06-13 07:05] shirdesign commented on #96
will do during the day. do we need all positions? do we have sample banners
I can add?

On 13 June 2017 at 09:58, Parth Lawate <notifications@github.com> wrote:

[2017-06-13 07:36] shirdesign commented on #96
I looked at the sizes if the banners - they don't really fit the newsletter properly.
can we work on the sizes?
and I think it will be too busy to put all of them.
@anibalsanchez
I suggest using -
 Button - 160 x 160 - I would suggest to make this one 200*200 if possible and use 2 of them one next to another.
and also add if needed another big banner like the
      Leaderboard - 728x90 only making

[2017-06-13 08:31] anibalsanchez commented on #96
Hi Shirat,

- The ad sizes are mainly following the standard IAB sizes: https://support.google.com/adsense/answer/185665. The newsletter format should have the option to accommodate some of them.

- At this time, we have to insert 3 Ad Buttons 125x125, with an associated text of 100-180 chars. I'm sending you the Ads in Glip.

- Overall, your design looks amazing, with a twist to the branding/inst

[2017-06-13 15:16] AlisonAMG commented on #90
Who is our target audience for this?

Tag me when we have an article and I can help with images for social. Also, I will promote it in the FB group as well.

[2017-06-13 16:26] Sandra97 commented on #90
Don't want to be a PITA (ok, I know, I am one), but I presume you mean joomla.stackexchange.com, the URL joomla.stackoverflow.com doesn't exist ;)
Any reason we should promote this instead of our forum?

[2017-06-13 16:53] shirdesign commented on #96
[Archive.zip](https://github.com/joomla/joomla-marketing/files/1072189/Archive.zip)
Here are the files - not sure if I have google drive access to upload them somewhere safe

[2017-06-13 16:55] shirdesign commented on #96
Pls check it to see that I didn't make any mistake or you want some changes - I've added another image place for the extra banner.

[2017-06-13 17:10] JoeJoomla commented on #90
I’ve had this type of question in the past and I discovered that the forums are not really affected by other venue sources such as Stack Exchange or Stack Overflow.

Generally what happens is you gain a new audience that you didn’t have before from users in those venues.

Best regards,

Joe Sonne
Open Source Matters, Inc, Capital Team Chairperson
http://opensourcematters.org/
eMail: joe.sonne@open

[2017-06-13 17:21] AlisonAMG commented on #90
This was discussed in one of the meetings (it's all a blur) and if memory serves it was to direct code/dev type traffic there vs the forums which seems to be more user.

[2017-06-15 08:47] ufuk-avcu opened #98 "[organizing] joomla.org/media-contact.html need to be revisited"
We arrive so many support requests from this page https://www.joomla.org/media-contact.html to marketing@community.joomla.org . Maybe we can change the warning in the bottom to the top and make it more attracting?

[2017-06-15 09:45] Joomv commented on #98
I think this page could do with a bit of a change anyway.  We should clearly signpost this page to the Forum, Github, Social etc.

[2017-06-15 09:46] ufuk-avcu opened #99 "[organizing] Clean Up the marketing@community.joomla.org Mails"

[2017-06-15 09:46] ufuk-avcu commented on #98
And Docs also...

[2017-06-15 10:42] Sandra97 commented on #98
You're assuming people read and follow the instructions.... You are dreamers!
Whatever we will do, it won't change anything, people will continue to use this form for their issues.

[2017-06-15 10:57] Sandra97 commented on #99
Answer for messages coming from the jorg contact form not related to press request
[jorg_general_contact_form_answer.docx](https://github.com/joomla/joomla-marketing/files/1077379/jorg_general_contact_form_answer.docx)

Note that this message is available in many languages:
https://crowdin.com/project/joomla-official-websites-templates

[2017-06-15 12:10] mbabker commented on #98
Just a general note, you can put all the warnings you'd like on the page (or in this case, the information is made clear on multiple pages), but that won't slow it down.  I put a very clear notification on https://developer.joomla.org/security/contact-the-team.html before the form and the overwhelming majority of traffic to the security mailbox is still user support requests.

[2017-06-15 12:19] Sandra97 commented on #98
As I mentioned in Glip, this form was supposed to be for press requests only. But as soon as you add a contact form with high visibility, people will just use it for everything and won't care at all about notice.
The other solution would be to remove the form and replace it by a text and an email address. Most people will be too lazy to write an email and you'll receive less messages for issues 😉

[2017-06-15 14:39] cpaschen commented on #98
One other option, that would not reduce the amount of initial email, but might prevent some people from saying "I contacted them and they never replied" would be to add an auto-responder to that email address that thanks them for their email but tells them all that if they are seeking 'assistance' that they should ... (list the other resources) and indicates that if they are seeing media/marketing

[2017-06-15 14:43] cpaschen commented on #98
I take that back - I just looked at the responses that have come in today (and forwarded to me) and it looks like there is some weird forwarding of messages (forwarding info from one person who submitted something to someone else that submitted something - or some other strangeness).
This might need to have Luca or someone else figure out what is going on and get it cleaned up.

[2017-06-15 14:44] cpaschen commented on #98
One other possibility would be to add a short video to that page (maybe if there is a video people will watch it)???

[2017-06-15 21:45] parthlawate commented on #98
Can we make the following changes quickly and monitor over a period of 2 months ?

1. Right now the Menu, Page title etc all say 'Contact' .. Can we at least change it to Press Inquiries or Media Enquiries ?
2. Move the Notice to the top and rephrase it to say "This form is  strictly for Media queries. For general support about Joomla click here to go to the community forums. If you need help from

[2017-06-15 21:57] Sandra97 commented on #98
I changed the title of the menu and edited the notice.
But it's totally useless.
I can put the notice at the top, write it in red with a font-size of 100px, people will still use the form. Believe me, I have the same issue on other websites, people don't care about notices!

[2017-06-15 22:00] Sandra97 commented on #98
The only solution if nobody wants to take the time to answer these requests is to remove the contact form.

[2017-06-15 22:02] parthlawate commented on #98
That was fast ! Thanks @Sandra97 I am closing this for now :) @ufuk-avcu lets monitor and see if this helps !

[2017-06-15 22:02] #98 closed

[2017-06-15 22:19] parthlawate commented on #96
Hi,

The Joomla 3.7 sample image looks low resolution. Also the overall impact when converted from PSD to HTML seems lost. Also i strongly recommend not using big images next to each other.. Always try and space out by text. Makes it easier on the eyes for the user reading..

Also i found some examples from the past that we had sent via Mailchimp. This will give examples of how the banner image co

[2017-06-15 22:55] parthlawate commented on #96
Ok so thought i will use my fantastic (Horror!) design skills in Mailchimp to put something together. It could be total trash so please excuse me if it is (though mailchimp makes it really hard to make it horrible!)
![jnewsletter](https://user-images.githubusercontent.com/673176/27204957-67a66f96-522e-11e7-836f-c476634e37be.png)

http://mailchi.mp/e6a26181a624/joomla-is-going-to-rome

You can see

[2017-06-16 06:33] shirdesign commented on #96
Hi Parth. On vacation till Sunday.
Will see what I can do then.

On 16 Jun 2017 01:55, "Parth Lawate" <notifications@github.com> wrote:

[2017-06-16 07:17] anibalsanchez commented on #96
@parthlawate The ad format had been defined by Soren.... I don't think we can change it since they are associated with the available newsletter campaigns.

[2017-06-16 07:26] parthlawate commented on #96
@anibalsanchez we can find one from your link that fits closer.. but I'd not want to do 3 in the bottom row ..they need to be a little more elegant or the newsletter will seem too full of ads.. since newsletter max widths are around 600px , 2 ads with 200-250 px width with paddings should work well and scale well on responsive

[2017-06-16 08:41] anibalsanchez commented on #96
Hi @aDaneInSpain, please, check this thread.

[2017-06-16 09:45] aDaneInSpain commented on #96
Thanks for pinging me.

We can add 2-3 ads. They will be 125x125 images followed by a short line of text.

Example:

If we would prefer another ad format I can try to see if that is possible.

[2017-06-16 09:47] aDaneInSpain commented on #96
Also... we are allowed to say "Please consider visiting our sponsors" which I think would help clicks which is what we get paid by.

[2017-06-16 09:58] Sandra97 commented on #96
2-3 ads on a newsletter? That's a lot in my opinion.
I know we need money, but putting ads everywhere is quite disturbing and starts to become intrusive.
I'm not against ads of course, but I feel like we're turning everything into ads place and that they are gonna be more important than the content. But it's just my opinion.

[2017-06-16 10:04] anibalsanchez commented on #96
In my view, I think we are having a good balance between information, service, sponsorships and promotions.

[2017-06-16 10:05] aDaneInSpain commented on #96
They are very small. 125x125 - 2-3 ads will take up about the same as a standard banner.

[2017-06-16 12:00] parthlawate commented on #96
I think if we can find less intrusive formats but which are also highlighted well like the text one I have on my example .. it could be a good balance ..thoughts ?

@aDaneinSpain can u tell us what alternatives for format are available ?

[2017-06-16 12:32] aDaneInSpain commented on #96
I have asked about other formats. I think we are allowed to only use the image or only use the text if we want to. It is CPC (cost per click) so we only get paid if someone actually clicks the link/image so I do not think it matters much to them how it looks.

[2017-06-16 19:30] Sandra97 commented on #73
Any update about that?

[2017-06-16 19:31] Sandra97 commented on #74
Any news about that?

[2017-06-17 17:23] Sandra97 commented on #69
https://docs.google.com/document/d/14pHmjsEMu-UYbEwJuvH8oVL1A52_9571uaK2at1rIHo/edit
Mike and I started working on this doc last year.
Any help is more than welcome to continue it.
If nobody does, well, I'm afraid that as usual I will have to take care of it by myself

[2017-06-18 09:23] parthlawate commented on #69
@Sandra97 Sure we'll help :) I think however moving everything into an XLS with tabs might make it easier to manage. Are you ok with Doing that ? I can organise some help to make this happen..

[2017-06-18 09:35] Sandra97 commented on #69
The format is not important for me, it can be an XLS.
The folder where to add the file: https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8ZUMzdGpLdEJtTWM
Thank you!

[2017-06-18 09:41] parthlawate commented on #96
If its Pay per click -- you are right formats might not matter. But they could :) Let us know when you know ! For now maybe @shirdesign can be innovative & have the freedom to make the ads look more natural in the newsletter.. I think thats very important

[2017-06-18 10:16] shirdesign commented on #96
Ok. will do my best later today:)

[2017-06-18 10:25] parthlawate commented on #89
Started here .. https://docs.google.com/document/d/1tl-Sv2hR0rmL5fOxAi_bWOvdCWINds0_UKbu_qb2OAA/edit

[2017-06-19 07:21] aDaneInSpain commented on #96
I think we have to stick with the ad format we have been given. We can change in the future if there is a need. But really that format is what we have been told and it should not be difficult to incorporate.

[2017-06-19 07:23] shirdesign commented on #96
Then I suggest to use only the image without the text and maybe use only 2
out of the 3 images.
I will send the correct mockup later.

On 19 June 2017 at 10:21, Søren Beck Jensen <notifications@github.com>
wrote:

[2017-06-19 07:28] aDaneInSpain commented on #96
No, the image alone will drive very few clicks. We need the text. What I said was we ___could___ maybe just have the text, but I think we should aim for both.

[2017-06-19 07:44] Joomv commented on #96
What service is this using?  Would we not be better looking to get newsletter sponsors than littering our stuff with microads with a very small chance of clicks and therefore income?

[2017-06-19 08:00] aDaneInSpain commented on #96
This is using http://www.newsletterdirectory.co which ties in with our BuySellAds account. I think that getting a newsletter sponsor might be a great idea, but until we have one, this can at least generate some income. We earn about 1$ per click so it can add up.

[2017-06-19 09:24] shirdesign commented on #96
![newsletter1](https://user-images.githubusercontent.com/11372410/27278425-0c6f645c-54ea-11e7-8ed1-3d66888d3aad.jpg)
![newsletter2](https://user-images.githubusercontent.com/11372410/27278426-0ca2fe3e-54ea-11e7-95e6-1b4d8f68dcdb.jpg)

Made some changes with 2 places for 125 ads with text.
2 options for BG color.
This is PSD - when it will be approved I will go on to the html...

The ad in the midd

[2017-06-19 09:49] aDaneInSpain commented on #96
I love the 2nd one. But would recommend the following:

- [ ] Remove the middle ad, we will not be using this format
- [ ] Make one of the headlines in section 2 wrap two lines so the two boxes are not the same height. Maybe also vary the text length of the intro text.
- [ ] Same for the ad text. How will it look if **one** of the ad texts is longer than can fit in the box. How ill it wrap?
- [ ]

[2017-06-19 17:42] shirdesign commented on #96
![newsletterjed](https://user-images.githubusercontent.com/11372410/27298008-b565329a-552f-11e7-8c8a-25d7998ae1d3.jpg)
Done the changes @aDaneInSpain
@parthlawate  @anibalsanchez  pls also approve so I can go on and finish implementing the changes in the HTML :)

[2017-06-20 03:26] parthlawate commented on #96
Looks good to me !  Would like to see the final HTML and test for responsiveness

[2017-06-20 06:08] shirdesign commented on #96
Great - will do it tonight :)

[2017-06-20 07:57] aDaneInSpain commented on #96
Great work @shirdesign !

Now add an avatar image here on GitHub :-)

[2017-06-20 08:04] aDaneInSpain commented on #96
One more thing. Could we add the headline to the sponsor section:

And also add a "Learn more" button as call to action in each section?

[2017-06-20 08:07] shirdesign commented on #96
Learn more rather than Read more that we have now?

On 20 June 2017 at 11:04, Søren Beck Jensen <notifications@github.com>
wrote:

[2017-06-20 08:08] aDaneInSpain commented on #96
Either is fine by me. But for consistency maybe "Read more" is better. Thanks.

[2017-06-20 08:13] shirdesign commented on #96
So on the design there is Read more... where would you want to add another
button?
On the sponsorship area?

On 20 June 2017 at 11:08, Søren Beck Jensen <notifications@github.com>
wrote:

[2017-06-20 08:39] ufuk-avcu commented on #97
Then i close this. That's great. You are aware of this...

[2017-06-20 08:39] #97 closed

[2017-06-20 08:43] ufuk-avcu opened #100 "[jorg] Contact form show only up, if you choose the right group."
We have to many support requests here: https://www.joomla.org/media-contact.html
@tonypartridge idea was:

[2017-06-20 08:57] tonypartridge commented on #100
Test

[2017-06-20 15:14] aDaneInSpain commented on #96
Yes under each "banner text".

[2017-06-21 03:47] jayblaq opened #101 "Promotion on Google Domains"
Google domains is in beta and they are offering people to start a web site with site builders.  We need to team up with them and a host!

https://support.google.com/domains/troubleshooter/6010937?hl=en&_ga=2.1868466.220627444.1498016581-1017985441.1498016581

[2017-06-21 08:53] parthlawate commented on #101
Hey Jay thats a good idea.. Do we have any known connects with CloudAccess or Siteground via whom we should approach this ? Passing this on to the teams that would know before we action this in Marketing

[2017-06-21 09:23] tonypartridge commented on #100
Please see:
http://repository.joomla.org/media-contact.html

[2017-06-21 09:34] parthlawate commented on #100
Can you update the part of tech support and any ones that point to the Forums to say --

For technical support, please visit the Joomla Community Forums here: https://forum.joomla.org or the Joomla Stack Exchange https://joomla.stackexchange.com/

[2017-06-21 09:36] Sandra97 commented on #100
And please add the bang to Joomla, for the moment it's still compulsory

[2017-06-21 10:08] tonypartridge commented on #100
thanks @parthlawate and @Sandra97 now updated. I wasn't sure about the bang so tried to leave it out. I always get it confused when it should or shouldn't be included lol.

[2017-06-21 10:09] Sandra97 commented on #100
Don't worry, everybody is confused with it. And if nobody understands a rule, it's just mean the rule is bad ;)

[2017-06-21 10:24] tonypartridge commented on #100
So true!

On 21 Jun 2017, 11:09 +0100, Sandra Decoux <notifications@github.com>, wrote:

[2017-06-21 11:11] shirdesign commented on #96
[Archive.zip](https://github.com/joomla/joomla-marketing/files/1091297/Archive.zip)

Done - who can help and check it?
Responsiveness and all...

[2017-06-21 11:11] shirdesign commented on #96
@anibalsanchez  pls send a test in acymailing -this is based on a newsletter that Sandra made for acymailing so it should be ok.

[2017-06-21 11:18] aDaneInSpain commented on #96
We will be sending using MailChimp though, right?

[2017-06-21 11:18] ufuk-avcu commented on #100
I go through 500 Mails now and the 95% of are because of they have no access to Joomla backend - lost password, forgot password, whatever... Maybe we can have this option also and send them to the right docs.

[2017-06-21 11:31] ufuk-avcu commented on #99
Cleaned up all the Support requests ( 500+ ) and postponed the important ones (~10) to next week.

[2017-06-21 11:31] #99 closed

[2017-06-21 11:31] shirdesign commented on #96
I understood the Jed is sending via acymailing - But it should be the same with MailChimp

[2017-06-21 11:38] parthlawate commented on #96
@aDaneInSpain Nope all Joomla newsletters are moving to ACYMailing AFAIK.. Not sure what JED uses though @anibalsanchez ?

[2017-06-21 11:44] aDaneInSpain commented on #96
OK, thanks.

[2017-06-21 12:14] tonypartridge commented on #100
Yep sounds good will add it in

On 21 Jun 2017, 12:18 +0100, Ufuk Avcu <notifications@github.com>, wrote:

[2017-06-21 12:35] JoeJoomla commented on #101
We have connections with Cloudaccess & Siteground at top levels.

[2017-06-21 12:58] zero-24 commented on #100
What about pointing to issues.joomla.org for "i have found a bug" over the github page?

[2017-06-21 13:04] parthlawate commented on #101
@JoeJoomla I don't think Google will accept 2.. So i think we will have to take a call on who we go with first before we approach Google..

[2017-06-21 13:06] franz-wohlkoenig commented on #100
would send first users to Forums as main Page for Requests. Cause its often not clear if its a Bug or expected Behaviour. From Forum as first clearing Page would  made an issue on Issue-Tracker/Github.

[2017-06-21 13:07] JoeJoomla commented on #101
I have a good relationship with the CEO of CloudAccess. There are people in the project that know the CEO of SiteGround. If you want to go with CloudAccess let me know and I'll start the conversation.

[2017-06-21 13:08] tonypartridge commented on #100
Great point will be @zero-24 now updated. @ufuk-avcu I've also added your question and pointed them to TechnicalSupportForums answer.

What about explaining the forums then advising if they are 100% sure it is a bug you can use X as we don't want to detract offical bug reports?

[2017-06-21 13:15] franz-wohlkoenig commented on #100
it looks like People wrote on marketing or Github cause they don't find the "right" Page. Its not fault of People its about Joomla to make this more clear so people don't have to read "please wrote on forum".

[2017-06-21 14:48] anibalsanchez commented on #96
Excellent, tomorrow I'll send you a few tests. JED has AcyMailing.

[2017-06-21 18:00] jayblaq commented on #101
I personally think Jonathan and Cloudaccess the best bet!  Thank you all
for the input and pushing this forward

On Wed, Jun 21, 2017 at 9:07 AM JoeJoomla <notifications@github.com> wrote:

--
Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

[2017-06-21 18:02] jayblaq commented on #101
As well Joomla could benefit financially via Cloudaccess's great affiliate
program

On Wed, Jun 21, 2017 at 2:00 PM Jay Blaq @ JoomlaXTC <n.j3337@gmail.com>
wrote:

Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

[2017-06-22 08:26] aDaneInSpain commented on #96
OK, please send me a test :-)

Also, we need to re-generate the links for the advertisers just before sending the newsletter so please let me know 24 hours before we are ready and I will request that they re-generate them.

[2017-06-22 08:31] anibalsanchez commented on #96
You'll receive several tests for sure!

[2017-06-22 10:02] ufuk-avcu opened #102 "[copywriting] Write an announcement for the new Joomla (!) rules."
This task should be include the link from here #103 after the Brand Manual Page is renewed!

See also here https://github.com/joomla/joomla-marketing/issues/103

[2017-06-22 10:02] Sandra97 commented on #61
Have you seen with the JCM for publishing on a weekly basis? Usually, it's only once a month and they don't usually accept to publish at another time

[2017-06-22 10:05] Sandra97 opened #103 "[Brand Manual] Edits to fit the new rule for the bang"
As the bang is now compulsory only in the logo and the TM, the brand manual will have to reflect these changes.

When ready, ask @jeckodevelopment to review it before publishing.

[2017-06-22 10:06] parthlawate commented on #61
Nope its only monthly .. We can have 1-2 interviews per month in each issue

[2017-06-22 10:06] ufuk-avcu commented on #103
Link to the Brand Manual: https://tm.joomla.org/brand-manual-and-limited-use-logos.html

[2017-06-22 10:10] ufuk-avcu opened #104 "[meeting] Organize a Meeting for the J4 Landing Page Team"

[2017-06-22 10:10] Sandra97 commented on #104
Create a doodle ;)

[2017-06-22 10:11] parthlawate commented on #101
@All Since Joomla is an Organisation we wont just be able to pick a vendor.. This will most possibly need to go via an RFP .. This has been pushed to leadership for the same. Will update here when we know more

[2017-06-22 10:11] Sandra97 commented on #102
And a link to the JDocs series, as it's multilingual ;)

[2017-06-22 14:31] anibalsanchez commented on #96
Hi @shirdesign ,

I've just sent you a test of the newsletter. I simply pasted it into an Acymailing template, the body in the Html area, and the styles in the Stylesheet.

Checking it in Gmail... the images are being rendered with a different aspect ratio and buttons are blurred.

Let me know how to fix it. Txs!

[2017-06-22 14:37] shirdesign commented on #96
Will check tonight and let u know

On 22 Jun 2017 5:31 p.m., "Anibal Sanchez" <notifications@github.com> wrote:

[2017-06-22 14:42] AlisonAMG commented on #103
Let me know when works for you Sandra and we can get it tuned up.

[2017-06-24 10:18] webdjam opened #105 "Images for an article"
Hello @Sandra97
I'm publishing an article on the Joomla! Community website, the article is a call for translators, to translate our JUG Rules and Faqs on docs.joomla.org, to illustrate the article I need an Image that fit the content of the article.
Thank you,
Djamel

[2017-06-24 10:22] Sandra97 commented on #105
Here it is:
![1](https://user-images.githubusercontent.com/4682328/27507812-69dd7cd2-58a5-11e7-8427-a6dd7d329c39.jpg)

Tell me if it's ok for you.

[2017-06-24 17:02] webdjam commented on #105
Awesome @Sandra97  thank you very much!

[2017-06-24 22:00] tonypartridge commented on #100
Where are we with this? Can we get to some agreement to push it live or scrap it?

[2017-06-24 22:20] Sandra97 commented on #100
@tonypartridge,  few things:

- nothing is displayed when I click on "I need technical support"
- I can't access to the backend': I think it's better to link to the forum and JDocs
- I have found a buf: nothing is displayed. Please link it to issues.joomla.org
- Nothing is dispalyed for my website is down': link it to the forum

Personally, I would do it a bit differently:
- I need support for my

[2017-06-25 03:52] parthlawate commented on #100
Let's go ahead with it ! And yeah like Sandra's idea to link to the correct JDoc tutorials or just Jdocs where needed

[2017-06-25 04:45] shirdesign commented on #96
@anibalsanchez  pls send one testing to me? so I can see the problems?
shirat@shirgdesign.com

[2017-06-25 09:23] anibalsanchez commented on #96
Hi @shirdesign , I've just sent you the test **JED Newsletter 2017**

[2017-06-25 11:07] shirdesign commented on #96
Sending you the correct files within the next 2 hours

On Sunday, 25 June 2017, Anibal Sanchez <notifications@github.com> wrote:

[2017-06-25 13:04] shirdesign commented on #96
[Archive2.zip](https://github.com/joomla/joomla-marketing/files/1100325/Archive2.zip)
sorry made a mistake with the height of the banners - now fixed -and re-saved the read more img - hope it helps

[2017-06-25 17:27] Sandra97 commented on #105
Article published.
I'm closing this issue.

[2017-06-25 17:27] #105 closed

[2017-06-25 17:27] Sandra97 commented on #104
Meeting scheduled for tomorrow (Monday 26).
Closing this issue.

[2017-06-25 17:27] #104 closed

[2017-06-25 17:29] Sandra97 commented on #103
I will send you the needed changes as soon as I have a clear statement about the new rules ;)

[2017-06-25 17:31] Sandra97 commented on #91
Anyone has prepared some content for that?

[2017-06-25 17:32] mbabker commented on #103
From the BoD meeting minutes:

So plain body text doesn't need it.  When using the logo or referring to the name in a trademark context, use it (i.e. the footer text on the Framework site which makes references to various registered and trade marks).

[2017-06-25 17:34] Sandra97 commented on #84
Any update on that?

[2017-06-25 17:36] Sandra97 commented on #63
@shirdesign Did you had time to start working on the pics?

[2017-06-25 17:39] Sandra97 commented on #65
Personally, I honestly don't think we should do posts about international days which are not related to the internet, like Wolrd Cancer Day, Women's Day, Youth Day of all that kind of things.

[2017-06-25 17:41] Sandra97 commented on #65
And could you please move your sheet to the right folder:
https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8YVVvTWdOMExHb2M

Thank you!

[2017-06-25 17:49] Sandra97 commented on #103
As far as I know, we have 1 registered trademark, the others are trademarks but not registered.
If the brand name is used in the text, so the bang is still mandatory (and it's gonna be a pain).
As not mentioned, I presume the bang in graphics is still mandatory.

[2017-06-25 17:50] shirdesign commented on #63
Sorry, Sorry - completely slip my mind... I will work on it tomorrow / Tuesday.

[2017-06-25 17:53] Sandra97 commented on #63
Thanks Shirat!

[2017-06-26 05:44] parthlawate commented on #84
Form is ready. Campaign is being planned. Overall updates on all campaigns started at JAB i would take in July when most will be ready to be launched

[2017-06-26 05:45] parthlawate commented on #65
I agree.. Its seen as very bad tactics to use un related events and occasions.. We should only stick things that relate to Joomla as a product and project

[2017-06-26 05:47] parthlawate commented on #91
@Sandra97 This is just the 'List' So there will be an agency specific list. What content will go out will vary. This is considered as part of the overall Agencies campaign.. However we do need a list on Joomla.org Newsletter where Agencies can subscribe to it. If you want an introduction to the list it can be as below.

The Agency List
If you are an agency using Joomla to delivery powerful website

[2017-06-26 05:54] parthlawate commented on #79
Closing this as @Sandra97 has already taken care of this. The new design that Shirat is working on for the JED can be used as a base for all newsletters

[2017-06-26 05:54] #79 closed

[2017-06-26 09:46] Sandra97 commented on #91
As web agencies are our main target, I'm not sure we need a separate subscription form for that.
And I'm not sure neither we should create I don't know how many newsletters on jorg, it will just be a mess and users will be lost if we have too many newsletters.
jorg newsletter is for the moment only a newsletter with the latest announcement. We will of course keep it to inform our users of the late

[2017-06-26 09:56] Joomv commented on #91
I think we need to build the strong general lists first.   Once we have those we can look to starting to survey and niche people.  Whilst we're still quite short staffed with a massive backlog, think it best to do the 2 lists we have right then in the future when we've got a good following we can look to break them down.

[2017-06-26 10:24] parthlawate commented on #91
The way I see it is that all 'Joomla Customers' should have just one place to subscribe to all available lists. That way its easier to drive more users to sign up overall.

I would not do a 'Joomla Marketing' newsletter.. Atleast not call it that .. As 'End users' sign up to a Newsletter.. People sign up for Targeted News, Updates, Tips, Tricks that will help them.. Each list should have a target

[2017-06-26 11:24] Sandra97 commented on #91
Let's do step by step.
If the plan is to create many lists and have many newslteers, it is not a good idea as it's not realistic, I prefer small but achievable plans than big plans which won't happen (,no need to mention that this 'global' newsletter should have been ready 2 years ago...) .
So let's first start with one 'global' newsletter per month or every 2 months with content provided by the m

[2017-06-26 11:47] #78 closed

[2017-06-26 12:25] Joomv commented on #91
I think we both completely understand the "vision" here @parthlawate  but we also know the ecosystem and the staffing levels, as Sandra said.  We've only just launched the main newsletter.  Lets make that one fly, then when it is established, we can look at diversifying them.  Better to have one well maintained strong list than several diluted ones that drop through the cracks.

[2017-06-26 13:07] parthlawate commented on #91
Agreed :) I don't think we want many newsletters that are not manned ! Once all are consolidated in once place (Without creating any new ones) we will achieve what i wanted to start with - A common place to promote subscribing to all kind of Joomla updates.. Once we are there. We can add more if needed like you say !

[2017-06-26 13:08] parthlawate commented on #91
I'm keeping this one open for now as the overall agency campaign will see a lot of content getting created that could be good stuff for an Agency adopting Joomla. If we see no movement on this one month from now, lets close it

[2017-06-26 14:59] agerix commented on #94
Oui Mat ? :)

[2017-06-26 15:13] agerix commented on #91
As we are doing for our newsletter, you can use custom fields from Acymailing and add them in the subscription form. After that you can use them to add people in list with mass action. For example if you have a radio button Agency Yes/no...

[2017-06-26 15:22] Sandra97 commented on #94
I'm not against seeing other french names than mine for edit of the french page ;)
![a](https://user-images.githubusercontent.com/4682328/27546758-186b329c-5a6a-11e7-95c5-994645e7a122.png)

[2017-06-26 15:24] Sandra97 commented on #94
Ideas are a good thing, but I would really prefer seeing things being done.

[2017-06-26 15:27] agerix commented on #94
Saying it's a good idea is the first step to participation isn't it ? How many people are on github and receive this message ? May be the second step is here for me

[2017-06-26 15:28] Sandra97 commented on #94
It wasn't against you Eric, it was a general comment ;)

[2017-06-26 15:33] agerix commented on #94
No problem Sandra, we know each other and we also know that the things we read are not the feeling we want to give. I'm agree with you, communities are full of ideas ans poor of contributors, I'm not a fan of Github because I don't use it as a developer but I just discover marketing threads here and it's a surprise to see interesting subject ;)

[2017-06-26 20:04] Sandra97 opened #106 "[URGENT] Blogpost for CMS Critic 2017"
The 2017 CMS Critic Web Awards are open for nominations (from June 26, 2017 until August 27, 2017).

We need a blogpost to publish on cjo as soon as possible.
I'll take care of the picture.
I've forwarded you the email from CMS Critic so you have all information.

Give a look of what has been done last year for the blogpost:
https://community.joomla.org/blogs/community/3061-the-cms-critic-awards-a

[2017-06-26 20:23] Sandra97 commented on #106
Tell me what you think

![cms-critic-2017](https://user-images.githubusercontent.com/4682328/27558616-24a7c762-5a94-11e7-8952-09ecdd3b5ff4.jpg)

[2017-06-27 02:26] parthlawate commented on #106
On it !

[2017-06-27 04:27] parthlawate commented on #106
Done https://docs.google.com/document/d/1xJGCl2JT0erT3QpS5CEhnk9IwrtMdKvcJSaE1Ax2JVk/edit#
Please review and add comments. When ready i can publish

[2017-06-27 08:25] parthlawate commented on #94
So whats the next step

[2017-06-27 09:52] Sandra97 commented on #106
Review and comments done.
Ok for me.
Can we publish it today?

[2017-06-27 10:14] parthlawate commented on #106
Replied.. Should be good to Publish today.. @Sandra97 will you be able to publish ? Stepping out of office for a couple of hours now.> Have done the changes you requested

[2017-06-27 10:19] Sandra97 commented on #106
@parthlawate Yes I can publish it. In a few hours so that most of the world is awake

[2017-06-27 10:22] mikeveeckmans commented on #106
added 2 comments

[2017-06-27 10:22] Sandra97 commented on #94
Whe should put that task under the local community department (wen this department is functional).
I'll continue to update the French and English versions, but for sure would be better if more people can do it and for more languages

[2017-06-27 10:24] Sandra97 commented on #106
Accepted!

[2017-06-27 10:33] tonypartridge commented on #100
@Sandra97 changes made as requested. Please see:
http://repository.joomla.org/media-contact.html

[2017-06-27 10:36] ufuk-avcu commented on #100
I tested all the links and they work fine. @tonypartridge great job! Thank you!

[2017-06-27 10:39] Sandra97 commented on #100
Fine for me. Thanks Tony! Now my turn to work

[2017-06-27 11:08] Sandra97 commented on #106
I will publish it in approx. 3 hours

[2017-06-27 11:23] Sandra97 commented on #106
Ready in the cjo backend!

[2017-06-27 11:41] shirdesign commented on #63
Ok - Started working on the task -
A few Q so I can run with it:
1. where can I get good quality logos for the sponsors and partners?
2. What are community sponsors? I can't see their logos...
3. Where can I get the original Heart image from the sponsor page? I need it good quality and also it has a Hebrew mistake.
4. I thought for the sponsor text use the text from the page + put the heart + in e

[2017-06-27 11:50] Sandra97 commented on #63
1- Not sure we have, do like me, Google them ;)
2- For community sponsors, I'll ask if we should do something or not about them
3- No idea where is the source file. You can find another one here: https://drive.google.com/drive/u/1/folders/0By_CBGYGBbU8R1VuSVNXbEJOODg
If you don't like it, you can search for another one in our 123RF library (just ask me so that I can create your an access)
4. Ok fo

[2017-06-27 13:43] Sandra97 commented on #106
Published.
https://community.joomla.org/blogs/community/3120-the-cms-critic-awards-nominate-joomla-today.html
Closing this issue.

[2017-06-27 13:43] #106 closed

[2017-06-27 13:45] aDaneInSpain commented on #101
We just had a meeting in the Capitals team and I will be writing an RFP for this ASAP

[2017-06-27 13:49] parthlawate commented on #101
Thanks for the update ! We'll keep this open till the RFP is posted and closed

[2017-06-27 15:49] Sandra97 commented on #100
Thank you a lot @tonypartridge!! You made my life easier :)
The form is merged to jorg and works fine.
Closing this issue.
Re-open if needed.

[2017-06-27 15:49] #100 closed

[2017-06-28 08:49] Aidan38 commented on #92
Hello,
could you please be more precise about the needs of this project?

Thank you!

[2017-06-28 08:52] Aidan38 commented on #92
Hello,
could you please be more precise about the needs of this project?

Thank you!

[2017-06-28 16:16] shirdesign commented on #63
Are we on a deadline?
I'm starting the weekend early and need to know if to push a few more hours of work - a.k Joomla fun;) or I can continue on Sunday...

[2017-06-28 16:23] Sandra97 commented on #63
Hi Shirat,
As far as I know, we don't have a deadline.

[2017-06-29 04:23] parthlawate commented on #70
I think that should be fine.. Since over time we will have more people adding from multiple sources

[2017-06-29 04:23] parthlawate commented on #74
Started here by @ufuk-avcu .. Have modified and added to it.. In the Queue now for JCM July

https://docs.google.com/document/d/1hosK8-iC3rZGdbsGYO-HssDtxphUICmi2gQ0xP9jC1g/edit#

[2017-06-29 06:34] parthlawate commented on #92
Hello Aidan,

Sure ! The goal is to create ready to use collateral that allows Agencies to Promote Joomla/Sell it as a solution to their clients. Examples could be as below.

1. An Introduction to Joomla Presentation (Focussed on Clients) showing what benefits the Agency will be bringing to the client by using it as a base for their project

2. Similar to Above case Print Brochure

3. Ready emails

[2017-06-29 07:04] anibalsanchez commented on #96
Today, I'm retesting it. Txs.

P.S. Got delayed updating to the latest jorg 2.2.0.

[2017-06-29 07:43] aDaneInSpain commented on #96
Please also send me a test :-)

[2017-06-29 17:21] anibalsanchez commented on #96
Hi,

I've just sent you a test.

Please, note that images are still being included in this way:

					<tr>
						<td class="w240" style="text-align:center; color:#7d7d7d;" valign="top" width="240">
                        <img alt="banner"  src="images/joomla-homepage-redesign.jpeg" style=" width:600px; " width="600" />

...

					<tr>
						<td class="w240" style="color:#7d7d7d; text-align:center

[2017-06-29 17:28] tonypartridge commented on #96
This is usually down to jce btw if you are using jce needs to be set relative = no

On 29 Jun 2017, 18:21 +0100, Anibal Sanchez <notifications@github.com>, wrote:

[2017-06-30 04:48] shirdesign commented on #96
Something is weird in the way it pls try taking of the width from all the images and see if that helps. The code has style for each of the img and it should take care of the size.
Thats why I hate coding newsletters. There is always an issue with the style vs. the code...

[2017-06-30 05:27] parthlawate commented on #96
I typically use this to test.. It will also inline any CSS and report if any email clients will have issues.. There are some other tools out there too...

http://premailer.dialect.ca/

[2017-06-30 07:48] tonypartridge commented on #96
I also tend to use a thing called mail designer Mac since newsletters are so specific in what can be used. This just makes it child's play 😂

On 30 Jun 2017, 06:27 +0100, Parth Lawate <notifications@github.com>, wrote:

[2017-07-01 18:54] Sandra97 commented on #55
I'm working on it, but it will be a .psd as I'm really too bad with .ai

[2017-07-02 11:30] Sandra97 commented on #55
@jeckodevelopment Could you tell me if it's ok:

![structure-july2017](https://user-images.githubusercontent.com/4682328/27769487-55e75a6e-5ef8-11e7-8a2e-1b84e2b6d194.jpg)

[2017-07-02 21:18] yvesh commented on #55
Great work @Sandra97!! +1

[2017-07-02 22:04] Sandra97 commented on #55
I won't do that twice 😝

[2017-07-03 10:35] shirdesign commented on #96
@anibalsanchez  I've tried using the link @parthlawate  posted.
try using this new index (index2)
[Archive.zip](https://github.com/joomla/joomla-marketing/files/1119213/Archive.zip)
- hope it will help...

I am also trying to use the program tony suggested - will see what new I will discover... :) will let u know

[2017-07-03 14:15] JoeJoomla commented on #55
Wow, what a great job Sandra.

Joe

[2017-07-06 12:54] anibalsanchez commented on #96
Hi @shirdesign , most of the newsletter looks fine now.

I've just sent you a test.

Only the banners are misaligned now.

[2017-07-06 13:23] parthlawate commented on #96
Hi,

here's a screenshot of the affected area
![screen shot 2017-07-06 at 6 50 16 pm](https://user-images.githubusercontent.com/673176/27913037-69ee549a-627c-11e7-9d80-45f0ea12a245.png)

[2017-07-06 13:28] aDaneInSpain commented on #96
Yes, the text to the right of the images should be left aligned and have a
little margin/padding to the left.

--

Soren Beck Jensen

Director

soren@notwebdesign.com

Phone: +34 958 82 82 01

Not Web Design <http://www.notwebdesign.com> is part of Jensen Technologies
S.L. <http://www.jensentechnologies.es>

On Thu, Jul 6, 2017 at 3:23 PM, Parth Lawate <notifications@github.com>
wrote:

[2017-07-08 21:19] Sandra97 commented on #89
Article published. I'm closing this issue.

[2017-07-08 21:19] #89 closed

[2017-07-08 21:20] Sandra97 commented on #74
Article published in the July issue of JCM.
I'm closing this issue.

[2017-07-08 21:20] #74 closed

[2017-07-08 21:21] Sandra97 commented on #73
No news after 22 days. It won't happen obviously.
I'm closing this issue.

[2017-07-08 21:21] #73 closed

[2017-07-08 21:23] Sandra97 commented on #69
I've started to create pictures, posts and issues in the social media repo so that someone can make it happen.
No need to have several issues open for that. Except if someone wants to help me with copywriting and pictures. OK, I AM DREAMING AGAIN! ;)
So I'm closing this issue.

[2017-07-08 21:23] #69 closed

[2017-07-08 21:28] Sandra97 commented on #59
As usual, nobody is giving a flying f**** so I've started a folder and will do what I can when I can.
At least, we have something... https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8UGVkZ0RNbXlKQ28

I'm closing this issue or it will stay open for centuries.

[2017-07-08 21:28] #59 closed

[2017-07-08 21:31] Sandra97 commented on #55
As the tasks is done and nobody asked for any changes, I consider this task as achieved.

Source file is here: https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8U0VMemNOTkZ0VUk
If anyone needs an access, just ask me and if I'm in a good mood, I'll maybe accept to grant access ;)

I'm closing this issue.

[2017-07-08 21:31] #55 closed

[2017-07-08 21:37] Sandra97 commented on #94
@ufuk-avcu Any progress about that or should I just close this issue?

[2017-07-08 21:41] Sandra97 commented on #93
I'm closing this issue. A wiki is for users maintained by users.
Replace the current content of the page, your edits will just be reverted.
Better to find people to check if there's no commercial links and that information are correct and up to date.
I would be happy to see in the history other names than mine....

[2017-07-08 21:41] #93 closed

[2017-07-08 21:50] tonypartridge commented on #59
@joomv has hacked tont's github just to say we love you have some gin

On 8 Jul 2017, 22:28 +0100, Sandra Decoux <notifications@github.com>, wrote:

[2017-07-08 21:50] Sandra97 commented on #65
I've started to fill the calendar: https://calendar.google.com/calendar/render?mode=day&date=20170624T104055#main_7%7Cday-1+24280+24280+24280

[2017-07-09 16:49] parthlawate commented on #73
There was no list collected at JAB .. I have content ready but no one to send it to.. so I have published article on JCM

[2017-07-10 12:43] brianteeman commented on #65
Hope this helps
https://spreadthejoomlalove.com/history

[2017-07-10 12:46] brianteeman commented on #96
Please think and consider what the newsletter looks like if images are not displayed

[2017-07-10 13:28] JoeJoomla commented on #65
I really like that page on spreadthelove.com/history btw. Very nicely done.

[2017-07-12 22:15] mikeveeckmans commented on #76
any movement?

[2017-07-12 22:18] mikeveeckmans commented on #84
Do you guys need a review on the form and content of the mail ?

[2017-07-13 02:24] parthlawate commented on #84
Yes please @mikeveekmans ! Always :) .. it's been privately circulated so far.. but pls do review .. we can add the changes before wide circulation

[2017-07-13 11:45] ufuk-avcu opened #107 "[Team Meeting] 17 July 2017 - Document"
Topics
- [ ] Video Production
- [ ] Print Magazine
- [ ] Marketing Onboarding
- [ ] Brochure
- [ ] Tasks
- [ ] Issues in github

[2017-07-13 11:47] #107 closed

[2017-07-13 16:43] jeckodevelopment commented on #55
Thank you @Sandra97 and excuse me for the huge delay :)

[2017-07-14 17:13] ankitify commented on #96
@shirdesign I can help in testing as well.

[2017-07-17 07:23] shirdesign commented on #96
@anibalsanchez  sorry didn't see the response - will see what the problem is later today.
@ankitify  thank you for your offer - I will just finish the last fixes for this newsletter today hoping no more testings will be required.

@brianteeman are you referring to text version?

[2017-07-17 07:54] aDaneInSpain commented on #96
Please all remember that we have to re-generate the ads before sending. I need to know when we are ready and then get them generated. They only last 7 days.

[2017-07-17 08:41] brianteeman commented on #65
Thanks @JoeJoomla its just a blog category with a template override

[2017-07-19 08:34] ufuk-avcu opened #108 "[Printed Magazine] Organize a Team"
At the JoomlaDay UK in London wo talked with Simon Grange. He showed us his Cinnk Magazine. He is willing to do something like that for the Joomla Project. I add him here, after i get his github account and we can start with the plannings.

[2017-07-19 09:58] MATsxm commented on #108
Maybe you should ask for help from @sanderpotjer (AFAIR he managed the NL Mag that was a real success) and also Simon Grange (http://cinnk.com/magazine) who is doing a tremendous job with his Mag

[2017-07-19 10:04] Joomv commented on #108
It was conversations with both of them that started this thread.  Simon in particular.

[2017-07-19 11:49] netamity opened #109 "Podcast"
I am interested in producing a podcast about Joomla, and I'm seeking people's input on that they'd like to listen-to, and how they might be able to help.
There have been previous and current podcasts related to Joomla:
http://joomla.org.au/forum/general-discussions/7018-new-joomla-podcast-the-tim-plummer-joomla-show
and
http://joomlabe.at/

I have things in mind that I'd like to have included in t

[2017-07-19 11:51] netamity commented on #83
Do you mean blogs giving an unfair review or misinformation about Joomla?

[2017-07-19 12:17] netamity commented on #109
Is there a place i can share this with the whole Joomla volunteer community, not just the marketing bods? I really want to get everyone's input, regardless of how they are involved

[2017-07-19 12:22] parthlawate commented on #83
Yes thats the idea..

[2017-07-19 12:23] Joomv commented on #109
This is a public facing repo.  Anyone can view these posts.
We have a private repo too for more sensitive discussions, but this repo is fully public facing.

[2017-07-19 12:37] parthlawate commented on #109
We had an idea in the past which we started and did 2-3 editions was as a Google Hangouts on air..  It was a lot of fun and we got anywhere between 100-150 people passing through.. and many more views later on youtube.. I'd love to be part of something like that again ! You can see some of them here https://www.youtube.com/watch?v=ScrYMaZTxWY & here https://www.youtube.com/channel/UCrY5f72iOIh7vzu

[2017-07-19 12:51] netamity commented on #109
Great idea, that google hangout thing, and obviously great scope for live involvement if it had a regular live audience. I'll watch in full.
I am more interested in a making a produced/edited, audio-only podcast. I listen to podcasts constantly, and often while doing working or commuting, so something eyeball independent works better for me. I also fancy the idea of watching myself on camera even

[2017-07-19 12:57] netamity commented on #109
The visual medium I think is MUCH better for the 'technical deep dive / analysis' segment I proposed. I was always skeptical if that could work on an audio-only format, but it's something I'd watch if it were available.

[2017-07-19 13:00] JoeJoomla commented on #109
Would there be any value in getting in touch with others who have done this sort of thing in the past? There use to be a great Internet radio show called Joomstew that was run by Robert Vining and Peter Bui did a podcast for a long time too. Each of them ran out of steam trying to keep it going on their own which was unfortunate.

Do you want to get in touch with either of these Joomlers to gather

[2017-07-19 13:08] netamity commented on #109
I've tried to make contact with Peter Bui and Tim Plummer, but been unable to get a response. If you know these individuals personally, would you mind getting in touch to see what news and insights they can offer?
Peter Vining, I don't have his contact or links to the show- can you provide?
I'll check out Sarah Walz' facebook series and get in touch with her.
Many thanks for all this!

[2017-07-19 13:12] netamity commented on #109
With regard to the previous podcast type things, it'd be interesting to hear why they ran out of steam from the people who made them, and from their listeners.
My other concern is that I'm scratching my own itch here, because I'd love such a podcast, but it'd be nice to know that enough others would listen to such a thing to make it worthwhile.
How can I unobtrusively get a show of hands from the

[2017-07-19 13:14] JoeJoomla commented on #109
I’ve reached out to Peter the only way I can, via Glip. If I don’t hear back from him I’ll try him through his website.

I’ll ping you on the side with Robert’s contact information shortly.

[2017-07-19 13:23] parthlawate commented on #109
If we can it would be good to do as a 'Joomla' thing with a way to pass the baton to ensure continuity.. Robert and Pete did an awesome job with the Podcasts.. If we can institutionalise it , it would be fantastic..

[2017-07-19 13:31] netamity commented on #109
Absolutely, I want to learn from the lessons and carry on the good work or previous podcasts. By 'institutionalising' the podcast, do you mean have it under the direction of the Joomla team, rather than a joomla user's side project, as previously? I see that having it's merit, as you say, so that it can be carried on and be an 'official' podcast. I like the idea, as long as the people producing it

[2017-07-19 13:32] netamity commented on #109
By the above, I want the podcast to be a mouthpiece for the community as much as the Joomla team

[2017-07-19 13:40] JoeJoomla commented on #109
If the Joomla project takes this on officially it should only be done with very careful consideration. It's going to need a lot of support to keep it going long term. Being realistic in expectations with regards to how many official episodes are done would be prudent. Less, done well, is better than a lot done poorly. Making promises such as a monthly broadcast and breaking that promise will only

[2017-07-19 13:47] netamity commented on #109
Agreed, and I don't wish to underestimate the amount of effort required for such a thing. I agree that quality is much more important than quantity. I'd love for the Joomla project to buy into this! I think the podcasts from events would be great too!

[2017-07-19 14:32] Joomv commented on #109
I've pinged Pete on Facebook and linked to this.
Done right this is not a huge amount of work and doesn't need a massive team.
It needs some planning and scheduling and community member co-operation, but not some massive team.

[2017-07-19 14:33] Joomv commented on #6
Closing this because its now up and running

[2017-07-19 14:33] #6 closed

[2017-07-19 14:34] Joomv commented on #43
Closing this.

[2017-07-19 14:34] #43 closed

[2017-07-19 14:35] Joomv commented on #58
Joomla! The Flexible Platform Empowering Website Creators
This was decided on by OSM at meeting before JAB.
Closing.

[2017-07-19 14:35] #58 closed

[2017-07-19 14:36] Joomv commented on #61
@parthlawate  @ufuk-avcu  where are we at with this?

[2017-07-19 15:07] parthlawate commented on #61
No interview after the initial one with George which was published in this JCM as well. Next one We'll plan out when we meet later this week

[2017-07-19 23:08] pbwebdev commented on #109
Hello!

@JoeJoomla I don't use glip, really dislike the platform. Slack is much better for me and our teams. I wish the Joomla Project paid for a Slack account :(

@Joomv Yes I'm always on the bookface.

@netamity Hey Andy, I don't recall seeing any messages from you via the website or social media. I'm usually very responsive to any emails and requests that come through.

The main reason why I st

[2017-07-20 08:26] aDaneInSpain commented on #96
I made a mock up for another newsletter for how the ads could look.
![image](https://user-images.githubusercontent.com/4998032/28407827-d37fe19e-6d35-11e7-93fd-ec336dbe3e6b.png)

[2017-07-20 08:26] aDaneInSpain commented on #96
Headline in Layout 3 should be a content headline not a call out for support.

[2017-07-20 08:35] anibalsanchez commented on #96
It's going to be better to redesign it on [Foundation for Emails 2](http://foundation.zurb.com/emails.html).

[2017-07-20 08:40] aDaneInSpain commented on #96
Yeah, not sure what the hold up is for this.

[2017-07-20 09:12] shirdesign commented on #96
Sorry - had really hard few weeks as just came back to work from maternity leave & my grandmother died so I was off balance and hoped the fixed I did would solve the problem...
I've based the design on Sandra's and I see that its not as flexible as I thought it was.
I've just downloaded Foundation for Emails 2. and will see if I can quickly learn how to use it.
Will let you know if that worked as

[2017-07-20 09:44] aDaneInSpain commented on #96
Sorry to hear about your Grandmother :,(

Thank you for getting back on this!

[2017-07-20 12:41] JoeJoomla commented on #109
Peter,

Thank you for the great information and insight.

An official Joomla podcast could have the support of our advertising and promotional efforts to the Joomla community. Surely this could be helpful in breaking through 4,000 views a week. Regardless, it would be a good indicator of how we are doing with regards to reaching the community and the projects popularity within it.

Joe

[2017-07-20 13:11] netamity commented on #109
Yes, thank you Peter,

Great info!

I believe I tried to contact you through your site about a month, but whatever the case, I’m pleased to make contact with you now, and thrilled to get that data.

As with all aspects of the podcast, the format is up in the air, but I’d be interested to get your take on these:

- Extension reviews and guides: I know these were a regular segment on your podcast. U

[2017-07-20 14:01] shirdesign commented on #96
[Archive 2.zip](https://github.com/joomla/joomla-marketing/files/1162492/Archive.2.zip)
OK, So I've put the newletter throgh the Foundation for email + installed Acy mailing and checked with it...
1. make sure that when you change images it doesn't auto puts width="" in it...
2. I still have something small on mobile and an annoying blue link that I will figure out tomorrow.
@anibalsanchez  @parth

[2017-07-21 11:30] ufuk-avcu commented on #109
Great discussion here! @netamity after contacting @pbwebdev, contact me aslo please. Then we can do a small skype or hangout conference and define the next steps and what you can do, what do you need and so on...

[2017-07-21 11:50] ufuk-avcu commented on #103
@Radek-Suski can you ask the Board for a statement for this issue?

[2017-07-21 11:54] Radek-Suski commented on #103
I did yesterday. We need to consult our lawyers first

[2017-07-21 11:55] ufuk-avcu commented on #101
@aDaneInSpain any new informations about this issue?

[2017-07-21 11:58] ufuk-avcu commented on #94
@Sandra97 no it's not done. Parth started a new Group in Glip called "Marketing - Wiki Maintenance Group". But we need to collect much more people. There are only 5 people. We should promote that idea. I try to find a copywriter for that...

[2017-07-21 12:00] ufuk-avcu commented on #94
Maybe we should consider to write from time to time a blogpost and promote it and don't try to organize it by ourself.

[2017-07-21 12:24] #67 closed

[2017-07-21 12:25] ufuk-avcu commented on #61
@parthlawate this is an another project. We setup a google form. I think you mean the video interview... @yvesh any news about the rest?

[2017-07-21 12:44] aDaneInSpain commented on #101
Yes, we have finished the RFP and it will be published very soon by @Joomv - it was discussed briefly at Yesterday's board meeting.

[2017-07-21 18:26] jayblaq commented on #101
Fantastic!

On Fri, Jul 21, 2017 at 8:44 AM Søren Beck Jensen <notifications@github.com>
wrote:

--
Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

[2017-07-21 19:20] yvesh commented on #61
@ufuk-avcu 3 responses so far. Robert J. and @jeckodevelopment still missing ;)

You have full edit and review access to the form. For the other 5 members we should set up some different questions, like we talked about. But you can start by publishing the 3 ones which are ready.

[2017-07-23 10:48] jeckodevelopment commented on #61
I should have answered to this @yvesh .
If i didn't could you please send me again the link?

[2017-07-24 07:48] projcodeacious commented on #87
I quite like checklist @parthlawate. Most of the time it is associated with rewards(in terms of points or badges) which make users curious to complete them.

[2017-07-24 07:50] ankitify commented on #87
I quite like checklist idea @parthlawate. Most of the time it is associated with rewards(in terms of points or badges) which make users curious to complete them.

[2017-07-24 08:35] mikeveeckmans commented on #84
@parthlawate can you assign please
I can't anymore :-P

[2017-07-24 08:44] mikeveeckmans commented on #84
On the form,  also ask for some references, contact details, how long they are using joomla, ...

[2017-07-24 10:52] parthlawate commented on #84
@mikeveeckmans assign what ? you mean give edit access to form & Doc ?

[2017-07-24 11:01] parthlawate commented on #84
When you say references what do you mean exactly ? Sites they have done ?

[2017-07-24 11:02] parthlawate commented on #84
Made some changes to the form pls check

[2017-07-25 16:51] Joomv commented on #101
Closing this now as the RFP has been done.

[2017-07-25 16:51] #101 closed

[2017-07-26 11:05] Sandra97 commented on #94
I've added 3.7.4 and link to the announcement in the EN and FR page.
If ever some of you speak other languages, please update the page in your language.

[2017-07-26 11:10] Sandra97 commented on #96
The Acy template is totally flexible and can be customised as much as you want. I've added an ad to the jorg newsletter with a good display on all devices in just a few minutes. You just have then to adapt or create the CSS to be sure to have a good display on mobile devices.
I gave a look at the code of the last archive (archive2). I'm sorry to say the HTML code is just a pure disaster.

[2017-07-26 11:15] Sandra97 commented on #63
I'll work on this with @AlisonAMG if she is ok. We need to move forward on that.
Even if there's no real deadline, we can't wait months to start this campaign.
Can someone provide me more hours in a day? ;)

[2017-07-26 11:19] Sandra97 commented on #76
Let's see to make a RFP.
We need to re-open the shop.
@ufuk-avcu If you're ok, could you give the green light for a RFP?

[2017-07-26 11:59] mbabker opened #110 "[LandingPage] 3.8 Features for the LandingPage"
New Features/Functionality and general changes/improvements:
- Joomla 4 compatibility layer
    - The core PHP classes are shifting to using PHP namespaces, in 3.8 we have moved the majority of the core library classes to use the new class names and created class name aliases for the old names.
- New Routing (for real this time)
    - The new routing system comes with new options for users and dev

[2017-07-26 12:23] Sandra97 commented on #110
Thank you!

[2017-07-26 19:39] yvesh commented on #76
Don't forget to include the stuff we need for VET in the calculation @ufuk-avcu @Sandra97 :-) There is a print team on glip, please keep us involved there.

[2017-07-27 07:27] shirdesign commented on #63
@Sandra97 Sorry for not being more available. I could use some more hours a day as well if someone can sell them to me.
Did @AlisonAMG took the assignment? so I will know if to take it off my to do list?

[2017-07-27 08:47] aDaneInSpain commented on #96
Can we not just re-use what you did for j.org?

[2017-07-27 08:49] parthlawate commented on #96
@Sandra97 Is the code in git for the jorg one ?

[2017-07-27 09:15] shirdesign commented on #96
@Sandra97  @parthlawate @anibalsanchez  @aDaneInSpain
If we have something that work the best thing is to use it!
The first draft I send was based on the j.org design if I am not mistaken - I took Sandra's code and used it.
The only thing that was left to fix was the banners that for some reason wasn't aligned.
My mistake for not just fixing that last thing and finishing with the project.
Pls let

[2017-07-27 09:35] Sandra97 commented on #96
Here's my opinion.
Too many people are involved here, so it takes too much time and that's not ok.
Please let @shirdesign work with @anibalsanchez  and the JED team so that they can move forward without all of us commenting or this newsletter will take ages to be done.
And of course, let's add the 2 ads at the bottom and please do not use foundation it's not needed. Better that we all just use acy

[2017-07-27 09:42] aDaneInSpain commented on #96
I agree with @Sandra97 I am only here to ensure the ads are added correctly anyway :-)

[2017-07-27 09:45] Sandra97 commented on #96
They will be, now I know how it works, so I can help Shirat on that.

[2017-07-27 09:49] anibalsanchez commented on #96
I'm ready to send the newsletter with the template that you define.

We are going to send the newsletter for the first time after a long time to all users. So, it's better to have a perfect communication.

Please, upload the final newsletter template (once it's tested and ready for AcyMailing).

[2017-07-27 09:51] Sandra97 commented on #96
Shirat will try to finish/fix it tonight and then it will be ready to go!

[2017-07-27 10:00] Sandra97 commented on #63
@shirdesign I will see to work on a template for this campaign so that we can be consistent and then the 3 of us can produce all the imagery for it.

[2017-07-27 10:38] aDaneInSpain commented on #96
Trying to get updated ad info

[2017-07-27 14:17] ufuk-avcu commented on #90
Closed. Because not enogh Human Resources.

[2017-07-27 14:17] #90 closed

[2017-07-27 14:22] ufuk-avcu commented on #94
Closed. It should be discussed in the local communities to update the wikipedia pages.

[2017-07-27 14:22] #94 closed

[2017-07-27 14:36] ufuk-avcu commented on #70
We need some people they are going through Joomla Youtube and categorize the videos and compile them in a list. Our idea is to publish different lists on the Joomla Youtube Channel (  https://www.youtube.com/joomla ) . For example Tutorials for SEO or Pagespeed Optimizaion.

[2017-07-27 14:52] ufuk-avcu commented on #83
Closed. We can reopen this, if we have more volunteers. We should consider to teach the people about this, instead aof doing it byself.

[2017-07-27 14:52] #83 closed

[2017-07-27 14:54] yvesh commented on #61
@jeckodevelopment https://docs.google.com/forms/d/e/1FAIpQLSe4shucOoJd-y7MGlDQNBBkQo-yePuAI7oYNhWSBVWC7Ab8Zw/viewform?usp=sf_link

[2017-07-27 14:55] Joomv commented on #82
Closing as postponed to next year due to budget restraints

[2017-07-27 14:55] #82 closed

[2017-07-27 14:57] #60 closed

[2017-07-27 14:57] Joomv commented on #60
Closing as duplicate of issue #88

[2017-07-27 15:00] #62 closed

[2017-07-27 15:04] #102 closed

[2017-07-27 15:09] #76 closed

[2017-07-27 15:12] #66 closed

[2017-07-27 15:22] ufuk-avcu opened #111 "[Marketing Materials] Organize Google Drive"
We need to organize the google Drive Materials, with a proper structure.

https://docs.google.com/document/d/1vk90g-ojss9GqEPnoCoT1iYPlidHpD1ubyLyYQxs5V0/edit

We should also consider this both issues:
https://github.com/joomla/joomla-marketing/issues/57
https://github.com/joomla/joomla-marketing/issues/14

[2017-07-27 15:23] ufuk-avcu commented on #57
Merged here: https://github.com/joomla/joomla-marketing/issues/111

[2017-07-27 15:23] #57 closed

[2017-07-27 15:23] ufuk-avcu commented on #14
Merged here: https://github.com/joomla/joomla-marketing/issues/111

[2017-07-27 15:23] #14 closed

[2017-07-27 15:24] Sandra97 commented on #111
We already have a Public Folder with some source files: https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8UGVkZ0RNbXlKQ28

The idea is to put there all the resources we can share with the community so that they can use them, translate them...

[2017-07-27 17:52] jeckodevelopment commented on #61
I answered this some weeks ago... but i can do it again

[2017-07-27 18:15] jeckodevelopment commented on #61
Done

[2017-07-29 07:22] netamity commented on #109
Tim Plummer responded to an email i sent, and I'm sure he wouldn't mind me sharing it here:
Hi Andy,
Thanks for getting in touch, and that’s great that you are thinking of starting a Joomla podcast, I highly encourage you to do it.
I never took my podcast seriously. I mainly started it so that I could learn about how podcasting works, plus Peter had given up on JoomlaBeat and I thought that Joomla

[2017-07-29 10:12] netamity opened #112 "Events and news module in back end"
I've just installed Wordpress for the first time to see how the other side live, and I noticed that they have a News & Events module in the administration panel that is showing events near me. I thought that was clever, and a great way to get important info out to users, and encourage local events.
Has this type of thing ever been considered for Joomla? I think it'd be a great marketing, news diss

[2017-07-29 10:23] Sandra97 commented on #112
Joomla! latest news are already displayed in the backend.
The backend is not a promotional/marketing place, it's a working place.
Don't turn the backend into a marketing tool.
It's not because Wordpress does something that Joomla has to do it. We don't have the same target.

[2017-07-29 10:27] Joomv commented on #112
We've discussed this.  It is a good idea, but we don't have the scope of WP as far as reach though.  Nothing to stop us promoting JAB and JWC in the news section, but given the number of JUG's and JDay's we have doing what WP does would possibly do more harm than good given how spread out they are.

[2017-07-29 10:30] netamity commented on #112
Ok, great, that's a strong no. I just thought it was worth suggesting, and I see your point about keeping things focussed on work. I certainly wasn't suggesting that because Wordpress was doing something that Joomla should follow, but neither should we automatically exclude a good idea because Wordpress are using it in order to assert our difference (I understand you don't see this as a 'good' ide

[2017-07-29 10:32] Sandra97 commented on #112
It was worth suggesting, all suggestions are welcome as it allows to discuss, share different views and then to move forward.

[2017-07-29 10:35] netamity commented on #112
Where is the latest news in the back end Sandra? Is it just an occasional thing?

[2017-07-29 10:39] Sandra97 commented on #112
It's not an occasional thing, news are displayed in the backend since a long time
Navigate to `components` ->`Post-installation Messages` and you'll see the news feed on the right

[2017-07-29 10:47] MATsxm commented on #112
such a useful com_
knowing I have better to do while I'm in an install process...

[2017-07-29 11:11] tonypartridge commented on #112
I actually think a Joomla! News &Events component would be warranted which can be disabled. We have custom admin menus so it's just enlightening users who wish to click it.

On 29 Jul 2017, 11:47 +0100, Marc-Antoine Thevenet <notifications@github.com>, wrote:

[2017-07-30 02:24] parthlawate commented on #112
I have proposed this in the past and met a strong opposition. IMHO the Joomla backend is the only place we have which has the maximum reach compared to any of our other channels. I still don't see a problem in making it an optional that no just like stats is..

[2017-07-30 12:09] netamity commented on #112
Yes, I wasn't expecting such a strong visceral reaction when I suggested it! No one would be forced to keep it in their panel, you could just un-publish it. It seems to me like we're missing a HUGE opportunity to connect with people and potentially enhance the community for some notion of keeping the administration panel pure.
I'd consider creating a back end module for news and events using the r

[2017-07-30 15:20] mbabker commented on #112
The problem isn't so much sharing information with users.  The problem to me is turning a user's backend into a marketing platform for our use.  For a vast majority of people who are using Joomla, the most relevant piece of content we can give them is already in their backend, the release news visible in the postinstall component.  Anything beyond that we start making an assumption that the people

[2017-07-30 15:22] tonypartridge commented on #112
I don't think it's that complicated. You just show Usergroups going on to their location should they click the events section, news of the Joomla! Project and releases. Just basic but useful stuff.

All which can be disabled, so not pushing but informing should they click to view more. We could have a CPanel module which can be disabled too.

On 30 Jul 2017, 16:20 +0100, Michael Babker <notificati

[2017-07-30 15:35] mbabker commented on #112
This means sending information that makes individual users identifiable (not the server) to the `joomla.org` hosting architecture because we're going to want to show events geographically relevant to them, not where the site is hosted.

Release news is already available.  Is news regarding leadership structure or thank you posts relevant to users who are only using the software and not participati

[2017-07-30 15:38] MATsxm commented on #112
stop making sense 😝

[2017-07-30 17:54] netamity commented on #112
We don't know that's the case, do we? If you do have the data, then I'd love to see it.
The idea that this would be intrusive or an inconvenience to anyone is completely laughable, and the potential gains for news and community awareness are pretty clear.

[2017-07-30 18:02] mbabker commented on #112
It is intrusive if you don't have an interest in participating in the software community and are only concerned with use of the software, and that's the one point I want to reiterate until the end of time; not everyone who is using Joomla cares to go to social events, cares who is making the decisions for the project, or that we are working with a Google program that supports college students gett

[2017-07-30 18:10] Joomv commented on #112
Also remember almost 50% of Wordpress sites are hosted on wordpress.com - it makes sense in that environment to advertise stuff.  Our install base is different.

This goes to substantiate what Michael is saying also, this isn't a simple undertaking and has knock on effects.

[2017-07-30 19:05] Sandra97 commented on #110
@parthlawate If you would like to do a live video, the best person would be the 3.8 Release Lead.

[2017-07-30 19:13] Sandra97 commented on #112
Why are we always talking about WordPress? We don't have the same target.
We lost most big companies because they switched to Drupal, not to WordPress. We should better look at Drupal and see where they succeeded because it's probably where we failed.

[2017-07-30 20:22] Joomv commented on #112
Actually we should look at everyone and what they are doing.  Wordpress does a lot right and still shares a space with us, Drupal has shut itself off into the world of the institution.  We also should look at Typo3, Concrete5, Grav, October, Wix, Weebly, all of them.  Look at what they are doing and then ask.

Is this relevant to our global user base?
Would this benefit global user base?
Do we hav

[2017-07-31 01:51] parthlawate commented on #110
By live video you man like a Liv video event that I mentioned on the other thread ?

[2017-07-31 08:41] ufuk-avcu commented on #112
In my opinion, we should don't talk about things we don't know. Like what the user awaits from the Joomla Backend and so on. Everytime we use our gut instincts, it's not helpful for a discussion. It's better to do some little research first. The research does not have to be scientific... For example we have a big Facebook Group https://www.facebook.com/groups/joomlanospam/with 24000+ People in the

[2017-07-31 08:59] parthlawate commented on #112
I agree with @ufuk-avcu Getting an idea to see if the users will be ok with it is a good idea.. A similar discussion had taken place around gathering stats.. As long as its optional it should be ok..

On the point of the user's internet connectivity etc affecting backend loading, we can always have a async ajax request that times out or Caches content to ensure the backend loading is not compromis

[2017-07-31 10:12] Sandra97 opened #113 "[COPYWRITING] JORG - Core Features/About/Contribute/Benefits/Use Cases Pages"
The content of these pages of https://www.joomla.org/ need to be carefully reviewed and completed.

- [x] About Joomla - Rethink and renew it. Some of the text is covered by the new Benefit and Use Cases page. - **Published on Nov. 9, 2017**
- [x] Core Features - Rewrite it, new Icons - **Published on Nov. 9, 2017**
- [x] Add Benefits Page - [New](https://docs.google.com/document/d/1dbzwkJuiSiqo-y

[2017-07-31 10:49] Sandra97 opened #114 "[J3.8] Write a dev-oriented blogpost to publish on jorg"
The goal would be to target extension devs as this version is more for devs than for integrators.

[2017-07-31 10:50] ufuk-avcu commented on #114
@mbabker have you time for this task?

[2017-07-31 12:37] anibalsanchez commented on #96
It would be great to have it ready for September. Any update?

[2017-07-31 15:03] AlisonAMG commented on #64
**Joomla for Community Fundraisers**
Annual community fundraising events have multiple requirements beyond text components including; registration with payment gateway, donation gateway, sponsor banner tracking, gallery, map/contact form/s. Joomla can handle all of this easily with much done in the Joomla core but extra functionality able to be added with the extensive selection of extensions. Roo

[2017-07-31 16:45] RobertVining commented on #109
Sorry for the delayed response here... but this is why I stopped doing Joomstew. Work and life have to come first, and I was spending 10 to 20 hours a week doing each episode. I had help at times, but we went on for well over a year. It just became too much to do each week, and I burnt out.

Here's the first 11 episodes in full:
http://www.blogtalkradio.com/joomstew

And as for the full catalog of

[2017-07-31 17:02] RobertVining commented on #109
Just looked at the stats from the first 11 episodes on blog talk radio. They average about 400 listens ALL TIME for each one. So Pete had 10 times more market share than we did when we ran 5 to 7 years ago.

[2017-07-31 17:06] netamity commented on #109
Thank you Robert,
I can see what you're saying about having independence from the Joomla Project. While the success of the podcast would rely on participation and co-operation from the the leadership, I want to be able to ask challenging questions and ensure that the people producing the podcast have editorial control.
I'm going to draft a few documents and ask for people's input:
-A charter style

[2017-07-31 19:06] netamity commented on #109
Here we go. Some very early scribblings, and I'd love people's input on all aspects of all documents for which they have ideas and suggestions. These really are designed as a conversation-starter only. I've been quite ambitious. I'd very much like to produce something of high quality, but I'm conscious of the undertaking that is and the support I'll need.
[Joomla Podcast Requirements.docx](https:/

[2017-08-03 10:24] Joomv commented on #112
Here's something else to consider ....  we have 165 listed user groups.  At least 30% of those are very inactive if at all (we've just started another review)  there's probably another 50 out there that are not registered so lets say we have 175 (being positive).  Hardly any of them list their JUG meetings (3-4 at best) so we have no listing for them.

In contrast, Wordpress has 1239 meetups on me

[2017-08-04 14:01] mikeveeckmans commented on #110
any document open for this yet ?

[2017-08-04 14:11] parthlawate commented on #110
Hi not yet..  Any suggestions for timezone that @mbabker would be wake in and most of the rest of the world will be too ?

[2017-08-04 14:15] mbabker commented on #110
1) I'm in the Minneapolis, MN, USA area (UTC-6 normally, UTC-5 during DST)
2) My availability during my 9-5 job is generally limited, so most of my time these days is either very early in the morning for me, late evening (when Europe and Asia are usually offline), or weekends
3) Please remember that I'm just the cat herding button pusher here, there are loads of people who have done much more than

[2017-08-04 14:19] parthlawate commented on #110
Ok.. Do suggest who else could be on this.. We can make it a group thing.. Also if a lot of them are in the US either Central or Eastern time, someone in EU to coordinate might work better for timezones @ufuk-avcu can you or someone in EU be the host ?

[2017-08-04 14:19] Sandra97 commented on #110
Content of the landing page is ready.
Parth, you know that it has been decided to see if we can interview the developers of the 3.8 main features or at least having a short explanation from them to describe the benefits of the news 3.8 features so that we can have a blogpost.
I'm closing this issue.

[2017-08-04 14:19] #110 closed

[2017-08-04 14:25] Sandra97 commented on #110
@parthlawate I already gave the names of people to contact.

[2017-08-04 14:29] parthlawate commented on #110
Sorry i think i have been commenting on the wrong issue.. I have been commenting about the Live Hangout on air we decided we shall do about 3.8.. This would be a little different than an itnterview or blog post..  Will create a separate issue for it

[2017-08-06 19:59] pbwebdev commented on #109
Hey Andy
Can you make those docs google docs for contributions or md file on a git repo ?

I'd also recommend high quality audio equipment.

Anything sub par will result in average quality in audio and put off a percentage of listeners. This would be for all hosts especially if they're in different locations. Ideally record audio. At all presenter locations and sync the audio.

I've had a lot of c

[2017-08-07 14:14] anibalsanchez commented on #96
Hi,

Shirat has sent me an updated template for JED mailing. I've just sent you a test.

It looks great to me. What do you think?

[2017-08-07 15:08] aDaneInSpain commented on #96
Looks acceptable to me.

If possible I would like the following changes to the sponsorship section, but they are not deal breakers.

- [ ] Headline: change "Sponsor" to "Sponsors"
- [ ] Top add should also have a headline
- [ ] Make the line space between text and button about 20px less
- [ ] Properly right align the 2nd ad. It does not follow right margin

**Also, please remember that we need to

[2017-08-07 16:55] parthlawate commented on #96
Hello Got the email.. Looks fine.. but its not responsive.. Is that intentional ?

[2017-08-08 02:20] pbwebdev commented on #109
@netamity

Extension reviews and guides: I know these were a regular segment on your podcast. Ufuk who is leading the marketing team has expressed concern that including such a segment in an official podcast would lead to bias, so it may not be considered for our podcast. Did you get much audience response from this segment? Would we be making a huge mistake avoiding the ‘extension options’ topic

[2017-08-08 02:25] netamity commented on #109
Thanks Peter, that's really good stuff.  3am here in London, so I'll let it sink in, but you've left a couple of comments and I wanted to let you know I was listening and appreciate your input

[2017-08-08 02:27] netamity commented on #109
The time and process are important- I'd like to be ambitious with what can be done so long as not biting off more than I can chew.

[2017-08-08 18:38] uglyeoin commented on #109
Hi @netamity it was nice to meet you at JDUK 2017 and I'm very much looking forward to your output.  This is a fantastic idea.  Why not post a link to here in the forum?  I've spread it around a few channels and I'll do a post on Joomla! London too in the hope that it gets you some traction.  I'm afraid I know nothing of podcasts but I'll gladly listen.

Also like Parth's idea of a Google Hangout.

[2017-08-08 18:43] uglyeoin commented on #109
Recommend getting Brian Teeman's input if he has a spare 5 minutes for you.  He makes a great headline at JDUK so he might be able to give you some advice.  I think he did a video on how to present well too.  Or maybe it was this blog post.  https://brian.teeman.net/joomla/the-art-of-presentation

[2017-08-08 18:45] uglyeoin commented on #109
Since a few people out there who have done it and burned out.  And the 9 hours that Peter Bui said is a burden on anyone.  His one was really good quality so I suggest you aim for similar.

The thing is, if it was 9 hours every 3 months it would be much more manageable right?  So consider having 3 teams rotating.  And consider having a place people can send you ideas for the podcast which would re

[2017-08-09 06:38] parthlawate commented on #109
@netamity If you leave out extensions you will loose out on showcasing the real power of Joomla .. However @ufuk-avcu 's concern is very real..  So it might make sense to make this a 'non Official' thing which is loosely supported by the project. A lot of people have commented on making it a non official thing has a lot of advantages.

I have always in the past supported making it official.. but i

[2017-08-09 09:52] uglyeoin commented on #109
@parthlawate but @netamity specifically doesn't want to review extensions from a personal point of view.  I think I understand what he's doing and from a marketing perspective having a way for the teams to communicate with the wider community would be a really good idea.  It helps people to get involved, to understand why things do or don't happen, and is the start of us pushing marketing messages

[2017-08-09 10:46] netamity commented on #109
Well, my preference is to have the podcast non-official (but obviously working in co-operation and contact with the project) and not to have extension reviews.
It's true that extensions are a massive part of using Joomla, but my objections are:
-Personally, it just doesn't interest me. It was the only part of Pete's podcast that I used to fast forward.
-Staying impartial would be a minefield- with

[2017-08-09 11:53] parthlawate commented on #109
@uglyeoin Yes I Absolutely respect that view :) .. But just my 2 cents.. If its a way to better manage communication in the community and spread word within community it works well.. It also works well for some section of the 'Market'

What I would suggest is the same thing I suggested to JED and what we are doing for the use cases campaign is promoting extension categories rather than a specific

[2017-08-09 13:22] brianpeat commented on #109
I'd be interested in helping with this (and listening to it). I haven't done any podcasts specifically, though I've created a few from pre-recorded files, and I've got a decent technical background (and I'd love to be interviewed as the AV lead for JWC among other things) :)

[2017-08-14 12:33] ufuk-avcu commented on #114
Here are some informations, what is planned for J3.8: https://github.com/joomla/joomla-marketing/issues/110

[2017-08-14 14:31] Joomv opened #115 "Create a reusable form for collection of information from developers on features in new releases"
Starter question ideas:
What is your feature called?
Who is this feature for?  (Developers/Integrators/Admins/Designers - select all that apply)
What does this feature solve/do?
What challenges did you face building this feature?
How did you overcome those challenges?
What makes this feature a great addition to Joomla?

[2017-08-14 14:33] AlisonAMG commented on #115
Do you have other comments or things you want users to know?

[2017-08-14 14:37] Sandra97 opened #116 "[Marketing Campaign] PHP Requirements for Joomla 4 + Framework 2"
As mentioned in [Looking Forward with Joomla! 4 ](https://developer.joomla.org/news/704-looking-forward-with-joomla-4.html), Joomla! 4 and Framework 2 will require PHP7.

We need a campaign to inform/prepare well our users as well as hosting companies about this requirement.

[2017-08-14 14:51] mbabker commented on #116
Emphasis on the longterm label here.  Once running, this really shouldn't drop off until after 3.x end of support.

WordPress is currently working on a similar campaign targeted toward their older PHP versions.  Though they're using a highly different approach, I do feel like they have some ideas/concepts that would apply to our situation just the same as far as resources go and would encourage lo

[2017-08-14 15:18] aDaneInSpain commented on #115
**Release information**
- Release version
- Release type
  - Major
  - Minor
  - Maintenance
  - Security
- Release Name (optional)
----
**Features** (Repeatable)
- Name of feature
- Describe feature in detail
- Who does this feature help (check all that apply)
  - [ ] Administrators
  - [ ] Web site owners
  - [ ] Web site visitors
  - [ ] Web developers
  - [ ] Web designers
  - [ ] Web integrat

[2017-08-14 15:25] zero-24 commented on #115
Why do you want to add Security? Any kind of release can be a Security release. Also the dev don't know if the next version is a Security release anyway ;) Just the groups involved in the release know that ;)

[2017-08-14 15:26] mbabker commented on #115
You can scratch maintenance and security off that list.  New features should pretty much never go into those release types per our release strategy (derived from Semantic Versioning).

We stopped doing code names for releases ages ago, except for someone electing to randomly change it in the version class.  We don't have release names and there has been no push from anyone to restart that AFAIK.

[2017-08-15 07:36] aDaneInSpain commented on #115
Thanks for the input. I have edited the post to reflect your comments except I have kept "Release name" as I have overheard someone talking about naming the 4.x series after Cities.

[2017-08-15 08:10] zero-24 commented on #115
Just to be sure this is a list any developer of a feature get to provide information correct?

Is'nt the release name a global decision by the release leader and the individual developer has no idea what this is called? I have not heard anything about `Cities` yet.

[2017-08-15 08:43] aDaneInSpain commented on #115
Well... maybe we need something a little bit more advanced. Where the release leader fills in the "Release information" and the contributing developers fill in the "Features" section for each feature?

[2017-08-15 09:06] zero-24 commented on #115
I would seperate that forms. You need the "release information" only once but you can have XXX features so why should the release leader repeat itself on any feature? ;)

[2017-08-15 09:11] aDaneInSpain commented on #115
Yeah, that is why I say we might need something a little bit more advanced than a simple form. A release leader __first__ adds the release and then each developer can "attach" features to it.

[2017-08-15 09:21] zero-24 commented on #115
Is'nt the complete thing just to collect information about the features? This sounds over engineered to me.

IMO that complete form can be a simple plugin for the contact component attaching the addtional fields (or custom fields) and send that to a email or a google form that does the same => done. Just the definition of the fields is that what this issue here is for or do i missunderstand that?

[2017-08-15 09:26] aDaneInSpain commented on #115
No you are probably right. We could make it a simple form where all there is to say about the release is what is the version number.

[2017-08-15 09:28] zero-24 commented on #115
👍 That sounds good! Just keep off that `release information` beyond planed version number ;)

[2017-08-23 09:34] anibalsanchez commented on #96
@parthlawate What do you think about start sending the newsletter with the last template? I think it's similar to the "What's new in Joomla!" newsletter.

[2017-08-23 09:41] parthlawate commented on #96
I think we can start with that @anibalsanchez . We can always interate to improve later and close this issue. While its not properly responsive as Mailchimp makes them , it looks good..

[2017-08-23 09:46] anibalsanchez commented on #96
Great!

I'm wondering if JED team has to define the newsletter content... or if it's better to keep it centralized on the marketing team... at the end of the day, it is the same information sent in the "What's new in Joomla!" newsletter, but with a twist for extension developers.

We could coordinate a monthly meeting to define the newsletter content. After the definition, we send it from JED serv

[2017-08-23 10:15] Sandra97 commented on #96
@anibalsanchez The template I did for 'What's new in Joomla!' template is not the same one as the one done by Shirat
@parthlawate The 'What's New' template is responsive and display is good on phones as well as tablets

[2017-08-23 10:55] yvesh commented on #96
Personally I think you should focus on the content for extension developers and questions / news that production has to them. So it should be a separate one .. And the marketing has not the resources to take care of that at the moment.

[2017-08-23 11:30] shirdesign commented on #96
@anibalsanchez  @parthlawate  the template is not fully responsive as it has 2 columns and @Sandra97  & I tried to fix the responsiveness of it with not much luck. if we change the stracture other things looks bad.
BUT - we did test it in a few mobile/ tablet machines and on different mail severs.
that as far as the template goes.

@aDaneInSpain thanks:)
about your comments:
- Headline: change "Sp

[2017-08-23 11:31] shirdesign commented on #96
After saying all above - if there is anything else I can help with - pls do let me know :)

[2017-08-23 11:49] parthlawate commented on #96
Yes @shirdesign the 2 columns are an issue.. Here is a quick gif of the Mailchimp one i had given earlier in this thread as to how it looks on Mobile and Web..
![GIF of web and mobile versions](http://www.giphy.com/gifs/3ohzALUk1ycQ8Obtbq
)

[2017-08-23 11:51] shirdesign commented on #96
I can't open the Gif - I get Non-Image content-type returned

[2017-08-23 12:03] parthlawate commented on #96
Check the link now

[2017-08-23 12:09] shirdesign commented on #96
This is Mailchimp ... right? Acymailing has different template structure.
As I said - the template needs to be written from scratch.
I based my template on Sandra's one... and I really don't have the time to write it from scratch at this point - I hope I will get to it before JWC....  but can't promise anythings - and as Anibale wants to send the newsletter beginning of Sep it won't help.
I sugges

[2017-08-23 12:43] Sandra97 commented on #96
I created a new 2 columns template that works fine. But can't do anything now as i am on my phone and no electricity

[2017-08-23 13:00] shirdesign commented on #96
@Sandra97 can you send it to me?
I will have some time over the weekend to fix it according to your design.
@anibalsanchez  would Mon be good for the fixed template?

[2017-08-23 13:04] Sandra97 commented on #96
@shirdesign Of course I can. I will send it to you in a few minutes

[2017-08-23 13:06] shirdesign commented on #96
Thank @Sandra97  :)

So that should solve the prob.
@anibalsanchez  I will send you the fixed template by Mon.

[2017-08-23 13:34] anibalsanchez commented on #96
Ok, perfect.

This Friday, JED team is having the monthly meeting. We'll check the content to send in the first newsletter.

[2017-08-25 09:58] Sandra97 commented on #63
@eXsiLe95 will take care of the graphics for this campaign. Thank you Lukas!

[2017-08-25 10:14] Sandra97 commented on #63
Graphics will be available in this [folder](https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8MDVoVjZwNVBHWFE)

[2017-08-28 14:18] parthlawate opened #117 "[COPYWRITING] Joomla 3.8 release blog post"
https://docs.google.com/document/d/1z19qo6AYZtdQun-uIHyQek1Hrh8gVQsyhLC-ReZyIPo/edit#Draft started here

[2017-08-28 14:25] Sandra97 commented on #114
Closing this issue as it won't happen.

[2017-08-28 14:25] #114 closed

[2017-08-28 14:35] ufuk-avcu commented on #115
- Feature Name
- Feature Function
- Feature Description
- Expected Release Date
- Main developer(s)
- Feature landing/documentation page?
-- Point to the GitHub page?
-- Point to docs.joomla.org
- For whom?
-- Developers, Design, Site Integrator
- Tags
-- Security, Bugfixing,...
- Dependencies
- Marketing liaison
- Pictures, Screenshot, Screencast

[2017-08-28 15:08] anibalsanchez commented on #96
Hi, I've just sent the latest update of the JED newsletter template. What do you think about this new version?

[2017-08-28 15:12] shirdesign commented on #96
@anibalsanchez  looks like something is wrong with the  - Click here to view it online  - link - can you pls check it in the code and fix it?

Beside that I see it really good in Gmail.
--

[2017-08-28 15:15] Sandra97 commented on #96
@shirdesign I can help with that. i've already corrected it in my template

[2017-08-28 15:19] anibalsanchez commented on #96
I'm sending the tests from the template manager. So, there is no newsletter (yet) to view it online.

[2017-08-28 15:21] Sandra97 commented on #96
Anibal, that's the code you need to make it works when needed
 `<span class="acymailing_unsub"><a href="{readonline|template:notemplate}{/readonline}" style="text-decoration:none;color:#0e1e36" target="_blank"><span class="acymailing_online">Click here to view it online</span></a></span>`

[2017-08-28 15:23] shirdesign commented on #96
Thanks @Sandra97  :)

[2017-08-28 15:26] anibalsanchez commented on #96
It's already defined in that way... but there's no newsletter to link yet ;-)

[2017-08-29 16:55] zero-24 commented on #115
### my notes

This has again nothing todo with the feature ;)

Is'nt this a

Is not going to be public anyway..

Do you want to get a submission per PR? Is'nt this a massive overkill?

Where should the **developer** know that?

### cleaned list

- Feature Name
- Feature Function
- Feature Description
- Main developer(s)
- Feature landing/documentation page?
-- Point to the GitHub page?
-- Point to

[2017-09-11 10:35] ufuk-avcu commented on #115
We can close this: https://docs.google.com/forms/d/e/1FAIpQLSc-xwsYVHTj1ANOPWf0Ek18zkfDnbUrA7zFjhRgOm80gA9Ing/viewform

[2017-09-11 10:35] #115 closed

[2017-09-11 17:22] yvesh commented on #117
The blog post is ready and is going to be published with the release on jorg.. Closing

[2017-09-11 17:22] #117 closed

[2017-09-12 16:01] anibalsanchez commented on #96
Hi,

I've sent you the newsletter almost ready to be released.

https://extensions.joomla.org/component/acymailing/mailid-70/?key=4g5Ub1Ez&subid=302286-dVeMLkJ7BMOuIF&tmpl=component

What do you think?

[2017-09-12 16:45] parthlawate commented on #96
@shirdesign Yes that was mailchimp..  OK with this format if everyone is ok with it :) .. Got the newsletter ..Looks good

[2017-09-12 16:48] yvesh commented on #96
@anibalsanchez nice, some notes:

* You maybe should add another header image with JED text on it.
* Typos:

scheduled to be released

a bit often joomla? ;)

?? That sounds weird -> Do you want to translate that for everyone to like The italian bridge or what was planned there. Dot and than in your language?

@Joomv or? :)

[2017-09-12 17:08] anibalsanchez commented on #96
Hi,

I've written only the first article. The rest of texts are from other sources, like the Developer newsletter or the JWC site :-(

A

[2017-09-13 06:44] shirdesign commented on #96
@parthlawate  @anibalsanchez  Great - Can we close that issue than?

[2017-09-13 07:13] parthlawate commented on #96
I think so .. As the issue was mainly for design .. Not so much for the content :)

[2017-09-13 07:14] shirdesign commented on #96
:) Exactly

On 13 September 2017 at 10:13, Parth Lawate <notifications@github.com>
wrote:

--
שירת גולדשטיין
עיצוב גרפי ובניית אתרים

[2017-09-13 07:56] #96 closed

[2017-09-13 07:59] ufuk-avcu commented on #112
If someone has new arguments for or against this idea, we can open this issue again.

[2017-09-13 07:59] #112 closed

[2017-09-14 08:58] ufuk-avcu opened #118 "[Blogpost] Peakon - write a blogpost"
What is Peakon? What is our goal? Try to engage the people, to answer the questions regulary.

[2017-09-14 13:30] ufuk-avcu opened #119 "Proofread the Intreview with Hannes Pappenberg about the new Router"
We need to prepare this, before the Joomla 3.8 Relanch (expected next thuesday)

https://docs.google.com/a/community.joomla.org/document/d/1fat7F4bq0SyGIk7KmCaPNlGwtQR8qk4X_yHNibxEDQk/edit?usp=sharing

[2017-10-02 23:04] Sandra97 commented on #119
@ufuk-avcu What the status of this article?  Is it ready to publish?

[2017-10-02 23:10] Sandra97 commented on #118
@mikeveeckmans
Dear plumber, what's the progress about this blogpost?

[2017-10-02 23:14] Sandra97 commented on #61
@ufuk-avcu @parthlawate Any news about these interviews?

[2017-10-04 08:40] ufuk-avcu commented on #119
@Sandra97 this should be now ready. @Joomv has an another Blogpost regards the Router in the pipeline. But you can publish this one and close after that this issue.

[2017-10-04 08:40] ufuk-avcu commented on #61
@Sandra97 no sorrry. We have not every respone yet. I know that Yves ask several times for this...

[2017-10-04 18:52] jeckodevelopment commented on #61
@ufuk-avcu Who is missing?

[2017-10-04 20:10] Sandra97 commented on #119
@ufuk-avcu, As commented on the Google Doc, I would like a short intro to be able to publish it. And where did you want it to be published? JCM (but it means waiting for November) or Dev?
I'll prepare a pic.

[2017-10-06 10:47] Sandra97 commented on #119
The article will be published today on the Dev site.
Closing this issue.

[2017-10-06 10:47] #119 closed

[2017-10-09 14:35] mikeveeckmans commented on #71
benefits will be on a seperate copywriting, they can however be combined on the pages...

[2017-10-24 07:04] Sandra97 commented on #70
No progress about this task?
I created som eplaylists and added few videos but I would appreciate if someone can take care of this task now and on a regular basis. It's an easy one and don't require much time per week.

[2017-10-24 07:25] shirdesign commented on #70
I can do it on a regular basis. But need to understand better which videos
can go in and which cann't since we dont want to promote private
buisnesses.

On 24 Oct 2017 10:04, "Sandra Decoux" <notifications@github.com> wrote:

No progress about this task?
I created som eplaylists and added few videos but I would appreciate if
someone can take care of this task now and on a regular basis. It's an ea

[2017-10-24 07:32] Sandra97 commented on #70
It's up to you to determine which videos can interest our users. I confirm we are not here to promote private businesses, except maybe if they are Joomla partners/sponsors.
First, you can make a selection of videos from JaB & JDays.

[2017-10-24 07:34] shirdesign commented on #70
Ok. Will work on it in the next week and will give u an update...

On 24 Oct 2017 10:32, "Sandra Decoux" <notifications@github.com> wrote:

[2017-10-30 09:53] parthlawate opened #120 "[video]Record and Post a Joomla Selfie Video Testimonial with a hashtag #joomla #jwc17 #jtestimonial - target 150"

[2017-10-30 09:55] Sandra97 commented on #120
#jwc18?

[2017-10-30 11:07] parthlawate commented on #120
fixed :)

[2017-10-31 08:31] parthlawate commented on #118
Hi,

Have done a blog post here. Please review the content and make any suggestions you might have. I aim to publish on CJO this week.
https://docs.google.com/document/d/12a4x04TCAS9N3JxCA1brZncSo6qNbi871FVhNJJ2-es/edit
Parth

[2017-11-01 08:49] mikeveeckmans commented on #61
@yvesh : any update on the input of the interviews ?

[2017-11-01 11:37] mikeveeckmans commented on #116
Draft of the CJO article can be found on : https://docs.google.com/a/community.joomla.org/document/d/1c30_viisZHp6TkEvM_qdnvmgq-x8RRUgNDgAX0iu6i0/edit?usp=sharing

[2017-11-01 15:05] mikeveeckmans commented on #113
Contribute - Rewrite : done
Please review : https://docs.google.com/a/community.joomla.org/document/d/1HqhQ6c7qFWHbMUjo0N6bKnVPyz7Chj29U5L54Q64Zsk/edit?usp=sharing

[2017-11-01 16:04] mikeveeckmans commented on #113
about joomla rewrite : https://docs.google.com/a/community.joomla.org/document/d/1ivDva0VJAQC0_MRZ5_G-zPuxWdWAMok1dEDv21HZknI/edit?usp=sharing

[2017-11-01 16:12] Sandra97 commented on #116
@mbabker Could you please review it when you can?
@mikeveeckmans I think we will publish it on jorg and not on cjo.

[2017-11-01 16:14] Sandra97 commented on #113
@ufuk-avcu @parthlawate Could you please review these 2 articles.
When validated, I will edit the ones currently online.

[2017-11-01 16:41] ufuk-avcu commented on #113
@Sandra97 i reviewed and commented them.

[2017-11-01 17:26] mikeveeckmans commented on #71
#113

[2017-11-02 13:15] mikeveeckmans commented on #113
Review core feature page please : https://docs.google.com/a/community.joomla.org/document/d/1W3V9JrRPosr0gTv8VnbksRIkEsdcXtjAk2h0JBZATEA/edit?usp=sharing

[2017-11-02 13:28] mikeveeckmans commented on #113
Benefits page : https://docs.google.com/a/community.joomla.org/document/d/1dbzwkJuiSiqo-yV9bhkf_pxwkLz1sfbEztUhu6OON0Y/edit?usp=sharing
Took the copy from the brochure which is great, so no need to change it...
Thanks @Joomv  ;-)

[2017-11-02 14:42] Sandra97 commented on #113
@ufuk-avcu @parthlawate Please review the About / Contribute and Core Features pages.
I would like to publish them next week.
Without any answer/comment, I'll consider them as approved and I'll publish them.
Deadline: Nov 8th.

[2017-11-02 18:58] Joomv commented on #113
Need to en-gb it

[2017-11-06 11:59] yvesh commented on #61
@mikeveeckmans Added you as form admin, so you can check yourself :-)

[2017-11-06 12:22] mikeveeckmans commented on #61
Thanks!!

On 6 Nov 2017, at 12:59, Yves Hoppe <notifications@github.com<mailto:notifications@github.com>> wrote:

@mikeveeckmans<https://github.com/mikeveeckmans> Added you as form admin, so you can check yourself :-)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/joomla/joomla-marketing/issues/61#issuecomment-342128162>, or

[2017-11-06 14:51] Sandra97 commented on #118
I'm gonna merge the article to CJO and try to publish it today.

[2017-11-06 15:18] parthlawate commented on #118
Thanks @Sandra97 !

[2017-11-06 16:00] Sandra97 commented on #118
Published.
I'm closing this issue.

[2017-11-06 16:00] #118 closed

[2017-11-06 16:10] parthlawate commented on #113
Joomla Use Case  Example - Joomla for Non Profits https://docs.google.com/document/d/13DaPrUBH4n44AT_qFW56PSSo-hNYEpdtAU0277Iq7MU/edit#

[2017-11-07 10:50] parthlawate opened #121 "Organise the Joomla Social Media Database in a central sheet https://docs.google.com/document/d/14pHmjsEMu-UYbEwJuvH8oVL1A52_9571uaK2at1rIHo/edit"
https://docs.google.com/spreadsheets/d/1cSaKSKyi4bgCdkOgPKXQ9JKr2mnSJKAsFMOHdCi_BIs/edit#gid=0

[2017-11-07 12:19] parthlawate opened #122 "Joomla Newsletter content and ideas, mock structures"

[2017-11-07 15:58] Sandra97 commented on #121
@parthlawate When opening an issue, could you please describe what's the task about? If we want volunteers to help us, they will need some guidelines and information about what we want, what's the goal...
Thank you!

[2017-11-07 15:59] Sandra97 commented on #122
@parthlawate Please provide a short description so that volunteers can understand what we need, what we expect and what are our goals.
Thanks!

[2017-11-07 16:14] coolcat-creations opened #123 "Social Media imagery"
![facebook_shared_image_1200x630_image_bg](https://user-images.githubusercontent.com/828371/32503223-fde82952-c3dc-11e7-8675-7e03d28bd1cb.png)
![facebook_shared_image_1200x630_image_small](https://user-images.githubusercontent.com/828371/32503224-fe5d4732-c3dc-11e7-9f7e-7a637e2a674b.png)
![facebook_shared_image_1200x630_long_text](https://user-images.githubusercontent.com/828371/32503230-ff1ec916-

[2017-11-09 09:55] Sandra97 commented on #113
New  content about About/Contribute/Core Features pages has been published.

Please feel free to post here any edits, suggestions... so that we can continue to improve the content.

Thanks @mikeveeckmans  for your work!

[2017-11-09 17:45] mikeveeckmans commented on #113
You're welcome

[2017-11-16 16:22] parthlawate opened #124 "Customer Profiling/Personas"
Company Description
Problems/Pain Points they face
What Solutions are they looking for
What budgets do they have

[2017-11-16 16:31] parthlawate opened #125 "Define Industry Verticals to Target"
Find key Industries to Target in verticals Joomla can service. And actual Companies/People that fall under the below

Management Consultants
Design Agencies
CTO's
CIO's
Chamber of Commerce, Trade bodies
Development Shops
-Wordpress & Joomla
Key Magazines/Media - Design & Dev Mags
Tech handles like PHP/JS related ones

Prepare a list of companies/individuals with their Social Media Accounts

[2017-11-18 13:58] parthlawate opened #126 "Video Interviews the Joomla Leadership"
- Tell us a little about Yourself ?
- How did you get involved in the Joomla Project ?
- Apart from the Joomla community mention one key Product feature that you feel makes Joomla standout
- Where do you think Joomla is going from here ?

[2017-11-18 14:07] parthlawate opened #127 "Printed Joomla Magazin - Collect good Articles from joomla.org for the Magazine!"

[2017-11-18 14:30] parthlawate opened #128 "Collect Article Ideas"
Define Article Ideas for 3 Main Target Groups

1. Agencies & freelancers
2. Designers
3. Consultancies
4. Professional Agencies

https://docs.google.com/forms/d/1EjZ0936SGkM3keBjISnRJYBJVzc7ZD3WLVKPjaxX2EA/edit

[2017-11-18 15:04] rvbgnu commented on #70
[WIP] Work in progress at #JWC17 Joomla in Action

[2017-11-18 17:06] rvbgnu commented on #70
Regarding the Joomla training video, in partnership with OS training that is posted here
https://community.joomla.org/joomla-training.html
Could we have some videos, at the least the first one of each lesson (usually Introduction), on YouTube ?
Then we add the link to the full (free) lesson to j.org.

[2017-11-18 17:41] pete-rossetti commented on #64
OK Finished the non-profit article done by Parth and started Joomla for Blogs
Intend to finish this and continue working thro the list

[2017-11-19 07:43] freshweb commented on #64
1st draft of Joomla for Intranets completed.

[2017-11-19 15:35] parthlawate commented on #64
It was wonderful to have you @pete-rossetti and @freshweb at the JWC Make it happen ! Its great you guys got this done ! I will review and comment. We hope you can continue on some of the rest of the topics after the event. Lets keep in touch on Glip !

[2017-11-19 15:39] parthlawate commented on #64
@pete-rossetti @freshweb can you also pls let me know your Glip IDs so i can get you in our regular communications

[2017-11-19 17:16] freshweb commented on #64
Hi Parth,
My glip email is eddie.may@freshwebservices.com - I'm in the Joomla in the
UK group.

On 19 November 2017 at 16:39, Parth Lawate <notifications@github.com> wrote:

--
Kind regards

(Dr) Eddie May

Director
Fresh Web Services Ltd : e-business solutions

+44 (0)116 2793 822
+44 (0)781 2341 537
www.freshwebservices.com
14 Greenway
Kibworth Beauchamp
Leicestershire. LE8 0LU. GB.

Registered

[2017-11-26 15:49] rvbgnu commented on #70
Just reporting back here (more details on Glip channel): OS Trainning video not available for the moment.

[2017-12-04 15:12] #126 closed

[2017-12-04 15:16] parthlawate opened #129 "Joomla 4 Survey Series"
In previous releases of Joomla new versions, the project has relied on the feedback gathered from reported issues from community testers and volunteers of the core team. Since most community members are only able to partially test a version, due to lack of time or skills, the final release of a Joomla version is frequently followed by minor versions that correct bugs not found in the initial devel

[2017-12-04 15:44] #122 closed

[2017-12-04 15:49] ufuk-avcu commented on #123
Thank you Elisa!

[2017-12-04 15:49] #123 closed

[2017-12-04 16:44] Sandra97 commented on #63
Alison did all the pics. The Social Media Team will soon start the campaign.
Thank you @AlisonAMG

[2017-12-04 16:44] #63 closed

[2017-12-04 16:49] Sandra97 commented on #70
@shirdesign, any progress about these playlists?

[2017-12-04 16:52] Sandra97 commented on #71
As we have decided to focus on benefits more than on features, I'm closing this issue.
You can see the doc about benefits in  issue #113

[2017-12-04 16:52] #71 closed

[2017-12-04 16:55] Sandra97 commented on #127
We don't have the resources to do that at the moment and we have other high priority tasks to manage.
Anything regarding the JCM should be discussed with the magazine team.
I'm closing this issue.

[2017-12-04 16:55] #127 closed

[2017-12-04 16:56] Sandra97 commented on #109
Any update about this project?

[2017-12-04 16:57] Sandra97 commented on #108
Closing this issue for the same reasons mentioned in #127

[2017-12-04 16:57] #108 closed

[2017-12-04 17:58] brianteeman commented on #129
How does this survey satsify any of these goals or go towards educating the userbase about the new features?

[2017-12-04 18:14] coolcat-creations commented on #129
Where did all my comments go?

[2017-12-04 23:50] rvbgnu commented on #70
I will add some videos in the coming days. Please could you check if the different playlists, one on each spreadsheet tab, are good so far?
https://docs.google.com/spreadsheets/d/1q4tPLFkxz1QFyE5jrqBS3iGSFmsXHtzDgu6qZizbEoc/edit#gid=270607146
Fill free to find a better name for them!

[2017-12-05 02:17] parthlawate commented on #129
@brianteeman thanks for jumping in !
If you read the later section of the gdoc - you will see this is the first in a series of surveys.. quoting here :

"For the next release of the next major version of Joomla, we must double our efforts to communicate the impact of the new features and enhancements to increase the engagement and reduce the loss of developers or extensions in the transition to Jo

[2017-12-05 03:39] shirdesign commented on #70
Looks really good Herve - Thank you for taking this assignment on yourself
:) I will try to push some more source playlists and videos in and look
into the names in the next few days as well.

On 5 December 2017 at 01:50, Hervé Boinnard <notifications@github.com>
wrote:

--
שירת גולדשטיין
עיצוב גרפי ובניית אתרים

[2017-12-05 21:39] brianteeman commented on #129
@parthlawate yes i read all of that and tbh i dont see that this survey satisfies any  of those goals

When writing a question you have to make sure that they are not leading or vague

For example - what is the purpose of saying
Do you know the benefits of bootstrap 4? etc

The answers don't go towards answering your aim "to communicate the impact of the new features and enhancements"

Assume that

[2017-12-05 22:34] coolcat-creations commented on #129
thats like exactly what i explained on glip earlier today...

[2017-12-06 02:21] parthlawate commented on #129
@brianteeman
1. The first section is an internal introduction and I don't think the Author meant any disrespect. But you are right it should be rephrased. I'll pass on the feedback and make sure it is. Also the marketing copy that this goes with is different and external facing and will have a short and clear intent

2. I've already given my feedback about the second part of the survey - those que

[2017-12-06 03:18] mbabker commented on #129
Internal or not, it is a publicly accessible document linked from a publicly accessible resource and the commentary on that should have been thought about before publishing and the fact that project team members are saying that about our release process is just as Brian says disrespectful to all of us who put in the time and effort to make that happen at any level.

[2017-12-06 04:28] parthlawate commented on #129
@mbabker I agree completely I should have rephrased the original document even before opening it up for internal consumption. However I do think if anyone has ideas to improve the process there is no harm in accepting them. But yes how it is phrased can ofcourse be improved..

[2017-12-06 09:06] brianteeman commented on #129
1. as i said assume a base level of zero at this time
2. reminding them without the information required (eg how to move to namespace code) is pointless
3. thats not the role of a survey. thats the role of a series of "howto" and  "101" articles
4. benefits check is fine but then dont have such loaded questions that only address such a small part of j4. impacts is unknown without information. eg d

[2017-12-06 13:16] brianteeman commented on #129
Having read the report from the dept meeting at JWC https://volunteers.joomla.org/departments/marketing-communication/reports/709-jwc-16-nov-2017-department-sprint I don;t see how this survey helps match those aims.

If I didnt know better I would say that this survey is purely motivated by a desire from someone to find proof to justify not adopting certain technologies in J4

[2017-12-07 09:07] parthlawate commented on #129
I really hope thats not the case @brianteeman ! But as an idea i think its good.. So I'll reword for it to achieve its aim and repost here for comments.

Those notes are from Mkt & Communication. This wasn't discussed there. Its come up post JWC.

[2017-12-07 10:04] brianteeman commented on #129
I hope not too but the concentration on just one area suggested that was the case.

I stand by my view that this is the wrong time to do the survey.

Btw I published a post with notes from a lecture I attended about writing survey questions that you might find useful. https://brian.teeman.net/web/ten-commandments-for-creating-a-survey

[2017-12-09 12:48] Sandra97 opened #130 "Blog post "A year in Review""
The end of the year is coming soon (hopefully) 😉
It would be great if we can publish at the beginning of 2018 on jorg an overview of 2017 and what to expect for 2018.

Some ideas for the  2017 part:
- The new structure
- We passed 1000 volunteers on the VP
- Over 88 millions downloads
- JWC in Europe for the 1st time,
- New homepage for jorg,
- 10 stable releases and the 3 first J4 Alpha
- Number

[2017-12-09 16:09] freshweb commented on #64
1st draft of Joomla for small business websites ready for review/amendments

[2017-12-10 06:43] Sandra97 commented on #116
[Article](https://www.joomla.org/announcements/general-news/5719-4-reasons-why-you-should-get-php-7.html) published on jorg on Dec. 6.

[2017-12-18 07:23] parthlawate commented on #129
Hello Once again !   @brianteeman thanks went through the blog.. its a good read :)

I have rephrased the survey, purpose as well as questions. Please review and comment on the same . Page 1-4 only !

https://docs.google.com/document/d/1QR10j4IaHjaF7w-gns3viob631IZfvnKvQ_AFgyUcyg/edit#

[2017-12-18 09:08] brianteeman commented on #129
Now that's a valid survey. Thanks ms for taking on board the comments

[2017-12-18 09:49] parthlawate commented on #129
thanks !

[2017-12-25 16:23] Sandra97 commented on #130
Article ready to be published on jorg before the end of the year.

[2017-12-25 16:23] #130 closed

[2018-01-27 01:16] jayblaq opened #131 "JoomlaDay Florida Promotional Material - Joomla Stickers"
Joomla stickers needed for the event.   We have been using sticker giant to provide us with free sticker sheets for the past few years.  We have a custom sticker sheet for this year and would like to request 150 official Joomla stickers for the event.

March 3rd 2018 - Tampa, FL

[2018-01-27 01:20] jayblaq opened #132 "Startup conference marketing event"
I approached our start up week about speaking about Joomla and Open Source.  All speaker positions are filled for the year, but they offered a special session and sponsorship.  I know this is way out of the project budget to be the Web Development Track Sponsor.  I submit for approval.  If not approved.  We should really look into how we can get new users and volunteers via marketing.  Any way it

[2018-01-29 11:22] ufuk-avcu commented on #132
We wish also to sponsor many events, but we need to choose wisely, how we spend our money - like you said. Otherwise it's always our goal to attract people for Joomla! If you have some Ideas, then you are welcome in the Marketing Group!

[2018-01-29 11:57] ufuk-avcu commented on #131
We have currently no stickers. You can also ask the Events Team for Stickers.

[2018-01-29 11:57] #131 closed

[2018-01-29 16:15] freshweb commented on #64
I've shared an item with you:

Joomla Advantages Cheatsheet
https://docs.google.com/document/d/1OGnTbdzZjNR22wvKP_4vBimq-ybNRmbLMADXl-30tsU/edit?usp=sharing&ts=5a6f48a1

It's not an attachment – it's stored online. To open this item, just click
the link above.

1st draft

[2018-01-29 16:39] Sandra97 commented on #64
Hi @freshweb

We already have a document about Joomla Benefits: https://docs.google.com/document/d/1dbzwkJuiSiqo-yV9bhkf_pxwkLz1sfbEztUhu6OON0Y
We also have a brochure featuring the 6 main benefits and the J4 landing page will highlight them too.

[2018-01-29 17:14] freshweb commented on #64
Ah,
Thanks Sandra - didn't know it existed & is better than my initial effort!

I'm still wondering if shorter (almost slogan) length statements might be
useful too ?

On 29 January 2018 at 16:39, Sandra Decoux <notifications@github.com> wrote:

--
Kind regards

(Dr) Eddie May

Director
Fresh Web Services Ltd : e-business solutions

+44 (0)116 2793 822
+44 (0)781 2341 537
www.freshwebservices.com

[2018-01-29 17:53] Sandra97 commented on #64
I think yes, Eddie.

[2018-01-30 02:17] parthlawate commented on #64
@freshweb If you can refer the benefits doc and create a quick impact paragraph out of it for use in the use case articles, that would be great. You can link to the benefits page with - To know more, Click here..

[2018-01-30 16:16] #132 closed

[2018-01-30 17:56] jayblaq opened #133 "Collision Conference is offering FREE TICKETS to Open Source Developers"
I think it would be a very idea to get some Joomlers to attend Collision this year!

https://collisionconf.com/open-source?utm_source=facebook&utm_campaign=open_source_first_push&utm_medium=cpm&utm_content=github_image_thank_you&utm_term=github_email_list_lookalikes

[2018-03-09 17:29] Sandra97 commented on #113
Benefits content has been published on jorg.

[2018-03-20 16:06] rcarey opened #134 "[IDEA] Build and list integrations to prominent services"
As I review various SaaS services and look at their integration list, I occaisionally see WordPress listed as an integration option.  I wish I could see the Joomla logo along with other prominent services such as Trello, MailChimp, Google Docs, GitHub, etc.  As I review the lists on various sites, the logos stick in my mind and reinforce their brand.  (An example list where WP got in:  https://www

[2018-03-20 16:11] mbabker commented on #134
How many of these integrations are built by the third party whom is linked to (in this case, how many are developed by Automattic/WordPress) versus how many are built by the base service (in this case, how many were developed by Teamwork)?

We already have a hard enough time getting contributors to our core code.  I don't think it's a good priority to write integrations to third party platforms th

[2018-03-20 16:38] rcarey commented on #134
I don't know the answer regarding who are the ones developing these,  It would be insightful to know.  Maybe there is value to developers of certain extensions.
I understand the challenge of volunteers, and I probably agree that this is not a high priority for a scarce resource.  But if marketing is going to invest money in some initiatives, getting listed as a viable resource seems to be an initi

[2018-03-20 16:43] brianteeman commented on #134
https://connect.mailchimp.com/search?q=joomla

[2018-04-25 20:47] mediaateam opened #135 "JoomlaDay Texas 2018"
Hello,
Can you guys makes some posts from the Joomla social media accounts about JoomlaDay Texas? We are pushing to get a few more signup before the event Saturday. Maybe something like this:

@JoomlaDayTexas is this Saturday in Houston, Texas. The code JOOMLAROCKS will give the first ten signups free entry to the event! For more details about the #joomladay visit: www.joomladaytexas.com #jdaytexa

[2018-04-26 04:00] Sandra97 commented on #135
Hi,

We already did a post on our social media channels
For example: https://twitter.com/joomla/status/987280164487925760

We will do this one with pleasure.

[2018-04-26 14:32] #133 closed

[2018-04-26 14:34] Sandra97 commented on #128
@parthlawate Do you know what's the status for this project? Did anyone contact the people who filled the form? Any update?

[2018-04-26 14:37] Sandra97 commented on #113
@mikeveeckmans Seems we need a new sprint together to get the use cases done, as it seems nobody is interested in helping and nothing happened since Nov 17.

[2018-04-26 14:43] Sandra97 commented on #113
As there's already an issue for use case #64, I'm closing this one

[2018-04-26 14:43] #113 closed

[2018-04-26 15:03] Sandra97 commented on #64
Yep, many have been started but that's all. We still don't have any case studies.

[2018-04-26 15:04] mikeveeckmans commented on #64
What's the folder or doc ?

[2018-04-26 15:11] Sandra97 commented on #64
That's the folder: https://drive.google.com/drive/u/0/folders/0B-ot4td3p7XeZXFwZDNMNTZON0E

[2018-04-26 15:35] mediaateam commented on #135
Thank you guys!

[2018-04-26 16:01] hvdmeer commented on #135
I'm the only guy on the team. :grinning:

[2018-04-28 00:28] parthlawate commented on #64
@sandra97 I think 2-3 have been ready to go for quite some time now.. we just need to decide where to put them ..

[2018-04-28 14:10] rvbgnu commented on #64
Yes, you're right, we should decide where to publish when, and which one, and when. Then we could focus on the one we need first. Let's ask Noreen how she sees it, and get the schedule rolling!

That's great Mike if you can help writing some! Which case(s) are you comfortable with?

[2018-05-24 15:52] Sandra97 commented on #135
Closing this issue as all has been done and the event passed

[2018-05-24 15:52] #135 closed

[2018-06-01 18:06] rvbgnu commented on #64
I am suggesting of splitting the different Use Cases up in GitHub, into a project (Work Package), to make it more easier for:
- contributors to take one to work on
- for us to follow who is working on what, and to avoid duplicate work
- to see if some copywriting is staled, and to get help from someone else
Before I proceed, what do you think?

[2018-06-02 05:41] Sandra97 commented on #64
Go for it

[2018-06-02 05:54] freshweb commented on #64
Good idea

On 1 June 2018 at 19:06, Hervé Boinnard <notifications@github.com> wrote:

--
Kind regards

(Dr) Eddie May

Director
Fresh Web Services Ltd : e-business solutions

+44 (0)116 2793 822
+44 (0)781 2341 537
www.freshwebservices.com
14 Greenway
Kibworth Beauchamp
Leicestershire. LE8 0LU. GB.

Registered at Companies House, No. 4716234

********************************************
This commu

[2018-06-02 06:38] parthlawate commented on #64
Yes better packaging an segregation will definitely help it more effective and trackable

[2018-06-02 12:18] rvbgnu opened #136 "[COPYWRITING] Use Case: Joomla for Small Business Websites"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :
Small business websites
Affordable small business websites
Marketing
Websites
SEO
Search engine optimisation

### Quick Background & Problem Statement
Every small business needs a website. In the ‘old days’, a simple static website would suffice for most but in a rapidly changing business environment a company’s website need

[2018-06-02 12:25] rvbgnu opened #137 "[COPYWRITING] Use Case: Joomla for Intranets"
## Suggested Content and Format

(This part is already in the document)
https://docs.google.com/document/d/1Hqb6cizMPOMbNglszTpR5FcmMMF8sBwI842bSHHoE3U/edit

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in the Joomla community magazine.

**Complete information on th

[2018-06-02 12:52] rvbgnu opened #138 "[COPYWRITING] Use Case: Joomla for News Portals"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

How Joomla Can help you Build a News Portal

Matching category with the Joomla Showcase Directory: **News & Media**
https://showcase.joomla.org/browse-sites.html?search=showcase_search

[2018-06-02 12:57] rvbgnu opened #139 "[COPYWRITING] Use Case: Joomla for Events and ticketing"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :
building an event website
Joomla event template
event websites on joomla
Conference website
Meetup website

### Quick Background & Problem Statement
Whether you’re organizing a local meetup or a global conference, a small party or a 3 day festival, you’re creating an event and you need a website. What makes an event happen?

[2018-06-02 13:02] rvbgnu opened #140 "[COPYWRITING] Use Case: Joomla as a CRM Plateform"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :
CRM
Open Source CRM
Online CRM

### Quick Background & Problem Statement
Your customer base is growing and keeping the contact with them is getting harder and harder? Then you may should think about using a customer relationship management system to keep all data together. With a great customer relationship you can track you

[2018-06-02 14:21] rvbgnu opened #141 "[COPYWRITING] Use Case: Joomla for Blogs"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :
Blogs
Writing
Free website
Online diary
Self Publishing

### Quick Background & Problem Statement
The weblog craze started approximately around 1994; many of these original bloggers -- despite not having yet earned that title - were the same people who first understood the value of the World Wide Web in the 1980s. In the fir

[2018-06-02 14:47] rvbgnu opened #142 "[COPYWRITING] Use Case: Joomla for Non Profits"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :
Non profit website
Non profit template
Free website
Charity Website
Charity hosting
Donation Website
Online Donations

### Quick Background & Problem Statement
A non profit organisation faces its unique set of challenges. Championing their cause, getting found online, inspiring members to join as volunteers, collecting donat

[2018-06-02 14:52] rvbgnu commented on #142
@parthlawate Your document **Use Case: Joomla for Non Profits** is now referenced in this issue. Discussion and comments are welcome here!

Please for content suggestions, use the **Suggesting** mode in the document below
https://docs.google.com/document/d/13DaPrUBH4n44AT_qFW56PSSo-hNYEpdtAU0277Iq7MU/edit

[2018-06-02 14:57] rvbgnu commented on #136
@freshweb Your document **Use Case: Joomla for Small Business Websites** is now referenced in this issue. Discussion and comments are welcome here!

Please for content suggestions, use the **Suggesting** mode in the document below
https://docs.google.com/document/d/1GlmlwBMMthKh13La5sZozmrsOeFeSt0FxwitoW4h9V0/edit#

[2018-06-02 14:59] rvbgnu commented on #137
@freshweb Your document **Use Case: Joomla for Intranets** is now referenced in this issue. Discussion and comments are welcome here!

Please for content suggestions, use the **Suggesting** mode in the document below
https://docs.google.com/document/d/1Hqb6cizMPOMbNglszTpR5FcmMMF8sBwI842bSHHoE3U/edit

[2018-06-02 15:01] rvbgnu commented on #141
@pete-rossetti Your document **Use Case: Joomla for Blogs** is now referenced in this issue. Discussion and comments are welcome here!

Please for content suggestions, use the **Suggesting** mode in the document below
https://docs.google.com/document/d/1yjJhkHSg7jWP3pAvvPH1uOow6byqbQC_fp8mw02Rrmw/edit

[2018-06-02 15:04] rvbgnu commented on #64
@pete-rossetti Your document **Use Case: Joomla for Blogs** is now referenced here #141
Thank you for your contribution!

[2018-06-02 15:05] rvbgnu commented on #64
@parthlawate Your document **Use Case: Joomla for Non Profits** is now referenced here #142
Thank you for your contribution!

[2018-06-02 15:07] rvbgnu commented on #64
@freshweb Your document **Use Case: Joomla for Intranets** is now referenced here #137
and **Use Case: Joomla for Small Business** here #136

Thank you for your contributions!

[2018-06-02 15:23] rvbgnu opened #143 "[COPYWRITING] Use Case: Joomla for ECommerce"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions
Whether you need a simple one product purchase page or a complex online shop with integration to warehousing, CRM and invoicing Joomla is a great solution. The number of quality 3rd par

[2018-06-02 15:31] rvbgnu opened #144 "[COPYWRITING] Use Case: Joomla for eLearning"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

Matching category with the Joomla Showcase Directory: **Educational**
https://showcase.joomla.org/browse-sites.html?search=showcase_search&task=search&item_category_frontend=36

## Gui

[2018-06-02 15:32] rvbgnu opened #145 "[COPYWRITING] Use Case: Joomla for Corporate Websites"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions
Probably the most common type of website created in Joomla is the corporate website. Joomla is great for business websites because you can completely customize every aspect of the visua

[2018-06-02 15:33] rvbgnu opened #146 "[COPYWRITING] Use Case: Joomla for Crowdfunding"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in th

[2018-06-02 15:34] rvbgnu opened #147 "[COPYWRITING] Use Case: Joomla for Social Networks"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

Matching tag with the Joomla Showcase Directory: **Social Media**
https://showcase.joomla.org/browse-sites.html?search_generic_showcase_items=&item_tags_search%5B%5D=35&item_featured=&

[2018-06-02 15:36] rvbgnu opened #148 "[COPYWRITING] Use Case: Joomla for Government"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions
Joomla is in it’s core an Open Source platform for publishing content on the web. This is exactly what makes Joomla so popular among government institutions around the world. In many na

[2018-06-02 15:37] rvbgnu opened #149 "[COPYWRITING] Use Case: Joomla for eGovernance"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in th

[2018-06-02 15:38] rvbgnu opened #150 "[COPYWRITING] Use Case: Joomla for Support Portals"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in th

[2018-06-02 15:38] rvbgnu opened #151 "[COPYWRITING] Use Case: Joomla for Business directories and catalogs"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

Matching tag with the Joomla Showcase Directory: **Directory**
https://showcase.joomla.org/browse-sites.html?search_generic_showcase_items=&item_tags_search%5B%5D=25&item_featured=&ite

[2018-06-02 15:39] rvbgnu opened #152 "[COPYWRITING] Use Case: Joomla for Enterprise"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

Matching category with the Joomla Showcase Directory: **Business**
https://showcase.joomla.org/browse-sites.html?search=showcase_search&task=search&item_category_frontend=35

## Guidel

[2018-06-02 15:40] rvbgnu opened #153 "[COPYWRITING] Use Case: Video portals with Joomla"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in th

[2018-06-02 15:41] rvbgnu opened #154 "[COPYWRITING] Use Case: Photography Communities with Joomla"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in th

[2018-06-02 15:42] rvbgnu opened #155 "[COPYWRITING] Use Case: Joomla for Portfolio sites"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in th

[2018-06-02 15:42] rvbgnu opened #156 "[COPYWRITING] Use Case: Project Management using Joomla"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in th

[2018-06-02 15:44] rvbgnu opened #157 "[COPYWRITING] Use Case: Library Management using Joomla"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in th

[2018-06-02 15:45] rvbgnu opened #158 "[COPYWRITING] Use Case: Church Websites using Joomla"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions

## Guidelines

**Volunteer Requirements**
We need 1-2 Content writers (Per subject) who can help either individually write content or collaborate on it and publish these articles in th

[2018-06-02 15:59] rvbgnu opened #159 "[COPYWRITING] Use Case: Joomla for Multilingual Websites"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions
Joomla has always been a great tool for building multilingual web sites and has multilingual content built right into the core, as well as several really powerful extensions that help y

[2018-06-02 16:05] rvbgnu opened #160 "[COPYWRITING] Use Case: Joomla for Community Fundraisers"
## Suggested Content and Format

### Keywords & Phrases to Optimise for :

### Quick Background & Problem Statement

### Basic Features Needed
* To add

### Advanced Features Needed
* To add

### Possible Solutions
Annual community fundraising events have multiple requirements beyond text components including; registration with payment gateway, donation gateway, sponsor banner tracking, gallery, m

[2018-06-02 16:21] rvbgnu commented on #64
@aDaneInSpain I've used your summaries from here https://github.com/joomla/joomla-marketing/issues/64#issuecomment-305961194
 to the new respective issues, when nothing has been started already (Corporate Websites, Joomla for ECommerce, Joomla for Government, Joomla for Multilingual Websites).
Thank you for your help Søren!

[2018-06-02 16:21] rvbgnu commented on #64
@AlisonAMG I've used your summary from here https://github.com/joomla/joomla-marketing/issues/64#issuecomment-319094656
to the new respective issue #160
Thank you for your help Alison! Are you willing to continue the writing of the Use Case: Joomla for Community Fundraisers?

[2018-06-02 16:28] rvbgnu commented on #64
Dear all,

Thank you for your contributions and for offering your help! The Joomla **Use Cases** are really an important part of our Marketing Strategy. And sorry for all the Github notifications of today ;-)

You can now follow this effort progress on the GitHub Project
https://github.com/joomla/joomla-marketing/projects/9

Please contribute!! Take one topic in the first column **To do**, Move th

[2018-06-02 22:07] rvbgnu commented on #64
And I've cross referenced Use Cases with the Showcase Directory. References are also on each Use Case when possible. Please feel free to add to this document, on the Use Case directly. And of course, submit the site you've built to the Showcase Directory!!

Joomla Showcase Directory - Categories and Tags
https://drive.google.com/open?id=1yKS0V7R8u4I06Ove8gZ8dmf31VnHAZZbUddY5XBLLYw

[2018-08-16 04:06] Sandra97 commented on #120
Some interviews have been done during JWC, nothing has been done with them, sources are not in our GG Drive. I'm closing this.

[2018-08-16 04:06] #120 closed

[2018-08-17 15:53] agerix commented on #120
however, I've share all the images and videos :(

[2018-08-17 16:14] Sandra97 commented on #120
I have all your images and the slow motion but not the 'interview' videos

[2018-09-14 15:46] #61 closed

[2018-09-14 15:47] #65 closed

[2018-09-14 15:50] Sandra97 commented on #87
We don't currently have the resources to achieve this and need to prioritize our tasks.

[2018-09-14 15:50] #87 closed

[2018-09-14 15:51] Sandra97 commented on #111
I already did a lot of clean up and will continue

[2018-09-14 15:51] #111 closed

[2018-09-15 08:34] Sandra97 commented on #134
Marketing has a very low budget and we lack of volunteers everywhere. I'm closing this issue. Can still be re-opened.

[2018-09-15 08:34] #134 closed

[2018-09-15 08:36] Sandra97 commented on #129
Due to the lack of volunteers and the fact we had for this reason to switch the team to unofficial, I'm closing this issue.
It would be great to be able to have good user surveys but volunteers are needed to help.
I'm closing this issue, can be re-opened when volunteers are willing to help.

[2018-09-15 08:36] #129 closed

[2018-09-15 08:39] Sandra97 commented on #128
Instead of only waiting volunteers to give ideas of articles and do nothing with their ideas, it's better to have a list of articles we would need and create tasks for each, and follow up.
So I'm closing this issue.

[2018-09-15 08:39] #128 closed

[2018-09-15 08:41] Sandra97 commented on #125
Due to the lack of volunteers, I'm closing this issue.
It can still be re-opened when we have new volunteers.
And better to have one issue = one defined task than an issue containing a list of tasks to achieve.

[2018-09-15 08:41] #125 closed

[2018-09-15 08:43] Sandra97 commented on #124
Tasks not defined enough.
I'm closing this issue.
We still need to improve the profiles we currently have to be able to show that Joomla can answer many needs.
It's better to create separate task so that volunteers can have a good understanding and overview of what is needed

[2018-09-15 08:43] #124 closed

[2018-09-15 08:46] Sandra97 commented on #121
This is for Social Media and we already have a doc for our properties promotion. So I'm closing this issue
See https://github.com/joomla/socialmedia/issues/11

[2018-09-15 08:46] #121 closed

[2018-09-15 08:46] Sandra97 commented on #109
I'm closing this issue for lack of interest.
It still can be re-opened if some volunteers would be ok to make it happen.

[2018-09-15 08:46] #109 closed

[2018-09-15 08:49] Sandra97 commented on #92
We have a brochure since last year. We still need many more elements to promote Joomla correctly but we curretnly don't have the resources for big plans. So let's do baby step by baby step and be realistic with our resources.

[2018-09-15 08:49] #92 closed

[2018-09-15 08:50] Sandra97 commented on #91
Before creating I don't know how many newsletters, better to improve the current one and focus on it.
Any help welcome! Just contact me.
I'm closing this issue.
Re-open if needed.

[2018-09-15 08:50] #91 closed

[2018-09-15 08:52] Sandra97 commented on #88
I would love to have a working group for relationships with hosting companies, so that they can promote better Joomla (by providing them up to date content, press releases...) But this requires human resources we don't currently have. So unfortunately I'm closing this issue and hope I can re-open it one day.

[2018-09-15 08:52] #88 closed

[2018-09-15 08:54] Sandra97 commented on #84
This task went nowhere unfortunately. As for all tasks, this need resources we don't have. So better prioritize our tasks for the moment and focus on J3.9 and J4.

[2018-09-15 08:54] #84 closed

[2018-09-15 08:56] Sandra97 commented on #81
We have far too many tasks open for too long that go nowhere for a lack of resources / interest. The new marketing strategy gives guidelines for thsi kind of promotion. Let's do things step by step to be sure we  have achievable goals according to our resources.

[2018-09-15 08:56] #81 closed

[2018-09-15 08:58] Sandra97 commented on #80
We have now the benefits page and the brochure. It's of course not enough, but at least it's something.
And this task is not well defined, no guidelines are provided so chances are vey low that anyone jumps in.
So I'm closing it.

[2018-09-15 08:58] #80 closed

[2018-09-15 09:01] Sandra97 commented on #77
Involving JUGs is part of the new marketing strategy. We are already doing this (not enough for sure but we do baby steps in the right direction)
And this task is not enough defined and no guidelines. So I'm closing this issue.

[2018-09-15 09:01] #77 closed

[2018-09-15 09:04] Sandra97 commented on #68
This is going nowhere. I'm closing this issue.
I would love to have a 'professional' video to promote Joomla but this is a huge task not achievable for the moment. Let's focus on short videos.

[2018-09-15 09:04] #68 closed

[2018-09-15 09:05] Sandra97 commented on #70
Social Media Team is managing this and we're adding regularly new videos to our playlists. If anyone sees a great video we didn't have yet in our playlists, please contact me.

[2018-09-15 09:05] #70 closed

[2018-09-15 09:06] Sandra97 commented on #64
As Hervé created separate tasks for each use case to facilitate the process, I'm closing this one.

[2018-09-15 09:06] #64 closed

[2018-09-15 09:40] Sandra97 commented on #120
Thank you Eric!

[2018-09-15 10:33] rvbgnu commented on #120
Thank you Eric!

[2018-12-13 05:31] Sandra97 opened #161 "Patch Release Coordinator"
The Marketing Team is looking for a volunteer to manage the marketing tasks for patch releases.

The mission consists in:
- Writing the release announcement
- Writing the related newsletter
- Updating the Joomla Wikipedia page
- Being in touch with the Social Media Team and the Marketing Liaisons to provide them information.

[2018-12-13 14:49] Sandra97 opened #162 "Joomla 4 WG Lead"
The Joomla Marketing team is looking for a Joomla 4 Marketing Team Lead who will be in charge of:
-  Applying the agreed marketing plan,
- Coordinating the whole marketing campaign
- Creating a team to achieve the mission.

 The Lead will be in close contact with the Release Lead.

https://volunteers.joomla.org/teams/joomla-4-marketing-team

[2018-12-14 15:20] Sandra97 opened #163 "Joomla 4 - Newsletter Template Integrator"
The Marketing team is looking for a volunteer with AcyMailing knowledge to transform 3 PSD templates into 3 AcyMailing Templates.

[2019-12-06 22:53] sdwdeiahil opened #164 "[imagery] JoomlaDay Chicago 2020"
Would it be possible to get an image for JoomlaDay Chicago 2020?  The event is Oct 17, 2020 at DePaul University Loop Campus.  We have updated the website and will push out requests for sponsors and speakers (we already have 1 signed up) before the end of the month.

[2019-12-14 14:49] AlisonAMG commented on #164
Hi sdwdeiahil

I have created images to use for promotion on our official channels and have attached them here.

You are in charge of creating specific promo images for your event. :)

Have a super day!
Alison

![JDayChicago-2020](https://user-images.githubusercontent.com/3825882/70850285-9c81e280-1e56-11ea-8c18-ef8e0ece874f.png)
![JDayChicago2020-Insta](https://user-images.githubusercontent.com/3

[2019-12-14 14:49] #164 closed

[2019-12-14 14:51] sdwdeiahil commented on #164
THANK YOU
___________________________________________________________________________
SD Williams | sdw@danicoenterprises.com | office: 847-241-4227 direct: 847-241-4227 x801
Danico Enterprises, Inc - Arlington Heights | www.danicoenterprises.com
Web & Marketing Services

Need assistance? help@danicoenterprises.com

[2020-01-21 11:57] acvmultimedia commented on #163
Hi @Sandra97 for which version of ACYmailing? The new version is "drag and drop" constructor. Can I see those PSD?

[2020-01-21 15:30] Sandra97 commented on #163
We're using 5.10.x version. I'll grant you an access to the PSD files. Thanks Josean!

[2020-01-22 09:43] acvmultimedia commented on #163
I've seen the newsletter designs and yes, I generally like them. The problem I see is that we will never get those designs to be perfect in all the different Outlook's on the market. I know this because we have made many templates in the past with ACYba and because even with Mailchimp the same thing happens when the newsletter gets complicated. My advice is if you can use ACYmailing 6.x and adapt

[2020-01-22 09:51] Sandra97 commented on #163
I like them too but for sure they need to be adapted. I've never tried ACY 6. I have plenty of existing newsletter templates. Do you know if they will still work if we switch to 6 or they will need to be rewritten?

[2020-01-22 09:54] acvmultimedia commented on #163
They work perfectly, ACY 6 gives the option to continue editing as always the old ones and the option of drag & drop for others, they coexist well.

Besides, the incredible thing is that ACY 5 and ACY 6 would be at the same time and this for the calmness of all at the beginning is great, then if with time we like it and it works well we remove ACY5.

[2020-01-22 10:02] Sandra97 commented on #163
That's a good news.

@Joomv is the webmaster of the property hosting ACYmailing (community.joomla.org). Rowan, would it be possible for you to install ACY 6 and provide an access to Josean? Thanks

[2020-01-22 10:03] acvmultimedia commented on #163
Perfect @Sandra97 , thanks

[2020-01-23 15:19] Sandra97 commented on #160
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:19] #160 closed

[2020-01-23 15:19] Sandra97 commented on #159
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:19] #159 closed

[2020-01-23 15:19] Sandra97 commented on #158
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:19] #158 closed

[2020-01-23 15:19] Sandra97 commented on #157
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:19] #157 closed

[2020-01-23 15:19] Sandra97 commented on #156
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:19] #156 closed

[2020-01-23 15:20] Sandra97 commented on #155
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:20] #155 closed

[2020-01-23 15:20] Sandra97 commented on #154
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:20] #154 closed

[2020-01-23 15:20] Sandra97 commented on #153
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:20] #153 closed

[2020-01-23 15:20] Sandra97 commented on #152
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:20] #152 closed

[2020-01-23 15:20] Sandra97 commented on #151
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:20] #151 closed

[2020-01-23 15:20] Sandra97 commented on #150
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:20] #150 closed

[2020-01-23 15:21] Sandra97 commented on #149
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #149 closed

[2020-01-23 15:21] Sandra97 commented on #148
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #148 closed

[2020-01-23 15:21] Sandra97 commented on #147
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #147 closed

[2020-01-23 15:21] Sandra97 commented on #146
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #146 closed

[2020-01-23 15:21] Sandra97 commented on #145
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #145 closed

[2020-01-23 15:21] Sandra97 commented on #144
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #144 closed

[2020-01-23 15:21] Sandra97 commented on #143
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #143 closed

[2020-01-23 15:21] Sandra97 commented on #142
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #142 closed

[2020-01-23 15:21] Sandra97 commented on #141
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #141 closed

[2020-01-23 15:21] Sandra97 commented on #140
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #140 closed

[2020-01-23 15:21] Sandra97 commented on #139
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:21] #139 closed

[2020-01-23 15:22] Sandra97 commented on #138
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:22] #138 closed

[2020-01-23 15:22] Sandra97 commented on #137
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:22] #137 closed

[2020-01-23 15:22] Sandra97 commented on #136
I'm closing this task as we're reorganising this repository.

[2020-01-23 15:22] #136 closed

[2020-01-24 09:31] acvmultimedia commented on #162
OK, I'll do my best.

[2020-01-27 15:24] Sandra97 commented on #161
I will take care of 3.9 releases.

[2020-01-27 17:35] mqueme opened #165 "Google Ads Manager responsible"
Responsible for managing the google adds campaigns related to all Joomla projects

[2020-01-27 17:38] mqueme opened #166 "Case Studies per target groups / building campaigns"
We need a team of marketing experts to
- help identify target groups
- define best communications channels
- define marketing strategies
- define marketing campaigns
- build reports

[2020-01-27 17:38] Sandra97 opened #167 "4.0 Major Release Coordinator"
The coordinator will be in charge of

- Preparing the Beta Blog Post  + image in liaison with George
- Preparing the RC Blog Post + image in liaison with George (hire an editor to get the best blogpost post possible)
- Preparing the Stable Blog Post + image in liaison with George (hire an editor to get the best blogpost post possible)
- Sharing with the Marketing Liaisons Team the pre-release and

[2020-01-27 17:41] mqueme opened #168 "Newsletter WG Contributor(s)"
Please fill in a comment to sign up to this WG and list skills you can contribute with together with number of hours you can contribute per month.

You will be assigned to the WG related to this issue.

[2020-01-27 17:43] mqueme opened #169 "Social Media WG Contributor(s)"
Please fill in a comment to sign up to this WG and list skills you can contribute with together with number of hours you can contribute per month.

You will be assigned to the WG related to this issue.

[2020-01-27 17:53] Sandra97 commented on #169
More information on the dedicated repository:
https://github.com/joomla/socialmedia/issues

[2020-01-28 07:57] Sandra97 commented on #165
Tabata will manage the Google Adwords campaigns (in liaison of course with the DC / marketing team). Thanks Tabata!

[2020-01-28 08:10] agerix commented on #165
Thank you Tabata! Don't hesitate to come back to me if you need anything

[2020-01-28 08:27] TabataMkt commented on #165
Thank you!

El El mar, 28 ene 2020 a las 9:10, Eric Lamy <notifications@github.com>
escribió:

--
*Tábata Martínez Domenech*

[2020-01-29 20:49] jonathanCA opened #170 "Market Research"

[2020-01-29 21:17] mqueme opened #171 "Market Reasearch WG Lead"
- Reporting meeting minutes
- Scheduling meetings when needed
- Coordinating workload
- Communicating with other WG
- Maintaining the WG project in github

[2020-01-29 21:18] jonathanCA opened #172 "Social Media WG Lead"
- Reporting meeting minutes
- Scheduling meetings when needed
- Coordinating workload
- Communicating with other WG
- Maintaining the WG project in github

[2020-01-30 14:25] davidsteadson commented on #171
Guess I need to up my GitHub game ....

[2020-01-30 15:17] jonathanCA opened #173 "Collect Data on Download.joomla.org via API Statistics"
Use the update systems api stats to gain insight...

[2020-02-16 22:10] davidsteadson opened #174 "Collate existing market research"

[2020-02-16 22:11] #171 closed

[2020-02-16 22:20] davidsteadson opened #175 "Gain access to google analytics data for joomla properties"

[2020-02-16 23:31] davidsteadson opened #176 "Gain access to social media visitor data"
Facebook, Twitter, Instagram provide data on followers/engagement etc. May be useful.

[2020-02-17 06:52] Sandra97 commented on #175
You can ask Rowan to provide you an access

[2020-02-17 06:53] Sandra97 commented on #176
Instagram stats: https://docs.google.com/document/d/1nVljFMdOu7WAOTQbGQMgZd4AmoekYZgljUagATZGGiU/edit?usp=sharing

[2020-02-17 11:29] davidsteadson commented on #175
Thanks Sandra! Will do.

[2020-02-17 11:31] davidsteadson commented on #176
Thanks Sandra

[2020-03-05 06:58] acvmultimedia commented on #163
Hello @Sandra97 I already have access and consent to install ACYmailing 6 in the sidekick version. Rowan gave me access a few days ago.

[2020-03-05 07:02] Sandra97 commented on #163
Great! Thanks Josean

[2020-05-15 13:04] OnTheMarkDesign commented on #169
I'm on the JCM Team as an Editor/Proofreader, and will also be networking in our Joomla! (and Open Source) Community for new Authors (and potential JCM Team Members)

There is NO "label" in this GH repository for "JCM", perhaps it can be added?

[2020-05-15 13:28] hvdmeer commented on #169
I don't see the need for a JCM label on this issue. In fact, to me this issue can be closed as we from the SMT have our own official team @mqueme . We do not fall under the Marketing team, both our teams are in the Marketing and Communication Department.

[2020-05-15 13:56] OnTheMarkDesign commented on #169
From https://github.com/joomla/joomla-marketing

The aim of this repo is to manage the work of the Marketing Team and promote transparency a**cross all areas of The Joomla! Project**

Seem to me that the JCM would be a venue for getting "word" out about any marketing efforts of the Joomla! project!

[2020-05-15 13:59] AlisonAMG commented on #169
That may be Mark but this is the Social Media not Magazine. *Edit* and SMT already promotes the magazine and all contents every month something is put out.

[2020-05-15 14:03] hvdmeer commented on #169
Mark, your asking your question in the wrong place. Please create a new issue in this repo about your question. Now you are just using another issue for your own purpose. Thank you!

[2020-05-15 14:12] OnTheMarkDesign commented on #169
Sorry for taking up everyone's time

[2020-05-15 14:12] #169 closed

[2020-05-15 14:16] #172 closed

[2020-06-01 18:34] #162 closed

[2020-06-03 10:17] andreagentil commented on #116
@Sandra97 do we have to publish anything else on this or we can close it?

[2020-06-03 12:38] Sandra97 commented on #116
looking at the usage statistics, I think it could be a good thing to do a reminder.

[2020-06-10 15:25] andreagentil commented on #163
@marcodings @wilsonge @agerix @mqueme
The template for the J4 newsletter is almost ready. Who will be in charge of sending it?

[2020-06-10 15:32] andreagentil opened #177 "Joomla 4 Landing Page Template"
Transform the PSD file into a template

[2020-06-10 15:36] andreagentil opened #178 "Joomla 4 Landing Page Copywriting"
Copywriting

[2020-06-10 15:39] andreagentil opened #179 "Joomla 4 Beta 2 Blogpost"
Copywriting for Beta 2 blog post

https://docs.google.com/document/d/18gjBsBpmAISz9SzjpG-WrwQW_43L5JrWec29EqZtmOw/edit#

[2020-06-17 16:23] andreagentil opened #180 "Joomla 4 Beta 2 Newsletter"
Prepare the newsletter for the J4 Beta 2 release

[2020-06-17 16:29] andreagentil opened #181 "Joomla 4 Beta 2 Release"
- [x]  Preparing the Beta Blog Post + image #179
- [x]  Sharing with the Marketing Liaisons Team the blog post
- [x]  Setting up the blog post in jorg (or dev, depending if it’s Beta or Beta 1…)
- [x]  Preparing the newsletter #180

On release day:

- [x]  Inform the SM team and liaisons teams once the release is live
- [x]  Send the newsletter
- [x]  Add the translations to the blog post

[2020-06-23 19:51] #168 closed

[2020-06-24 15:22] andreagentil commented on #163
https://volunteers.joomla.org/teams/marketing/reports/1264-joomla-4-marketing-team

[2020-06-24 15:22] #163 closed

[2020-06-30 20:50] #179 closed, assigned to wilsonge, andreagentil, crommie

[2020-06-30 20:50] #180 closed, assigned to andreagentil, acvmultimedia

[2020-06-30 20:51] #181 closed, assigned to wilsonge, andreagentil

[2020-06-30 20:53] andreagentil opened #182 "Joomla 4 Beta 3 Release"
- [x] Preparing the Beta Blog Post + image
- [x] Sharing with the Marketing Liaisons Team the blog post
- [x] Setting up the blog post in jorg (or dev, depending if it’s Beta or Beta 1…)
- [x] Preparing newsletter

On release day:

- [x] Inform the SM team and liaisons teams once the release is live
- [x] Send the newsletter
- [x] Add the translations to the blog post

[2020-07-06 20:31] andreagentil opened #183 "Joomla 3.10 Release"
- [x]  Preparing the 3.10 Blog Post + image
- [x] Sharing with the Marketing Liaisons Team the blog post
- [ ] Setting up the blog post in jorg
- [x] Preparing newsletter

On release day:

- [x] Inform the SM team and liaisons teams once the release is live
- [x] Send the newsletter
- [x] Add the translations to the blog post

[2020-07-21 19:07] zero-24 commented on #183
As it is going to be released alongside beta 3 this here is the blog post: https://docs.google.com/document/d/1sdZ6VKcN0EFh6Hw649YMNpDNiLUMt2gN77Znm9oyuLo/edit#

[2020-07-23 16:12] mqueme opened #184 "Shop Management - VET"
Coordinate with PBF event about a new product they would like to include in the shop.

- Once T-shirt design has been sent to us, this needs to be published in the shop.
- We need to create a marketing campaign for social media to promote this.

[2020-07-29 20:41] #183 closed, assigned to zero-24, andreagentil

[2020-07-29 20:42] #182 closed, assigned to wilsonge, andreagentil

[2020-07-29 20:43] andreagentil opened #185 "Joomla 4 Beta 4 Release"
- [ ] Preparing the Beta Blog Post + image
- [ ] Sharing with the Marketing Liaisons Team the blog post
- [ ] Setting up the blog post in jorg (or dev, depending if it’s Beta or Beta 1…)
- [ ] Preparing newsletter

On release day:

- [ ] Inform the SM team and liaisons teams once the release is live
- [ ] Send the newsletter
- [ ] Add the translations to the blog post

[2020-09-29 13:18] 1337180 opened #186 "[IDEA]"
Hello,
we freelancers think that it may be good to see Joomla! updates coverage from some big projects, I often see wordpress drupal conentteller but never Joomla!
here are the sites:

https://www.majorgeeks.com/ - they release new software versions every day, I know this site for many years and its serious, no mistakes, has its own charm
https://www.snapfiles.com - this web is using and recommend