[2014-01-12 01:36] jessicadunbar opened #1 "how marketing can communicate with other project teams and the community."
We need to better define how marketing can communicate with other project teams and the community.

We created a Skype Chat called "Joomla! Marketing Chat". It was the easiest solution so far, but lacks openness to the community.

Other communication channels I found:

https://github.com/joomla/joomla-marketing
https://groups.google.com/forum/#!forum/joomla-marketing
http://forum.joomla.org/viewfo

[2014-02-20 23:23] #1 closed, assigned to nobody

[2016-06-21 09:03] puneet0191 opened #4 "[event] Joomla Promotional Materials"
I wanted to ask about Joomla Stickers and Promotional material for Joomla Day India event on August 28th 2016. Is it possible we could distribute some during the event, also what is the procedure to get them shipped?

[2016-06-21 13:32] mikeveeckmans commented on #4
Hi @puneet0191 ,
We will check the according budget line and will get back to you.
Could you give me a number of attendees?
What other "promotional material" did you have in mind?

Thanks

[2016-06-21 14:49] mikeveeckmans opened #5 "[event] Digital summit"
Denver Digital Summit, there are several more Digital Summit events in the US this year. There were several thousand attending in Denver and no CMS representation other than a few people from Sitecore. Most everyone I talked to had no idea what Joomla was but were very interested in what I saying about it.

Doing one of these events might be a good use of our event budget. It’s a little pricey but

[2016-06-22 01:19] parthlawate commented on #4
Some ideas -
Fridge Magnets
Pinup Badges (We had those at JWC and they were a big Hit)
Stickers
template for a Joomla Day Tshirt ? Not sure if we want to templatize that

@mikeveeckmans as per my knowledge - attendees will be between 125-150. I think we could help with the design and the Printing/creation can be done locally. That will be way cheaper.

[2016-06-22 05:43] puneet0191 commented on #4
@mikeveeckmans as @parthlawate mentioned, expected number is 150 max. Apart from Stickers, I also had Pinup Badges, Fridge Magnets in mind.

[2016-06-22 06:43] mikeveeckmans commented on #4
@parthlawate @puneet0191 Thank you. As soon as we have a clear budget, i'll get back you.

[2016-06-27 12:45] jeckodevelopment opened #6 "[communication] What about a common template for Newsletters?"
Many teams of the Joomla! project use newsletters to inform people and subscribers about news and progresses.
It seems that AcyMailing is one of the most used components to send newsletters.
What about a common template?

In this way all the teams could use the same look & feel for communications, news and updates.

[2016-06-27 13:08] amitkumarj441 commented on #4
Hey @puneet0191 ,

I'm new to Joomla and recently I started contributing to Joomla-pythagoras, currently Niels Braczek is mentoring me! I haven't attended any Joomla event till now and I would like to participate into this event. Please let me know how to participate into this event.
Looking forward to join your team!

Cheers,
Amit Kumar Jaiswal

[2016-06-27 13:51] DanaIdzik commented on #4
Hello guys :) We would love to take every possible promotional material which you can share :))) we expect 200 attendes this year :) lets stay in contact :)

[2016-06-27 14:00] amitkumarj441 commented on #4
Hi @DanaIdzik ,

Please let me know where're you organizing the event! I would like to participate into this event! Please do share me the link.

Cheers,
Amit Kumar Jaiswal

[2016-06-27 14:15] DanaIdzik commented on #4
@amitkumarj441 hi :)
Of course, our JoomlaDay is in Poland, in Gliwice..  Here is the map:
http://www.joomla-day.pl/lokalizacja
Our website is fresh so still in Polish :) we will make english parts soon as possible

[2016-06-27 16:25] cnpsupport opened #7 "[event] Southcoast Mini Maker Faire - Booth support"
Mike, I am helping to plan a Maker Fair here in the Southcoast region of the US. If you are not familiar with this movement here are some links: http://makerfaire.com/ http://capecodmakers.org/a-nation-of-makers/ https://www.whitehouse.gov/the-press-office/2016/06/16/presidential-proclamation-national-week-making-2016

More on our specific event in the coming weeks. I am a planner, sponsor and exh

[2016-06-27 19:23] mikeveeckmans commented on #6
@jeckodevelopment thank you for the suggestion, this is an ongoing project.
Some of the ideas you can already find here https://drive.google.com/folderview?id=0B4GyNQAWmZQ9Q1FsZlhJVHVGQjA&usp=sharing
It's not only newsletters but also press releases etc...

However we still need someone to make it happen, interested?

[2016-06-27 19:25] mikeveeckmans commented on #4
@DanaIdzik please start a new topic/issue for Jday Poland.
@amitkumarj441 : please contact @puneet0191  directly so that these topipcs can stay on topic.
Thank you.

[2016-06-27 19:31] mikeveeckmans commented on #7
Hi @cnpsupport ,
thank you for your request. As per now there are no specific reqs for the booth, except for a warranty (that will be given back if the booth is returned in good state) and part of the shipping costs. I'll get back to you on the more specific items on this tracker.
Concerning the marketing materials, please tell me how many attendees you're expecting, what the focus is, when deadli

[2016-06-28 07:22] DanaIdzik opened #8 "[event] JoomlaDay Poland 2016 - Promotional Materials"
Hello :)
JDay Poland is opened for every kind of support (promotional materials) :) Our event will take place in 24-25 september, we expect 200 attendes this year, @mikeveeckmans what you can share with us? :)

Regards
Dana

[2016-06-28 18:44] mikeveeckmans commented on #8
@DanaIdzik as soon as i have a clear view on the budget i will get back to you. This might be next week.
Would you also require the booth etc ?

[2016-06-28 20:17] uglyeoin opened #9 "How to get the Joomla! stand for a little while"
This is not a pressing issue, but it would make a nice tweet for our JUG if we had that Joomla! stand. It really could be done in a flexible way, i.e. when it is in the UK already or someone else has use for it at the same time.  We don't really have funds so we wouldn't really look to spend money on this venture.  What is the correct process, how much does it cost, what is the liklihood of it bei

[2016-06-29 08:56] DanaIdzik commented on #8
ah yes! it would be super! Thank you!

[2016-06-29 20:42] mbabker opened #10 "[design] Website Graphic Requests"
Requesting new/updated graphics for the following sites/pages:

- [Security Centre](https://developer.joomla.org/security-centre.html) - A graphic we can use for content in this category in place of the generalized social media graphic
- [Developer Network](https://developer.joomla.org/)/[API](https://api.joomla.org/) - Updated CMS/Framework/Tracker graphics

[2016-07-01 16:45] mikeveeckmans commented on #10
Thank you @mbabker for your request.
We'll have a go at this after the 3.6 launch

[2016-07-01 16:47] mikeveeckmans commented on #9
Hi @uglyeoin , i'll get back to this sson. The exact process of the booth 'rental' isn't set yet, it will be shortly after 3.6 launch.

[2016-07-02 15:17] Saurabh1 opened #11 "Representing Joomla at the FISL 2016 event in Brazil"
Event : FISL (Forum International Software Livre)
Event site : http://softwarelivre.org/fisl17
Event place: Porto Alegre
Event Date: 13 - 16 July
Flight Cost : 400 USD ( Depends if I book late then might be plus a little)
Expected people turnaround: 2000+ https://www.flickr.com/photos/fisldezesseis/19582546965/ ( It was over 5000 in last years as well )
My Matrices would be : To get more people us

[2016-07-04 09:43] jeckodevelopment commented on #6
Are you going to share AI files to easily work on teaser images for newsletters, blog posts and press releases?
Let me know how can I help

[2016-07-05 14:48] mikeveeckmans commented on #11
Hi @Saurabh1 ,

At this point i have no confirmation on budget yet from OSM, so i can't confirm, i'm sorry.
As soon as i do, i will let you know.

[2016-07-06 10:12] mdemop opened #12 "Hosting Con"
Just needed business card at to be printed locally and stickers or screen cleaners for 1000 people. If but possible, art I can send to get printed locally. (For stickers)

[2016-07-07 01:33] Saurabh1 commented on #11
Thanks for the reply @mikeveeckmans
I thought for now I needed approval from Marketing team so I can move ahead and not miss the opportunity to represent Joomla in front of huge audiance. I can wait till the reimbursement part later.
So even if this is going to be reimburse later, still you need budget approval from OSM now ?

[2016-07-08 11:23] uglyeoin commented on #9
No problems Mike, we're not in a rush it was just an idea.  I don't know if any cost will be sanctioned by our JUG anyway.

[2016-07-13 03:30] Saurabh1 commented on #11
Please consider this event for next year if we wish to do more outreach.
Closing the issue as event will be starting on 13th July(Today)

[2016-07-13 03:30] #11 closed

[2016-07-20 12:16] DanaIdzik commented on #8
hey hey @mikeveeckmans :) remember me? :D

[2016-07-21 15:03] mikeveeckmans commented on #12
@mdemop : you should have received the BC file to have them printed ;-)
Sorry about the cleaners, seems a mail confirmation was needed instead of glip.

[2016-07-21 15:03] #12 closed

[2016-07-22 12:17] mikeveeckmans commented on #8
@DanaIdzik Yes, but i still have no confirmation on the budget... So at this point i can't confirm anything.

[2016-07-26 18:34] jeckodevelopment opened #13 "[design] Picture request PLT"
Hello,

PLT will open a Call for Volunteers for the Joomla! Security Strike Team (JSST), can you please provide a picture to be published together with the call post?

Thank you for your help!

[2016-07-26 18:46] mikeveeckmans commented on #13
@Jeckodevelopment on which page will this be published?

[2016-07-26 20:04] jeckodevelopment commented on #13
developers.joomla.org

[2016-07-27 08:55] mikeveeckmans commented on #13
@jeckodevelopment what's the title of the article?

[2016-07-27 09:30] mikeveeckmans commented on #13
![jsstpost](https://cloud.githubusercontent.com/assets/4589318/17170645/6b2d0f02-53ed-11e6-8a22-ac54950a3f2e.png)
@jeckodevelopment here you go, hope the title is ok.

[2016-07-27 09:41] jeckodevelopment commented on #13
Thank you Mike! :)

[2016-07-27 09:42] mikeveeckmans commented on #13
You're welcome ;-)

[2016-07-27 09:42] #13 closed

[2016-07-27 11:20] MATsxm commented on #13
My 2 cents but I confess I'm not an expert on design :stuck_out_tongue_closed_eyes:
The "line" for the Visuals is IMHO really great as we can see the interaction between Joomla! (a dematerialized software) and human (at least I guess :wink:).
I'm also really pleased to see that finally we have reference to the Web site (I still don't understand how not every single marketing visual can exist witho

[2016-07-27 11:32] Sandra97 commented on #13
Or just visit joomla.org ;)

[2016-07-27 19:52] jeckodevelopment commented on #13
Thank you very much for your input @MATsxm and @Sandra97

[2016-07-27 20:59] mikeveeckmans commented on #13
Thanks @Sandra97 & @MATsxm

[2016-07-29 15:03] JoeJoomla opened #14 "[capital] Joomla Media Kit for Potential Sponsors"
It would be great to have a media kit available for those who are requesting such.

The kit should include, among other things, all the official Joomla logos and brand materials that anyone might need for their landing pages and print requirements.

It needs to be in an easily available and always up to date.

[2016-07-29 15:26] MATsxm commented on #14
And available for t9n...
At this point... See the Doc

[2016-07-29 15:33] JoeJoomla opened #15 "[sponsors] Joomla Website Installation Statistics"
We need a way to tell our partners, sponsors & others some basic statistics about website installation demographics.

It can be simple such as how many installations are individual domains and how many are business domains.

Potential sponsors would like to not only know how many Joomla installations in general there are but also what size/level they are such as small, medium size businesses, ente

[2016-07-29 15:41] mbabker commented on #15
From a marketing perspective I agree with this, but it would have to be solely marketing/research based work and not tied into core's stats collection system.  I had a similar type of discussion at the office this week and we pretty much agreed it's best for the core project's integrated stats system to  remain mostly anonymous and opt-in (with Apache logs and the database records one could in the

[2016-07-29 15:45] JoeJoomla commented on #15
Hi Michael,

I totally agree with you that this shouldn't be part of the anonymous statistics plugin.

We are thinking that somehow we would get stats like this from web hosting companies or some other method. We are looking for ideas on how to approach this.

Joe

[2016-07-29 16:46] cpfeifer commented on #15
This is the CiviCRM dashboard, it is an anonymized data plugin that's part of their platform. It shows a lot of very useful information: https://stats.civicrm.org/?tab=sites

The guy who made this lives right down the street from me and explained the concept, every piece of data is anonymous and can never be combined to create a profile. I don't really have any preference on how it's done, this is

[2016-07-29 17:35] mbabker commented on #15
CiviCRM's got a nice dashboard, and they've got a lot of nice data.  I don't think though that the same could be done in Joomla.  When you start pulling data like the number of users registered on a site or the extensions installed you're starting to get into avenues to identify sites and we're trying to avoid that.  Plus, IMO any additional data collection should be as open as the tech data we gr

[2016-07-29 18:04] cpfeifer commented on #15
I totally hear you Michael, and it's not discouraging. I know this exact thing won't work for us and I'm not suggesting we do exactly this, it's just an example. Personally, I'd rather beat my head against a wall than touch the community anonymous data collection debate with a ten foot pole. There are valid points on both sides, but that's not the issue here.

The real issue is that we have no acc

[2016-07-29 18:13] mbabker commented on #15
Personally, I think it's safe to assume based on numbers that a majority of Joomla! 3.5+ sites have opted in to sending tech data to the server.  That's got just over 568K records in it and there are numbers that roughly 2.8 million sites are Joomla.  So that gives a very high level of numbers to work with and possibly some ideas on what types of research to look into, but it's not really the type

[2016-07-29 18:22] cpfeifer commented on #15
I'm with you on the data collection being transparent, privacy is of the utmost importance and should never be any intention of collecting anything that could be used to harm people.

I think an optional non-core plugin is a good idea, and it's something the UX team has discussed, along with expanding what anonymous data is collected. Even something where people could send in their data that is ac

[2016-07-29 18:35] JoeJoomla commented on #15
I was wondering what incentive there is for a Joomla website owner to be willing to share any kind of statistical information.

Other than it being very cool to see the kinds of stats that CiviCRM have on display publicly is there any benefit to the end user of the website?

Maybe its enough to just have stats available for the general public.

[2016-07-30 00:07] cpfeifer commented on #15
I think the only incentive we have is that it helps make Joomla better. I think most people are willing to help if all they need to do is spend one second pushing a button. The key is putting the option in front of them and making it so easy that it's a no brainer, and then showing them later how it actually helped us.

We're not really asking people for much effort or commitment here, we're only

[2016-07-31 20:24] cnpsupport commented on #7
Mike,
Our Southcoast MA Mini Maker Faire Franchise was approved and we are moving ahead with September 18th as our event date. We are expecting around 1000+ attendees and 60-100 vendors.

The shipping address for the Joomla booth and Joomla marketing materials would be:
385 Columbia Street, Fall River MA, 02721. The phone number here is 508-644-1553
My cell phone is 401-662-1035 if you need to tal

[2016-07-31 20:25] cnpsupport commented on #7
FYI

[2016-08-01 08:19] mikeveeckmans commented on #7
Hi @cnpsupport , that's great.
For the booth i'm sure we can work it out. It's at @mdemop place.
I'll get in touch with him to get it to your place.
About the marketing materials, i hope i can have a approval on the budget from OSM soon, so i can foresee some materials for you and all the other requests...
I'll ping you for the details on the booth shipping and warranty.

[2016-08-01 08:26] cnpsupport commented on #7
Thanks Mike!

[2016-08-01 08:31] mikeveeckmans commented on #15
Hi All,
I do agree it would be great to have such stats... Allthough i do understand the difficulties that come with it...

@JoeJoomla , as @cpfeifer said, there's only 1 incentive active at the moment, we could set up another one... just have to brainstorm on that then...

@mbabker i agree with your POV on what we can collect from the extensions. I think if we collect just the number of extension

[2016-08-01 09:07] designbengel commented on #14
First we would need to define what´s exactly included in the Media-Kit (For example also basic designfiles for JoomlaDays, Joomla! Blogpost Templates, ...) And who is allowed to use them. Everything is available on Google Drive right now... Is your issues related to a current project, Joe ?

[2016-08-01 15:59] JoeJoomla commented on #14
Some of the things we need in a media kit are the technical details of the packages and banner sizes which is easy to compile. Mike Demopoulos has lots of good stuff that he has been using for the World Conference sponsorship pitching that could be used in a general media kit.

Other items we need are statistics on page views for the various website properties. That will come from Analytics. This

[2016-08-02 11:24] Sandra97 opened #16 "Release Imagery"
In order to improve our communication on social media, Joomlers' blogs, etc., would it be possible to create generic imagery for each kind of release (Alpha, Beta, RC) without the version number and make them publicly available and translatable?
Thank you!

[2016-08-02 11:30] mikeveeckmans commented on #16
@Sandra97 Thank you for your request. We'll have the imagery done.
However struggling a bit with the copy that needs to go on it...
Suggestions are welcome.

At this point suggested copy :
Joomla! latest alpha release (or beta / RC) is ready and needs your feedback//testing...
Check out the latest Joomla! alpha/beta release (RC) ...

[2016-08-02 11:33] Sandra97 opened #17 "Imagery for the Joomla! L10N Centre (Twitter)"
In order to improve the communication of this [Twitter Account] (https://twitter.com/JoomlaL10nC), we would like some generic imagery:
- A nice cover picture related to translation
- Pictures for our most frequest Tweets:

1. Official Component Patchtester from The Joomla! Project™: New strings to translate
2. Official Joomla! Issue Tracker™ website: New strings to translate
3.   Joomla! CMS: New

[2016-08-02 11:35] Sandra97 commented on #16
I like the 1st one as it includes "testing"

[2016-08-02 11:37] brianteeman commented on #16
Get Involved
Help to test Joomla xx

[2016-08-02 11:40] MATsxm commented on #16
Help to test Joomla**!** xx

[2016-08-02 11:42] mikeveeckmans commented on #16
@brianteeman  @MATsxm  the xx replaced by alpha/beta release (or RC) ? because we want to make it with version numbers...

[2016-08-02 11:46] brianteeman commented on #16
With whatever you want :)

[2016-08-02 11:46] MATsxm commented on #16
I was just here to play my PITA with the "!" :stuck_out_tongue_closed_eyes:

[2016-08-02 11:53] Sandra97 commented on #16
I think it would be easier to make them without the version number, in order to facilitate the process and avoid last minute work (and if imagery is done at the last minute, just a few people will use it and it won't be translated)
But that's just my opinion.

[2016-08-02 14:14] mikeveeckmans commented on #16
![genericrc](https://cloud.githubusercontent.com/assets/4589318/17331641/14b13b7e-58cc-11e6-9817-6d9ec19ce714.png)
Draft
suggestions are welcome

[2016-08-02 14:20] brianteeman commented on #16
That doesn't work for me

It looks like it is three sentences

[2016-08-02 14:27] brianteeman commented on #16
Get Involved
Test the latest
Joomla beta

On 2 Aug 2016 3:20 p.m., "Brian Teeman" <brian@teeman.net> wrote:

[2016-08-02 14:35] Sandra97 commented on #16
I'm afraid that if "Joomla Release Candidate" is on the same line, it will be cropped on SM, so it's not ok, we have to keep blank space on the right to avoid this as far as possible.

[2016-08-02 14:43] mikeveeckmans commented on #16
@Sandra97 correct.
For alpha and Beta there's no issue...
Only 'release candidate' is too long... we could change to RC ??

[2016-08-02 14:43] brianteeman commented on #16
SM ??

On 2 August 2016 at 15:35, Sandra Thevenet <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-08-02 14:44] mikeveeckmans commented on #16
social media

[2016-08-02 14:45] brianteeman commented on #16
RC is fine for me. Its a standard abbreviation that the target user should
understand.

On 2 August 2016 at 15:44, Mike Veeckmans <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-08-02 14:48] mikeveeckmans commented on #16
![genericrcv2](https://cloud.githubusercontent.com/assets/4589318/17332962/e0638660-58d0-11e6-929a-f753e1598149.png)

[2016-08-02 14:48] Sandra97 commented on #16
I agree and this way, Joomla! RC or Alpha or Beta can be on the same line

[2016-08-02 14:50] brianteeman commented on #16
Because people are idiots I would probably add below the url in smallcaps

NOT FOR USE ON PRODUCTION SITES

[2016-08-02 14:51] Sandra97 commented on #16
True

[2016-08-02 14:51] MATsxm commented on #16
+ :100:

[2016-08-02 14:52] mikeveeckmans commented on #16
@brianteeman @Sandra97 under the url or on the black part on the left ?

[2016-08-02 14:56] Sandra97 commented on #16
Black part? You mean on the visual? If yes, nope, just at the bottom, align with the other elements, maybe, but with a smaller font as it will be in smallcaps?

[2016-08-02 14:56] brianteeman commented on #16
Under the url - keep all the text together

On 2 August 2016 at 15:52, Mike Veeckmans <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
http://brian.teeman.net/

[2016-08-02 16:18] carson3511 commented on #16
Suggestion: instead of having the "Visit joomla.org" text, maybe have a button image (call to action) that says something like "Test it now" or "Help test Joomla!". This way bloggers can link directly to the download for that test release.

[2016-08-02 16:56] mikeveeckmans commented on #16
@carson3511 thank you for your feedback.

[2016-08-03 16:40] mdemop commented on #7
@mikeveeckmans Email me the details and I will ship it over. Also which OSM budget will this shipping be covered under?

[2016-08-04 08:43] mikeveeckmans commented on #7
@mdemop MWG requested budget for shipping the Booth... however we need budget approval first...

[2016-08-04 11:47] Shedyk opened #18 "[event] JoomlaDay Kenya 2016 Promotional Material.."
Hi,
JDayKe will be on September 17th and we would like some support on promotional materials. We are expecting an attendance of approx 100.

[2016-08-04 13:50] puneet0191 commented on #4
@mikeveeckmans Any update on this request?

[2016-08-04 14:02] mikeveeckmans commented on #4
@puneet0191 no sorry, still awaiting budget approval from OSM before i can make a commitment

[2016-08-10 11:17] mikeveeckmans commented on #18
Hi @Shedyk ,
Thank you for your request. Can you tell me where Jday Kenya will take place ?
Also if possible clarify the "promotional materials" you want. Thank you.
What is the delivery deadline?

[2016-08-10 11:18] mikeveeckmans commented on #16
pushing the images tonight on this repo

[2016-08-10 13:23] Shedyk commented on #18
Hi @mikeveeckmans ,

Sorry it seems information I provided is a little sketchy.  So here goes,
Venue: iLabAfrica, Nairobi, Kenya.
Date: 17th Sept 2016
No. Attendees: Apprx 100
link: [www.joomladay.or.ke](www.joomladay.or.ke)

For the promotional materials we were thinking in the line of tshirts, bags, pamphlets, stickers and/or any giveaways as may be available.

Thanks

[2016-08-10 13:41] mikeveeckmans commented on #16
![blogpost_templatefile-v2](https://cloud.githubusercontent.com/assets/4589318/17555736/f2469944-5f10-11e6-8613-5a43c960cb27.png)
Like this ?

[2016-08-10 13:44] MATsxm commented on #16
I like it!

[2016-08-10 13:48] Sandra97 commented on #16
Me too!

[2016-08-10 13:57] mikeveeckmans commented on #16
![generic-alpha-release](https://cloud.githubusercontent.com/assets/4589318/17556282/1dd2ec14-5f13-11e6-9d69-522571de349e.png)
![generic-beta-release](https://cloud.githubusercontent.com/assets/4589318/17556279/1dd2d4ea-5f13-11e6-8733-77d6a19d563b.png)
![generic-rc](https://cloud.githubusercontent.com/assets/4589318/17556280/1dd30be0-5f13-11e6-82d4-3883c5370513.png)

[2016-08-10 14:00] MATsxm commented on #16
Playing the PITA - it is really not a need, more a question - would it be interesting for having words: ALPHA - BETA - RC in different colors than the text and one color per stage?

[2016-08-10 14:01] mikeveeckmans commented on #16
Sure ...
Use colors of the logo or do we already have a color set for this?

[2016-08-10 14:06] MATsxm commented on #16
I would say Joomla's red, (@wilsonge's) orange and green, but I fear that the Green is perceived as the stable version...

[2016-08-10 14:25] mikeveeckmans commented on #16
![generic-rc](https://cloud.githubusercontent.com/assets/4589318/17557313/fc92f450-5f16-11e6-8407-5ab9bf294425.png)

Suggestion for the RC...

(Alpha - Red , Beta - Orange :-P )

[2016-08-10 14:27] MATsxm commented on #16
The blue is better than what I expected...
other thoughts?

[2016-08-10 14:28] mikeveeckmans commented on #16
![generic-alpha-release](https://cloud.githubusercontent.com/assets/4589318/17557407/617468ea-5f17-11e6-8ff7-b8b8400b7934.png)
![generic-beta-release](https://cloud.githubusercontent.com/assets/4589318/17557408/618460f6-5f17-11e6-8fdc-5bcf3c7cf984.png)

Added them all to compare

[2016-08-10 14:35] Sandra97 commented on #16
I approved the 3!

[2016-08-10 14:47] JoeJoomla commented on #16
I like them too.

[2016-08-10 17:05] mikeveeckmans commented on #16
@Sandra97 & @MATsxm : what do you need from me for making them translatable?

[2016-08-10 17:16] jeckodevelopment opened #19 "[copywriting] Improving consistency of the "Contribute" page."
Hello!

Can you please improve the text on the "Contribute" page, adding a paragraph about the Volunteers Portal?
URL: https://www.joomla.org/contribute-to-joomla.html

Thank you

[2016-08-10 17:22] jeckodevelopment commented on #16
Good job! :D

[2016-08-10 17:34] Sandra97 commented on #16
We just need the pictures (.png and .psd) + the csv.

[2016-08-11 07:21] jeckodevelopment opened #20 "[imagery] request from PLT, call for volunteers"
Hello,
Can you please provide an image for the blog post for PLT?
Text: call for volunteers CMS Release Team.

Thank you

[2016-08-11 10:07] designbengel commented on #20
![joomla_call_volunteers_plt_release_team](https://cloud.githubusercontent.com/assets/828371/17585459/2dc86a32-5fbc-11e6-9569-87c7386f258e.jpg)

[2016-08-11 10:10] Sandra97 commented on #20
In order to create consistency, would it be possible to have "Visit joomla.org" on every imagery?

[2016-08-11 10:11] jeckodevelopment commented on #20
Thank you very very very much Elisa!
The image is really GREAT!

[2016-08-11 10:15] mikeveeckmans commented on #20
Agree with Sandra

Sent from my iPhone

On 11 Aug 2016, at 12:11, Sandra Thevenet <notifications@github.com<mailto:notifications@github.com>> wrote:

In order to create consistency, would it be possible to have "Visit joomla.org<http://joomla.org>" on every imagery?

-
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.c

[2016-08-11 10:16] jeckodevelopment commented on #20
So i'll wait for the "consistency update" :)

[2016-08-11 10:17] jeckodevelopment commented on #20
BTW, I've to say that the image is not compliant with our brand manual: https://tm.joomla.org/brand-manual-and-limited-use-logos
Because of the clover logo placed without the correct spacing.

[2016-08-11 11:52] MATsxm commented on #20
@jeckodevelopment
I would say here it's not a big deal as it is not a substantial modification of the logo and made by/for an official Team
(Have you seen the Pokemon Drupal's logo integration? - it's just a matter of policy choice)

[2016-08-11 12:43] jeckodevelopment commented on #20
So, ok! Please @designbengel update the image with "visit joomla.org" so i can publish the call for volunteers.

[2016-08-12 07:11] designbengel commented on #20
Sorry didn´t get the notifications somehow
@Sandra97 - thats why i removed visit - like i was asked to remove more at: for the LP images, i can add it of course again.
@jeckodevelopment Thank you for taking care of the brandmanual, that´s a very important thing. It´s right that the brandmark has to have some space around it. It´s used here in a creative way, including the TM and the original Logo

[2016-08-12 07:32] designbengel commented on #20
![joomla_call_volunteers_plt_release_team](https://cloud.githubusercontent.com/assets/828371/17615611/b2c1705e-606f-11e6-9c6d-a86102b0964c.jpg)

[2016-08-12 07:48] jeckodevelopment commented on #20
thank you @designbengel !

[2016-08-12 07:50] #20 closed

[2016-08-12 09:55] Sandra97 commented on #20
@designbengel, I asked you to remove the "more at" on the LP imagery as it was not translatable (next time it will). For this one, it's different as it's a "one shot pic" so no need to translate it.
I'm gonna be a PITA, next time, could you please capitalize Visit?
Thank you!

[2016-08-12 20:57] designbengel commented on #17
First one:
If you like this, please test if the flags stay at the top by scrolling. if not i´ll have to change the position of the flags :)
![l10_twitter_cover_1500x500](https://cloud.githubusercontent.com/assets/828371/17636815/e900cda2-60df-11e6-93de-5b0cd1f1d89d.png)

[2016-08-12 21:00] designbengel commented on #17
![l10_twitter_cover_1500x500](https://cloud.githubusercontent.com/assets/828371/17636902/826317ca-60e0-11e6-9e18-d7f0c6e402fc.png)

[2016-08-13 10:57] designbengel commented on #17
![l10_account_twitter_cover_1500x500](https://cloud.githubusercontent.com/assets/828371/17642821/779609a4-6155-11e6-833f-2fa91f727779.jpg)

[2016-08-13 11:00] Sandra97 commented on #17
Thank you Elisa. Better like this. I like it!

[2016-08-13 11:04] MATsxm commented on #17
you could have had the flag of SXM just saying :stuck_out_tongue_winking_eye:
Great!

[2016-08-13 11:06] MATsxm commented on #17
OH BOY!!!! need another :coffee:
it **IS** just in front :stuck_out_tongue_winking_eye:

[2016-08-13 19:13] designbengel commented on #17
:-D

[2016-08-14 15:50] mikeveeckmans commented on #19
Sorry it took me a while but here you go, this is a suggestion :
<h2>The Joomla! Volunteers Portal</h2>
<p>All our volunteers, working groups and their (meeting)reports are listed on the <a href="https://volunteer.joomla.org/">Joomla! Volunteers Portal</a>. If you are contributing to the project, don't hesitate to add yourself to the portal. Are you willing to contribute to Joomla!, but haven't go

[2016-08-14 15:50] mikeveeckmans commented on #19
`<h2>The Joomla! Volunteers Portal</h2>
<p>All our volunteers, working groups and their (meeting)reports are listed on the <a href="https://volunteer.joomla.org/">Joomla! Volunteers Portal</a>. If you are contributing to the project, don't hesitate to add yourself to the portal. Are you willing to contribute to Joomla!, but haven't got an idea yet on how? Each Working Group has an overview on how

[2016-08-14 15:51] mikeveeckmans commented on #16
Coming your way, just need to clean them up a bit

[2016-08-14 15:57] jeckodevelopment commented on #19
Just two small typos:

missing space between (meeting) and reports.

And, please remove the bang from "Joomla!" (or the comma) here:

@mikeveeckmans can you add it to the "Contribute" page?

[2016-08-14 16:12] Sandra97 commented on #19
I'm gonna add it now to the page as well as corrected the other typos of the page

[2016-08-14 16:13] jeckodevelopment commented on #19
Thank you both!

[2016-08-14 16:14] mikeveeckmans commented on #19
Thank you @Sandra97
You're welcome @jeckodevelopment

[2016-08-14 16:17] Sandra97 commented on #19
Done!

[2016-08-14 16:18] Sandra97 commented on #19
Related to this "issue", I think the paragprah "Join a Joomla! Working Group" should also be reviewed. The name of the teams are not correct for example. Maybe we should "mix" both?

[2016-08-14 16:20] mikeveeckmans commented on #19
Yeah, that's needs reviewing as well. -->

Join a Joomla! Working Group

Hundreds of community members contribute by participating in the Joomla! Working Groups. Each group focuses on a specific aspect of Joomla! essential to the Project's overall growth and all have formal expectations and goals. Anyone interested in helping Joomla! grow is encouraged to join a working group where they feel their

[2016-08-14 16:25] jeckodevelopment commented on #19
Development Team ... anyone can contribute with code on GitHub. I guess that it could be splitted in a separate paragraph, "Contribute to Joomla! with Code".

Extension Directory Editors... it's a Team and we're not "editors", furthermore there're a variety of roles that people could have in JED. And, finally the name should be "Extensions Directory", plural.

Sites and Infrastructure Team... do w

[2016-08-16 17:40] designbengel opened #21 "11th Birthday Blogpost image"
![joomla_11_blogpost](https://cloud.githubusercontent.com/assets/828371/17709392/3627c994-63e9-11e6-9379-2b1625654720.jpg)

[2016-08-16 17:49] mikeveeckmans commented on #21
Thank you @designbengel

[2016-08-17 16:46] Shedyk commented on #18
Hi @mikeveeckmans
Just a follow up, are this items available and would will it be possible in the time frame given.

[2016-08-19 11:26] Sandra97 commented on #17
@designbengel, one more image to create...
 Could you create a nice generic image to say thank you to the translators?
Thanks!

[2016-08-19 11:28] Sandra97 commented on #19
@mikeveeckmans, could your team help with the review of this  "Join a Joomla! Working Group" part?

[2016-08-19 11:29] Sandra97 commented on #16
@mikeveeckmans, are the files ready so that we can add them to Crowdin for translations?

[2016-08-19 12:42] Sandra97 commented on #10
@designbengel @mikeveeckmans, did you work on this graphic request?
Thanks!

[2016-08-19 17:56] designbengel commented on #10
Sorry guys, just realized that the github inbox is overfloating, will have a better eye on this in future. pic will be there as soon as possible.

[2016-08-19 20:23] mikeveeckmans commented on #19
Join a Joomla! Working Group
Hundreds of community members contribute by participating in the [Joomla! Working Groups](https://volunteer.joomla.org/teams). Each group or team focuses on a specific aspect of Joomla! essential to the Project's overall growth and all have formal expectations and goals. Anyone interested in helping Joomla! grow is encouraged to join a working group where they feel the

[2016-08-19 20:25] mikeveeckmans commented on #19
@Sandra97 : or do you want mentions of some teams/groups ?

[2016-08-19 20:34] Sandra97 commented on #19
Personally, I'm not for mentioning only some groups. All or none.
If we're removing the team part, I think we should mix this part with the "The Joomla! Volunteers Portal" part. No need to have twice nearly the same thing. (Note that if we mix them, I prefer Join a Joomla! Working Group as title than The Joomla! Volunteers Portal)

[2016-08-19 20:38] mikeveeckmans commented on #19
@Sandra97 i understand, however 2 "items" here , 1 the volunteers portal already changed "working groups" to teams it seems, and in the (nearby-far future) transition working groups will be renamed to teams...
So it would become : Join a Joomla! Team ?
 I'll get the 2 items in a blender and come up with 1 mix ;-)

[2016-08-19 20:42] Sandra97 commented on #19
Join a Joomla! Team is fine for me.

[2016-08-19 20:51] mikeveeckmans commented on #19
@Sandra97  what about this?

Join a Joomla! Team
All our [volunteers](https://volunteer.joomla.org/joomlers) contribute by participating in the [Joomla! Teams](https://volunteer.joomla.org/teams). Each team focuses on a specific aspect of Joomla! essential to the Project's overall growth and all have formal expectations and goals.  If you are contributing to the project, don't hesitate to add your

[2016-08-19 21:09] Sandra97 commented on #19
Would it be possible to integrate, maybe in a different way, "All our volunteers, woring groups/teams and their (meeting) reports are listed on the Joomla! Volunteers Porta"l?

[2016-08-19 21:18] mbabker opened #22 "[imagery] Touch Icon on Websites"
Please refresh the icon that gets used for our `apple-touch-icon` metadata in the template (https://www.joomla.org/templates/joomla/images/apple-touch-icon-144-precomposed.png).

Please provide a larger size file that I can downsize as appropriate.  I'll handle sizing it correctly for all references it'll have.

x-ref: https://github.com/joomla/jdotorgtemplate/issues/64

[2016-08-19 21:35] mikeveeckmans commented on #16
[generic-imagery.zip](https://github.com/joomla/joomla-marketing/files/427935/generic-imagery.zip)
Here you go ;-)

[2016-08-19 21:36] mikeveeckmans commented on #16
![generic-alpha-release](https://cloud.githubusercontent.com/assets/4589318/17825031/b1211488-6665-11e6-89ba-fc85539e53ef.png)
![generic-beta-release](https://cloud.githubusercontent.com/assets/4589318/17825033/b124e91e-6665-11e6-9a2e-d9e5d9bebf2d.png)
![generic-rc](https://cloud.githubusercontent.com/assets/4589318/17825032/b1237638-6665-11e6-8c87-c4e120fb482d.png)
Oops forgot these in the zip

[2016-08-19 21:46] mikeveeckmans commented on #19
Join a Joomla! Team
All our volunteers contribute by participating in the Joomla! Teams. Each team focuses on a specific aspect of Joomla! essential to the Project's overall growth and all have formal expectations and goals. If you are contributing to the project, don't hesitate to add yourself to the portal. Are you willing to contribute to Joomla! with your talent or interest? Each team has an o

[2016-08-19 21:48] Sandra97 commented on #19
Approved. I'm gonna make the change.

[2016-08-19 21:49] mikeveeckmans commented on #19
@Sandra97 Thank you ;-)

[2016-08-19 21:50] Sandra97 commented on #19
And thank you for the text!

[2016-08-19 21:50] #19 closed

[2016-08-19 21:56] Sandra97 commented on #19
Page updated.

[2016-08-19 22:07] Sandra97 commented on #16
Thank you @mikeveeckmans & @designbengel

[2016-08-19 22:08] #16 closed

[2016-08-20 01:18] Sandra97 commented on #16
@mikeveeckmans, @designbengel, for information, the strings in English are missing in the CSV. There are only the keys and translations into Dutch and German. We will create them and we will add Alpha, Beta and RC so that it can also be translated.

[2016-08-20 06:58] mikeveeckmans commented on #16
Alpha beta and RC are terms and in our opinion not translatable... That's why they aren't in there

Sent from my iPhone

On 20 Aug 2016, at 03:18, Sandra Thevenet <notifications@github.com<mailto:notifications@github.com>> wrote:

@mikeveeckmans<https://github.com/mikeveeckmans>, @designbengel<https://github.com/designbengel>, for information, the strings in English are missing in the CSV. There a

[2016-08-20 10:25] Sandra97 commented on #16
My opinion is different.
Alpha, Beta, RC are the typical common terms for the stages of development, used since the 50s. As it's not Joomla! specific terms, translators should be able to localize them. As usual, translators are doing localization, not translation.
In 80% of the case, they will keep the 3 words. In others, there will be small changes like in French, Beta is Bêta.
And it's important

[2016-08-20 10:31] MATsxm commented on #16
There's **NO** "opinion", there's a common process.

[2016-08-20 10:34] brianteeman commented on #16
Alpha, Beta etc are part of the release version name exactly the same as 3.6 are part of the release version name

[2016-08-24 09:50] DanaIdzik commented on #8
hello @mikeveeckmans :) what is your situation? any info about materrials for JDay Poland? Thank you

[2016-08-26 10:12] DanaIdzik commented on #8
hey @mikeveeckmans
It is a time for all promotion of OSM from our part. We started promotion in Social Media, now we will do it in other websites joomla.pl, fundacja.joomla.pl and joomla-day.pl - thats only info :)

And the last thing is: We need (if you want to and can share ofcourse) and advertisement / (or) a gift for participants inside the events bag  (condition: delivery within 16.09.2016 r.

[2016-08-26 13:39] Sandra97 commented on #17
For the generic images, please forget in my first message points 1-2-3 and replace it by:

- [ ] New strings to translate for The Joomla! Project
- [ ] Joomla! needs your talent! Join us and help us to translate into your language

Thank you!

[2016-08-29 16:35] brianpeat opened #23 "[event] Add JWC to the home page"
While I'm not the marketing lead for JWC, I realized, this is OUR conference. It's our once a year official way to connect people with people. It shouldn't be relegated to a tiny mention in the community footer.

If you look at other CMS sites that have annual conferences, they get a prominent spot on the home page.

Is there ANY way possible to do this to the joomla.org home page? Like, make a ne

[2016-08-29 16:52] mbabker commented on #23
In years past there was a banner placed on the homepage.  Should be doable as long as there's a graphic.

[2016-08-29 16:54] brianpeat commented on #23
Who would I connect with to get a proper size for it?

[2016-08-29 16:55] mbabker commented on #23
All you need is a standard sized banner.  We don't need to go overboard with it.

https://web.archive.org/web/20151007060403/https://www.joomla.org/
https://web.archive.org/web/20141007014252/http://www.joomla.org/

[2016-08-29 16:59] brianpeat commented on #23
Ah thanks, seems we DID have them the last 2 years. I'm letting the JWC team know and we'll get a new banner made.

[2016-08-30 12:44] mdemop commented on #7
@mikeveeckmans OSM did approve the budget and a email was sent last week.

[2016-08-30 12:44] cnpsupport commented on #7
Hey folks, we are getting close to the event and I would like to know when the booth would arrive so I can coordinate logistics and assure for it's safely. Thanks, CN

[2016-08-30 12:48] mikeveeckmans commented on #7
hi all, correct i did get the budget but only this week, but i'll review by tomorrow and let you know asap.
@mdemop : could you mail me shipping costs towards the venue ?

[2016-08-30 12:48] cnpsupport commented on #7
The event is September 18th but it would be nice to have it the week before and I can ship it out to where ever on the 19th or 20th or wait instruction until next event request and ship it close to the date to whomever.

[2016-08-30 12:51] cnpsupport commented on #7
If the next event is the World Conference I may go and could just bring it with me to save on shipping. You folks let me know. How much does it weigh?

[2016-08-30 13:02] #21 closed

[2016-08-30 13:04] mikeveeckmans commented on #18
Hi @Shedyk , i can send you stickers and flyers, however none of the others.
You can sent me a quotation on the shirts and or bags by email, and we'll review then.

[2016-08-30 13:05] mikeveeckmans commented on #8
Hi @DanaIdzik , i can send you stickers and flyers. What's the current registration number?

[2016-08-30 13:06] #5 closed

[2016-08-30 13:06] mikeveeckmans commented on #4
@puneet0191 sorry we couldn't do anything. Just got budget yesterday.

[2016-08-30 13:06] #4 closed

[2016-08-30 13:14] puneet0191 commented on #4
I understand Mike :+1:  thanks

[2016-08-30 13:21] mdemop commented on #7
I need to check but it is around $75 to ship via FedEx group if shipping to
residential, more if commercial. It is too large to take as checked baggage
without extra fees.

On Tue, Aug 30, 2016 at 7:51 AM, Christopher Nielsen <
notifications@github.com> wrote:

[2016-08-30 13:42] DanaIdzik commented on #8
right now weve got 109 people registered

[2016-08-30 13:42] DanaIdzik commented on #8
@mikeveeckmans right now weve got 109 people registered

[2016-08-30 15:32] jeckodevelopment opened #24 "[imagery] Images for "Test Drive" and "Download""
If you go to: https://www.joomla.org/about-joomla.html

The images at the bottom to test drive and download Joomla! are old-looking.

![oldbuttons](https://cloud.githubusercontent.com/assets/733133/18095579/b487fcca-6ed7-11e6-9bbe-0256e7951154.PNG)

Can we have new fresh images for this?

Thank you

[2016-08-31 01:57] cpfeifer commented on #7
Hello, I would like to have the booth at JoomlaDay Denver on October 1st, which is before the JWC. If you would like to ship it to me after your event I will cover the cost and we can coordinate getting it to JWC from there.

I just saw this conversation and I wanted to make sure my event was in the loop. If there is anything I can do make this easier for anyone please let me know.

[2016-08-31 02:30] cnpsupport commented on #7
Sure, I will wait instruction from Mike but that sounds reasonable.

CN

On 8/30/2016 9:57 PM, Cliff wrote:

--
Christopher Nielsen
General Manager|CNP Integrations Business Innovation Center
508-644-1553 cell 401-662-1035

http://www.cnpintegrations.com
http://businessinnovation.center
http://csapropertiesllc.com/

[2016-09-01 09:52] Shedyk commented on #18
Thanks Mike. Will send you email

[2016-09-07 13:29] DanaIdzik commented on #8
@mikeveeckmans I need your help. WE will make big promotion of OSM on Joomla.pl (its gold sponsor).
Do you want to share a special graphic with size: 750 x 450 with osm logo (or what u want) and the special text about this organisation?
If you have no time we can share the same info like e have now on Joomla-day.pl
Dana

[2016-09-08 08:00] #23 closed

[2016-09-08 08:08] mikeveeckmans commented on #22
[iconified.zip](https://github.com/joomla/joomla-marketing/files/461109/iconified.zip)
and
![base](https://cloud.githubusercontent.com/assets/4589318/18341833/260b32b0-75ac-11e6-9d0c-45e25ca7f2e9.jpg)

[2016-09-08 08:33] mikeveeckmans commented on #8
@DanaIdzik please share same info as on joomla-day.pl
Shipment sent.

[2016-09-08 08:33] #8 closed

[2016-09-08 08:33] mikeveeckmans commented on #18
Shipped ;-)

[2016-09-08 08:33] #18 closed

[2016-09-08 08:55] Shedyk commented on #18
Thanks.. :+1:

[2016-09-08 10:02] mikeveeckmans commented on #10
@mbabker , sorry it took a while before picking up.
the imagery you want for security center : is it a blog post image? Any specific text on it?
like "security announcement" or something ?

For DN/API : same size ?

[2016-09-08 12:51] mbabker commented on #10
Security Center - Blog post image works.  Basically instead of getting our generic Twitter card image when folks share links to that section of the site, a more contextually appropriate image is what I'd prefer.

DN/API - Same size would be easiest to just drop in without any other changes.

[2016-09-08 17:00] cnpsupport commented on #7
Hey folks we are coming up on the week of and I would like to know the details for receiving the booth so I can accommodate. Thanks, CN

[2016-09-09 06:26] mikeveeckmans commented on #22
@mbabker these good ?

[2016-09-09 06:34] mikeveeckmans commented on #10
![securitycenter](https://cloud.githubusercontent.com/assets/4589318/18377535/1a4b21ee-7668-11e6-98dd-42f2da3c5850.png)
What do you think of this one for SC?

[2016-09-09 06:47] mikeveeckmans commented on #7
@mdemop Ok for sending the booth to @cnpsupport .
Please send me tracking code + invoice for reimbursement via correct lineitem.

[2016-09-09 09:52] mdemop commented on #7
Ok what's full mailing address? Residential is cheaper. Also don't need
reimbursement as I have OSM debit card but will send receipt.

On Sep 9, 2016 1:47 AM, "Mike Veeckmans" <notifications@github.com> wrote:

[2016-09-09 10:15] Sandra97 commented on #10
My 2 cents; Centre instead of Center ;)
Thank you!
(I'm happy to see consistency in all our graphics)

[2016-09-09 10:19] mikeveeckmans commented on #10
OK will change

[2016-09-09 10:20] mikeveeckmans commented on #7
@mdemop  The shipping address for the Joomla booth and Joomla marketing materials would be:
385 Columbia Street, Fall River MA, 02721. The phone number here is 508-644-1553
My cell phone is 401-662-1035

Ok on payment but please book under correct line item

[2016-09-09 10:24] mikeveeckmans commented on #10
![securitycentre](https://cloud.githubusercontent.com/assets/4589318/18383976/62132876-7688-11e6-8c45-f3ab39c99076.png)

[2016-09-09 10:27] Sandra97 commented on #10
One question (sorry should have asked it before, but I'm not yet awake): is the display ok if we keep Joomla! Security Centre on the same line?

[2016-09-09 10:32] mikeveeckmans commented on #10
No that's why it's on 2 lines ...

[2016-09-09 10:35] mikeveeckmans commented on #10
![joomlacms](https://cloud.githubusercontent.com/assets/4589318/18384210/a05947cc-7689-11e6-99cc-3d3024748a94.png)
First on for DN page.

About framework : still use the blueprint logo or revert to official logo ?
Same for issue tracker, i checked the site and the current logo version on DN is not used, my suggestion is to use official instead of yellow one (as currently on DN page).

[2016-09-09 11:49] mdemop commented on #7
It will go to FedEx Monday morning as I am in Salt Lake City until Sunday.
What date do you need by? Will ensure it arrives on time.

On Sep 9, 2016 5:20 AM, "Mike Veeckmans" <notifications@github.com> wrote:

[2016-09-09 12:33] mbabker commented on #10
IIRC the blueprint logo was designed specifically for the Framework versus just using the official logo.

As for issue tracker, I honestly don't care.  I forget who had the idea to just make it all one color but that's what it's been and that's what all of our GitHub bot accounts use for avatars now (not a strong argument to keep it though).

[2016-09-09 12:34] mbabker commented on #22
That'll work!

[2016-09-09 13:20] #22 closed

[2016-09-09 14:11] cnpsupport commented on #7
Thanks guys!

CN

On 9/9/2016 2:47 AM, Mike Veeckmans wrote:

--
Christopher Nielsen
General Manager|CNP Integrations Business Innovation Center
508-644-1553 cell 401-662-1035

http://www.cnpintegrations.com
http://businessinnovation.center
http://csapropertiesllc.com/

[2016-09-09 18:29] mikeveeckmans commented on #10
![joomlacms](https://cloud.githubusercontent.com/assets/4589318/18398232/1be93126-76cc-11e6-88aa-d065f142019b.png)
![joomlaframework](https://cloud.githubusercontent.com/assets/4589318/18398234/1bed8e9c-76cc-11e6-9f19-c35f6fe7e3d8.png)
![joomlaissuetracker](https://cloud.githubusercontent.com/assets/4589318/18398233/1beb83c2-76cc-11e6-866d-ec04e680bfd1.png)
@mbabker here you go ;-)

[2016-09-09 18:34] mbabker commented on #10
Thanks!

[2016-09-09 18:34] #10 closed

[2016-09-10 00:27] cnpsupport commented on #7
by Thursday would be fine to receive it.
CN

[2016-09-12 19:46] cpfeifer opened #25 "[event] JoomlaDay Denver Booth"
I need the booth in Denver for October 1st.

I know it will be in MA on the 18th, and it needs to get to VC for JWC in November. I can handle all the logistics and shipping for getting here and getting it there. Not sure how long it takes to ship it, but I need to have it by the 29th if possible.

I really need this to happen and I'll cover the costs up front. If I can get re-imbursed great, if no

[2016-09-12 19:48] cpfeifer commented on #7
@cnpsupport - I need the booth to be in Denver for an event October 1st, preferably arriving on or before the 29th of September. I can cover the shipping costs, and if you can get it sent out on the 19th, or as soon after your event as possible it would be much appreciated. Let me know what you need from me to make this happen. Thank you.

[2016-09-12 20:05] cnpsupport commented on #7
Cliff, I would plan to get it sent most likely on the 20th. 10 days
should be plenty of time for you to get it.

I will reach out when I know the costs and means of transport.

I think I have all of your information but send me an email with the
shipping address, your phone number and all relevant information and I
will try to get this all in place as quickly as possible.

FYI Mike V. please verif

[2016-09-12 20:07] mikeveeckmans commented on #7
@cnpsupport : approved , after consulting first concerning the costs. Thank you.

[2016-09-12 20:08] mikeveeckmans commented on #7
@cpfeifer please share address with @cnpsupport directly.

[2016-09-12 20:08] mikeveeckmans commented on #7
Please continue on this #25

[2016-09-12 22:44] mdemop commented on #7
Booth has been shipped, will arrive Thursday signature required.

On Sep 12, 2016 3:08 PM, "Mike Veeckmans" <notifications@github.com> wrote:

[2016-09-14 13:36] cpfeifer commented on #7
Thanks @mikeveeckmans .

@cnpsupport I sent you an email. Good luck with your event :)

[2016-09-16 10:10] mdemop commented on #7
@cnpsupport FedEx alerted me that no one was available to accept yesterday. The FedEx tracking number is: 784067313879

[2016-09-16 16:01] cnpsupport commented on #7
Yes I was here. I have been in contact. Going to pick up now. Thanks for monitoring

Sent from my iPhone

[2016-09-16 16:01] cnpsupport commented on #7
Received

Sent from my iPhone

[2016-09-19 18:09] cnpsupport commented on #7
Hey folks the Southcoast MA Mini Maker Faire went fantastic! The Joomla booth was a great showcase and we were able to introduce a new audience to the Joomla CMS.
http://southcoastminimakerfaire.com and https://www.facebook.com/southcoastminimakerfaire/
![img_0445](https://cloud.githubusercontent.com/assets/1999876/18643334/a993dc6c-7e72-11e6-9c71-0202c4329ff9.JPG)
![img_0446](https://cloud.github

[2016-09-19 18:10] cnpsupport commented on #7
FYI this was taken the night before just after set up.

[2016-09-19 19:14] mikeveeckmans commented on #7
Hi @cnpsupport , you can send everything to me, including the bill for shipping, i'll have it reimbursed to your paypal account if that's ok.

[2016-09-19 19:23] cnpsupport commented on #7
Will do... cost $106.55 USPS should arrive for Cliff by Wednesday.

Shoot me your email and I will make scans now to send.

CN

On 9/19/2016 3:14 PM, Mike Veeckmans wrote:

--
Christopher Nielsen
General Manager|CNP Integrations Business Innovation Center
508-644-1553 cell 401-662-1035

http://www.cnpintegrations.com
http://businessinnovation.center
http://csapropertiesllc.com/

[2016-09-26 12:50] cnpsupport commented on #7
Mike, should I use the reimbursement form or send this to you? I need your email address to send this to you.
Thanks, CN

[2016-09-26 13:46] mdemop commented on #7
@cnpsupport Check has been processed, check your email for the echeck. @mikeveeckmans let me know what class to file under.

[2016-10-05 15:24] mbabker opened #26 "Update Homepage Graphic"
After computing all the counts prepping the downloads site, our download count is over 76 million now.

Please update this graphic; I'd suggest setting the text to 75 million and we can come back to it every 5 million downloads.

[2016-10-05 15:41] cpfeifer commented on #26
I agree the information needs to be accurate and I think @mbabker plan is a good one.

Over the past year, I've seen everything from 67 million to 51 billion downloads. I've seen the language support numbers at 61, 64, 66, 67, and 70+. Number of actual users is hard to determine, but download numbers and number of languages is something we absolutely know.

I honestly can't say which of these numb

[2016-10-05 15:53] mbabker commented on #26
It was 76,077,000+ on Sunday when I imported all of the data from GitHub and JoomlaCode.

The download count used to be easy to grab direct from JoomlaCode; it's on the homepage.  With GitHub, the only way to get it is through the API, and it wasn't something we were paying close attention to.  So the data there has basically been hidden in a black box for the last couple of years.  Not to mention

[2016-10-05 16:03] cpfeifer commented on #26
Thanks @mbabker

I count 68 languages on the translation site. I've been saying 67 for months I saw it on a bunch of different jday websites and that is what I put on mine. Sarah Watz mentioned in her presentation that my number was too high when she showed a slide with 64 as the number. So I immediately looked on Joomla.org to verify and it says 66. No one seems to know the right answer, and it's

[2016-10-05 16:20] MATsxm commented on #26
@cpfeifer
Regarding languages packs, it depends what you want to talk about?
For a long time, the count was with the 2.5 packs as in a "marketing" perspective it was better to talk about the higher number.
Also, what are you considering as a language pack?
100% translated?
1 string is enough to consider we have a pack?
thos only on JoomlaCode or also on Crowdin or also "private" ones?
All those qu

[2016-10-05 16:23] cpfeifer commented on #26
@mbabker - I don't disagree. I do think if we're going to present the information in graphics it should be generally accurate on some level, and it might be best to leave it out altogether. These graphics can never be updated everywhere once they go out and get shared and copied.

I think we need to consider having an official "stats" page where this info can be found. If the marketing team can't

[2016-10-05 16:25] MATsxm commented on #26
not legally possible

[2016-10-05 16:28] brianteeman commented on #26
Even that was not correct as when we switched to JoomlaCode the existing
downloads were not included

On 5 October 2016 at 17:25, Marc-Antoine Thevenet <notifications@github.com>
wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2016-10-05 16:36] cpfeifer commented on #26
@MATsxm - my opinion: If there is a language pack it should count as one language. The only other alternative is to not count the variations and only count each language we support as one. It doesn't need to be any more complex than that.

Any "definition" we create will be used only as an internal Joomla marketing / brand standard and would not require any legalities. It's necessary to present a

[2016-10-05 16:39] MATsxm commented on #26
then: https://community.joomla.org/translations/joomla-3-translations.html

[2016-10-05 16:40] brianteeman commented on #26
Technically the language packs are not "official"

The count was of languages - not all in 2.5 + all in 3.0

On 5 October 2016 at 17:36, Cliff <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2016-10-05 16:48] mbabker commented on #26
Well, parts of the project have been doing that for 11 years...

/me hobbles expeditiously out of here

[2016-10-05 16:52] cpfeifer commented on #26
@mbabker - I know, and we should stop. We can stop it in at least one way right now.

Can we all agree that each language pack counts as one language, and the official current language support number is 68?

[2016-10-05 16:56] brianteeman commented on #26
Nobody ever said a language pack counts as anything more than one.

On 5 October 2016 at 17:52, Cliff <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2016-10-05 17:01] cpfeifer commented on #26
Some people are lumping the packs together that are the same "language" and the numbers are widely inconsistent across the internet. joomla.org says 66 right now and the president of OSM believes it's 64. That's a problem we need to fix and it's one we can fix easily.

[2016-10-05 17:03] ot2sen commented on #26
For supported languages it would be easy to check the amount in
installation languages included in core, which should match languages
supported.
https://github.com/joomla/joomla-cms/tree/staging/installation/language
That would be 69, English British obviously included as the software itself
is language neutral and in principle support all languages :)

On Wed, Oct 5, 2016 at 6:56 PM, Brian Teeman

[2016-10-05 17:11] cpfeifer commented on #26
Let's just say the number of packs we have is the official number and be done with this.

Let's put that number in one location so it can be easily updated and referenced by our users and marketing team so there is no confusion in the future.

I don't believe we need to discuss or debate it any further than that. That's my vote as a member of CLT and MWG. If there needs to be any further discussio

[2016-10-05 17:31] brianteeman commented on #26
done with this.

Did anyone ever or anywhere say anything else

Whenever I give a presentation I always check and update my figures. If
other speakers do not then thats a problem for them to fix

That's my vote as a member of CLT and MWG. If there needs to be any further
discussion please take my vote into consideration and knock yourselves out.

thats really not a helpful attitude. "My badge is m

[2016-10-05 17:55] Sandra97 commented on #26
The banner graphics of the homepage have been updated.

[2016-10-05 18:02] ot2sen commented on #26
Cliff, the reason I mentioned English British above is surely with
marketing in mind too. As you can see in this thread alone the use of
'language packs' and 'languages supported' come randomly.
The homepage says "Joomla! is the most popular and widely supported open
source multilingual CMS platform in the world, offering 66 languages." not
speaking of language packs, so the number would be 1 high

[2016-10-05 18:08] #26 closed

[2016-10-06 11:50] #25 closed

[2016-10-06 11:53] mikeveeckmans commented on #24
@jeckodevelopment working on it

[2016-10-06 12:05] mikeveeckmans commented on #24
just an idea
![testdrive](https://cloud.githubusercontent.com/assets/4589318/19151610/e4c65f86-8bcd-11e6-9e68-009e80eec7d0.png)

[2016-10-06 13:38] zero-24 commented on #24
Much better but why test drive? As it links to demo.joomla.org ;) maybe just "Test Joomla"?

[2016-10-06 15:07] beat commented on #24
Just a suggestion:

How about "Try Joomla" (means try before adopting) or "Try and adopt" ?

"Test" means it needs to be tested, and thus might not work. And "Test Drive" is longer and internationally less understood than "Try".

[2016-10-20 15:33] JoeJoomla opened #27 "Bluehost Platinum Sponsor Logo to Replace Arvixe"
Bluehost has taken the place of Arvixe for the Platinum Sponsor package.
https://www.joomla.org/current-sponsors.html

The Capital Team agreed on a new banner size to accommodate existing artwork by Bluehost. I am attaching the banner here.

Please note: we agreed to a 468px wide banner. The supplied banner is larger than this.

To date we do not have new copy for the sponsor page. I will be reque

[2016-10-20 15:37] mikeveeckmans commented on #27
@JoeJoomla : you want this one in revive ad server ?

[2016-10-20 15:44] JoeJoomla commented on #27
That's a great suggestion Mike.
I'll make a zone for this and send you the code.

[2016-10-20 15:55] mikeveeckmans commented on #27
Zone is already created Joe.
Just need to replace the banner, I'll take care of it

Sent from my iPhone

On 20 Oct 2016, at 17:44, JoeJoomla <notifications@github.com<mailto:notifications@github.com>> wrote:

That's a great suggestion Mike.
I'll make a zone for this and send you the code.

-
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://g

[2016-10-20 16:06] JoeJoomla commented on #27
Hi Mike,
Oops, I just created a campaign, zone and all for it.
If you are in Revive you may want to delete what I just did (Website property, campaign, zone, banner, etc)
I resized the banner to the exact proportions too, 468 x 72.
Sorry to duplicate your efforts.
Joe

[2016-10-20 16:09] JoeJoomla commented on #27
One more thing Mike,

Bluehost just sent me a different link for the banner:

https://mailtrack.io/trace/link/77d78fb6ad707f78bb53011dedda4b36365c32f4?url=http%3A%2F%2Fbluehost.com%2Ftrack%2Fjoomlaorg&signature=e46edbe739b0411d

They requested we use the one above please.

Best regards,

Joe Sonne

[2016-10-21 13:27] JoeJoomla commented on #27
Hi @mikeveeckmans

Here's the text for the sponsorship:

"Bluehost is one of the largest and most trusted web hosts, helping millions of people around the world build and manage the site of their dreams. Offering 24/7 support and a myriad of professional services, Bluehost is the premier and comprehensive solution for getting online.

One simple click is all it takes to install Joomla on the Blueh

[2016-10-21 20:46] JoeJoomla opened #28 "Downloads Page Sponsor Banner Redesign"
Bluehost has requested changes to their banner on the download page:

https://www.joomla.org/download.html

This gives us the opportunity to redesign it to look nicer for the new download page.

The change they are requesting on the banner is:

Thanks and best regards,

Joe Sonne

[2016-10-21 20:57] Sandra97 commented on #28
Would be nice if we can have the new design before the launch of the Downloads portal. ;)
Thank you!

[2016-10-22 13:10] coolcat-creations commented on #28
👍

[2016-10-23 11:40] Sandra97 commented on #17
As I have the PSD template for the imagery, I can do the pics we need.
Thank you.
Closing this issue.

[2016-10-24 16:25] coolcat-creations commented on #17
@Sandra97 We already have one generic for the translators - or i can change the text for you. It´s the Thank you image on the 3.6. Landing page - i think the heart fits good?

[2016-10-24 16:44] Sandra97 commented on #17
Don't worry, I know you can do them when we need.
As when we need a specific pic for a Tweet, all has to be done in the minute, so that's why I think it's better if I do them myself and not ask you to stop  all you're doing to create a pic.

[2016-10-24 18:15] coolcat-creations commented on #17
Allright :)

[2016-10-24 18:15] #17 closed

[2016-10-27 14:10] coolcat-creations commented on #28
![bluehost_banner](https://cloud.githubusercontent.com/assets/828371/19770510/d40739e8-9c5f-11e6-8a38-614713d72069.jpg)

[2016-10-27 15:36] JoeJoomla commented on #28
Thank you!

I will send this to the client for an approval.

Best regards,

Joe Sonne

[2016-10-27 18:26] JoeJoomla commented on #28
@coolcat-creations Bluehost loves the banner. They are eager for it to be up on the downloads page now. 👍

[2016-10-27 18:29] mikeveeckmans commented on #28
I'll put it in revive

Sent from my iPhone

On 27 Oct 2016, at 20:27, JoeJoomla <notifications@github.com<mailto:notifications@github.com>> wrote:

@coolcat-creations<https://github.com/coolcat-creations> Bluehost loves the banner. They are eager for it to be up on the downloads page now. ?

-
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https:/

[2016-10-27 18:45] mikeveeckmans commented on #28
@JoeJoomla Does the link needs changing as well ?

[2016-10-27 18:46] mikeveeckmans commented on #28
@Sandra97 new banner already added to the zone, and active.
Only need confirmation from @JoeJoomla  on the link.
Thank you @coolcat-creations for the banner.

[2016-10-27 18:48] Sandra97 commented on #28
I confirm the new banner is displayed on org and Downloads.

[2016-10-27 18:49] mikeveeckmans commented on #28
@JoeJoomla never mind ;-) already got the answer from #27

[2016-10-27 18:49] #28 closed

[2016-10-27 19:10] mikeveeckmans commented on #27
@JoeJoomla do you want the banner there instead of the logo?
Already changed the copy and added the logo.

I need to check with @Sandra97 if you want the banner there.
And the banner that was created in #28 or just the logo?

[2016-10-27 19:11] #7 closed

[2016-10-30 19:37] mbabker opened #29 "[imagery] Replacement JSST badge"
Please create a new badge to replace [this JSST badge](https://developer.joomla.org/images/jsst_logo_125x125.jpg)

[2016-11-13 10:35] Sandra97 commented on #29
@coolcat-creations, @mikeveeckmans, could you provide a new badge? Thanks

[2016-11-13 22:02] coolcat-creations commented on #29
yes! i´ll apply it to the other new badges.

[2016-11-14 09:49] coolcat-creations commented on #29
![jsst_logo_joomla_horizontal](https://cloud.githubusercontent.com/assets/828371/20259989/edb4b644-aa57-11e6-9bdc-1a1d11faefd6.png)
![jsst_logo_joomla_squared](https://cloud.githubusercontent.com/assets/828371/20259988/edb29c24-aa57-11e6-9a80-678edef3b6d6.png)

These would be the logos and they have the same design like the other new conditional logos.

[2016-11-14 20:11] Sandra97 commented on #29
Thanks @coolcat-creations!
Badge integrated.
Closing this issue.
Re-open if needed.

[2016-11-14 20:11] #29 closed

[2016-11-14 20:16] Sandra97 commented on #24
We have updated this part and removed the out of date pictures.
I don't think we really need images for this part, but if you want some, then, I'll need 3.

[2016-11-14 20:16] Sandra97 commented on #24
Sorry, I clicked the wrong button....

[2016-11-15 12:00] coolcat-creations commented on #24
I agree @Sandra97. How about just converting the links into buttons like it is on the Frontpage?

[2016-11-15 12:05] Sandra97 commented on #24
In order to be consistent with all the other internal pages of the website, it's better to not convert the links into buttons here.

[2016-11-15 12:08] coolcat-creations commented on #24
fair enough :) If you decide to want an image just let me know. But i agree that it´s not needed there...

[2016-11-15 12:09] Sandra97 commented on #24
We both agree about not displaying images so I can close this issue.
Re-open if needed.

[2016-11-15 12:09] #24 closed

[2016-11-15 13:50] jeckodevelopment commented on #24
Why not a button?

[2016-11-15 13:54] Sandra97 commented on #24
As said previously, because it will not be consistent with the layout of the rest of the website (the homepage is the landing page, so that's completely different).

[2016-11-15 13:56] jeckodevelopment commented on #24
Thanks

[2016-12-02 07:50] #27 closed

[2016-12-21 22:47] cpaschen opened #30 "Just testing"
Just testing to see if the issues area works and what access I have.

[2016-12-21 22:50] MATsxm commented on #30
what do you wanna do?

[2016-12-21 22:57] cpaschen commented on #30
Just seeing how we might want to use Github more in managing Marketing Team stuff.

[2016-12-21 22:57] cpaschen commented on #30
But I see I don't have access to create anything other than issues. (not projects, milestones, etc.)

[2016-12-21 23:44] MATsxm commented on #30
@jeckodevelopment could you take a look please... even if I stay skeptical about the usefulness of these features for such topic... 😝

[2016-12-21 23:56] cpaschen commented on #30
Yes, I'm skeptical too, but want to make sure I pursue all available options for our team needs.

[2016-12-22 00:29] jeckodevelopment commented on #30
@cpaschen what kind of permission do you need?

[2016-12-22 00:34] MATsxm commented on #30
Thanks Luca @jeckodevelopment
(as long as I can use my Emoji 🚽 👅 😉 )

[2016-12-22 00:39] cpaschen commented on #30
Possible to get permission to Projects/Milestones/Labels and to assign people to projects?

[2016-12-22 01:09] jeckodevelopment commented on #30
well, you have an invitation now. Please accept it.

[2016-12-22 01:41] cpaschen commented on #30
Thanks.
I'll check it out over the next few days to see IF this will do what we need for the Marketing Team.
Thanks!

[2016-12-22 01:41] #30 closed

[2017-01-22 00:32] jayblaq opened #31 "[other] Joomla Booth and Banner - JDAYFL17"
Hello.  I request the Joomla Booth and banner at JoomlaDay Florida 2017.  The event is Feb 25th and 26th in Tampa, FL.  We had the booth last year, and I paid to ship it onward to JoomlaDay MN and have helped set it up and worked it at HostingCon 2016.   Mike Demo currently has the booth and would send it to use, and we would pack it and sent it on to LA for our HostingCon 2017 event after the eve

[2017-01-22 20:14] mdemop opened #32 "[event] HostingCon 2017"
@cpaschen We spoke about this below but wanted to put in as a ticket.

- Need 1500 Swag Items for Joomla Booth, Those Screen Protectors Should Work Fine.

- Help with the social posts and banner ads as required by HostingCon contract for comp booth.

- Help provide up to 5 videos and up to 15 PDFs for different target markets (Hosts, users, SASS companies) so that we can include in media kit.

[2017-01-22 20:16] mdemop opened #33 "[other] US Joomla Booth Kit Repair"
Since JoomlaDay Flordia 2016 got the booth it has been missing the middle support bar. please let me know who and how to buy a replacement and I will put with the kit. In addition if you can get me cleaning directions I want to send in for cleaning before HostingCon 2017.

[2017-01-22 20:17] mdemop commented on #31
@cpaschen I have the booth in the OSM storage locker. I can send to JDayFl once approved and we get the middle support arm replaced. Mike V had some sort if rental process.

[2017-01-23 21:01] mdemop commented on #31
@cpaschen If you do rent the booth to JDayFL they should mail directly to HostingCon during the free shipping arrival window:

GES
HostingCon Global 2017
Joomla!, Booth #440
5560 Katella Ave.
Cypress, CA  90630
United States of America

[2017-01-23 23:01] jayblaq commented on #33
I believe the middle bar was not included at JoomlaDay Florida - It came to us for SunshinePHP.  I am unsure when it went missing.

[2017-01-23 23:02] jayblaq commented on #31
Mike Demo and I would pack it and I would mail it the following week.

[2017-01-23 23:21] mdemop commented on #31
Oh I know, I think it went missing when Tessa separated it from the crate.
At any count it.needs replacement.

On Jan 23, 2017 5:02 PM, "jayblaq" <notifications@github.com> wrote:

[2017-01-24 07:54] parthlawate commented on #31
@cpaschen we are also going to need a logistics team to handle this as well as the Goodies and giveaways (that could also be under the Shop team)

[2017-01-24 19:11] mdemop commented on #32
@JoeJoomla Already took care of the banner ads, FYI.

[2017-01-26 10:03] Sandra97 commented on #32
@mdemop On this page http://global.hostingcon.com/hcg17/Public/eBooth.aspx?IndexInList=21&FromPage=Exhibitors.aspx&ParentBoothID=&ListByBooth=true&BoothID=1276744, would it be possible to change the number of downloads? We're over 79 millions, not 60. And the logo displayed has strange colors..

[2017-01-26 11:29] mdemop commented on #32
Can someone get me a vector logo and high res PNG to send them? Also should
be able to update that text.

On Jan 26, 2017 4:05 AM, "Sandra Thevenet" <notifications@github.com> wrote:

[2017-01-26 11:41] Sandra97 commented on #32
Here's the folder for the offical logos: https://drive.google.com/drive/u/1/folders/0B-WMsfRg_wivSV83SzZzZ2tRM2M

[2017-01-26 12:07] mdemop commented on #32
@Sandra97 I updated the text (but had to cut it since they only allowed 500 characters (this was copied from last year so was fine until we touched it)). I also uploaded the logo but it is small. These are the specs if you want to provide new art: "Company Logo/Image (gif,jpeg or png, less than 30KB and not exceeding 250 W x 120 H pixels)."

[2017-01-26 12:11] Sandra97 commented on #32
I'll provide you the logo at the right size

[2017-01-26 12:29] Sandra97 commented on #32
Here are the Horizontal and Vertical logos (I think the display of the horizontal one is better as bigger)
![horizontal-logo](https://cloud.githubusercontent.com/assets/4682328/22331338/4ece472e-e3a1-11e6-875e-b79d9168860a.png)
![vertical-logo](https://cloud.githubusercontent.com/assets/4682328/22331343/50f34522-e3a1-11e6-91d0-9d69196fb370.png)

[2017-01-26 12:36] mdemop commented on #32
I just uploaded the horizontal one and is still tiny. maybe send me just the brand mark?

[2017-01-26 12:42] Sandra97 commented on #32
Here it is
![joomla-brandmark-flat-rgb](https://cloud.githubusercontent.com/assets/4682328/22331739/658098a8-e3a3-11e6-9c5d-6cb9263f5ac1.png)

[2017-02-03 20:36] Sandra97 opened #34 "[imagery] New Twitter Card"
Further to the update of joomla.org hero part, would be nice to have a new design for the Twitter Card

Here is the current one:
![a14b8110-0fee-11e6-89eb-0e1b1c492a8c](https://cloud.githubusercontent.com/assets/4682328/22607486/7c39b390-ea2e-11e6-96a4-665b1ec5c9d1.jpg)

Here is the type of card we're using on org properties:
https://dev.twitter.com/cards/types/summary-large-image

Dimensions: at

[2017-02-03 20:43] Sandra97 opened #35 "[Imagery] 3.7 Release on joomla.org"
We will need a graphic to announce the 3.7 Release + the landing page.
It will be display at the right of the announcements part on joomla.org homepage when 3.7 stable will be released.

- Dimensions: 750x525px
- Deadline: 25 March 2017

@liliespinosa I need your talent (again)!

[2017-02-03 20:53] Sandra97 opened #36 "[Imagery] Banner for 3.7 on org properties"
Would be nice if we can have a banner to display in the sidebar of some org properties to promote 3.7 + landing page (can be displayed in Position7)

- Dimensions: 300x250px
- Deadline: 15 March 2017

@liliespinosa one more task for you ;)

[2017-02-03 21:04] Sandra97 commented on #6
@jeckodevelopment I'm finishing the 2017 templates for our blogposts and social media (.psd files). Once done, I will make the folder available for all the teams or webmaster who may need them.
If you need other sizes, just tell me. I'm not the best at Photoshop but I can manage it ;)

For the newsletter template, Richard from the Certification Marketing Team showed me their newsletter template an

[2017-02-03 21:24] Sandra97 opened #37 "[Imagery] General Imagery for 3.7"
In order to have some imagery publicly available for the community, as well as for our social media team, it would be great to provide the same imagery as we had for 3.6: https://docs.joomla.org/J3.x:Joomla_3.6_Imagery

Here's a short doc about the needed visuals:
https://docs.google.com/document/d/1AgQe3ZD9ioXN71329SwqFRCQ_0cgrt1HM6nzfUeOOZM/edit?usp=sharing

Thank you!

[2017-02-04 10:01] jeckodevelopment commented on #6
+100 for the common template.

Not sure with the common place, just because each team has its lists and it should be easy for each one to send newsletters as needed, without asking other teams.

[2017-02-04 10:13] Sandra97 commented on #6
Each one has to be able to send its own newsletters when they want of course, as well as having automated newsletters, for example for new releases. But for sure, centralising lists is not easy at all.
In my dream, having everything centralised could mean a centralised place for subscription so that users can subscribe to the newsletters they want from one place, without having to visit each site

[2017-02-04 10:18] jeckodevelopment commented on #6
I agree with your view, you know.
BTW, for example, in Certification we have users subscribed automatically to a specific list when they are registered to the website. So, maybe it couldn't work

[2017-02-04 10:31] Sandra97 commented on #6
Yes, it can prevent to do that.
I think we should organize a meeting with all people who are currently managing newsletters and the ones who would like to have one. If we work all together we can at least have some consistency (using all the same template) and find ideas to help users to find and susbscribe easily to newsletters.

[2017-02-04 12:17] Sandra97 commented on #34
Here is some suggestions (but Lili has far better ideas tham me)
Size: 747x400px
![1](https://cloud.githubusercontent.com/assets/4682328/22618424/392af378-eab2-11e6-8e6d-6d11062471d3.png)
![2](https://cloud.githubusercontent.com/assets/4682328/22618425/3930b59c-eab2-11e6-8a22-572f39cae847.png)

[2017-02-08 02:31] jayblaq commented on #31
Hello we are almost 2 weeks away? Any news?

[2017-02-09 23:17] jayblaq commented on #31
BUMP

[2017-02-10 00:33] jayblaq commented on #31
@mdemop - This place has replacement support beams and more.  I guess you could check with them.

https://www.tradeshowdisplaypros.com/trade-show-displays/tension-fabric-displays/formulate-essentials-10-ft-horizontal-curve-wall.html

[2017-02-13 19:45] liliespinosa commented on #36
Sandra, this banner is already in GDrive :)

[2017-02-13 19:51] liliespinosa commented on #36
https://drive.google.com/open?id=0B9Wt6WtQbUobcWZKTzI0Um1mbDA

[2017-02-13 19:51] liliespinosa commented on #35
Done!
https://drive.google.com/open?id=0B9Wt6WtQbUobcWZKTzI0Um1mbDA

[2017-02-13 20:35] Sandra97 commented on #36
Thanks Lili!

[2017-02-13 20:36] Sandra97 commented on #35
Thank you Lili!

[2017-02-13 22:00] #35 closed

[2017-02-13 22:03] Sandra97 commented on #37
All done too. Thank you Lili!

[2017-02-13 22:03] #37 closed

[2017-02-13 22:16] Sandra97 opened #38 "[Imagery] 2017 Template"
https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8eVNwak5GV1N1VGM

The new layouts for imagery on our property blogposts (BlogPost-Templates-2017-2.psd) have been approved by the Marketing Team, Social Media Team and Department Coordinator.
Small edits  can be seen in the file EDITS-SandraforLily.psd

Using the same layouts, could you please create them also for:
- Instagram 1080 x 1080
- Fa

[2017-02-14 10:27] Sandra97 opened #39 "[copywriting] 80 millions downloads blogpost"
Should be nice to prepare a blogpost to publish on jorg when this milestone is reached (with other key numbers/elements)

Thank you!

[2017-02-14 10:31] Sandra97 opened #40 "[copywriting] Teasing article for 3.7"
Would be nice to have asap a teasing article about 3.7.
It seems many people are not aware of the new features as well as the release date (even if these infromation are of course already publicly available)
If not possible, teasing campaign will be only on Social Media (already started - four more to come, images already done)

[2017-02-14 10:35] Sandra97 opened #41 "[copywriting] New structure Blogpost"
It would be a good idea when transition is ended to write a blogpost to explain a bit the new structure. It appears many users are a bit lost and don't really understand it.

[2017-02-16 22:12] cpaschen commented on #31
Jay, we've got the replacement part on order but not available in time and not functional without that part. Unfortunately it doesn't look like the booth will be available for your event :-(

[2017-02-16 22:23] cpaschen commented on #39
@parthlawate Are you handling this?

[2017-02-16 23:31] cpaschen commented on #40
I've written a VERY short teaser blog post:
https://docs.google.com/document/d/1b11lkNGBoocyyQ70S3gCiLi-yMZwqcDP4E21LmIHFG0/edit#

Please review/edit/rip apart!

[2017-02-16 23:34] cpaschen commented on #39
Sorry to 'beat a dead horse', but I think the purpose is to draw attention to the popularity of Joomla! We need to get something out that will get shared and re-tweeted. The best way to do that is with an 'engaging' graphic. And this one seems to lend itself to info-graphic.
Do we have anyone who has any experience in creating info-graphics?
(You can do basic ones with Canva that look decent).

[2017-02-16 23:38] cpaschen commented on #6
It should be easy for users to sign-up for multiple email newsletters. As long as AcyMailing is installed on a main site (joomla.org etc.) then it can be set-up to automatically send out 'smart' newsletters. Teams can just add content items that are automatically then sent out to users who subscribe to their team news. It would also allow us to just send out one newsletter to each person with a su

[2017-02-16 23:42] cpaschen opened #42 "[copywriting] Beta3 Release post"
I've created a beta 1 release post here:

https://docs.google.com/document/d/1NSfFXuVcXxOhoc9_ul0kolsmQeaRZIrbmnPTcoax8PM/edit#

To be completely honest, I just took the 3.7 beta 1 and updated it. No need to re-write an entire article for what is a release announcement. There are some things that need to be proofed and possibly updated.

Please review and comment.

[2017-02-17 02:42] parthlawate commented on #39
I'm on this... I agree an infographic would be nice.. Let me put it on the Design group and see if we can get someone to help

[2017-02-17 18:13] mdemop commented on #31
Part has been ordered and SHOULD arrive next week. If it does will ship booth.

[2017-02-17 18:37] jeckodevelopment commented on #6
As said, please consider specific needs, like automatical subscription when joining a particular user group.

[2017-02-17 21:27] jayblaq commented on #31
Yes - I will ship it to HostingCon right after the event.

Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

On Fri, Feb 17, 2017 at 4:26 PM, Chris Paschen <notifications@github.com>
wrote:

[2017-02-17 22:18] Sandra97 opened #43 "[copywriting] joomla.org updates to reflect the new structure"
I need help to update some pages of jorg:

- https://www.joomla.org/about-joomla/the-project.html
- https://www.joomla.org/mailing-lists.html

Thank you

[2017-02-17 22:26] zero-24 commented on #43
@Sandra97 can you close than: https://github.com/joomla/joomla-websites/issues/853 ?

[2017-02-17 22:56] Sandra97 commented on #43
Done!

[2017-02-17 23:00] zero-24 commented on #43
:+1:

[2017-02-18 15:35] liliespinosa commented on #38
Hi Sandra!
Here are the three PSD files :)
https://drive.google.com/open?id=0B9Wt6WtQbUobV3NkMkRJM3NzV2c

[2017-02-18 15:56] Sandra97 commented on #38
Thank you Lili!

[2017-02-18 15:56] #38 closed

[2017-02-21 15:21] mdemop commented on #33
@cpaschen Replacement part delivered today, please close issue.

[2017-02-21 15:22] mdemop commented on #31
@cpaschen @jayblaq Part delivered will ship out booth to FL Today.

[2017-02-21 19:31] Sandra97 commented on #42
I've modified it to fit well to Beta 3, did a pic and posted it on dev.

[2017-02-21 19:31] #42 closed

[2017-02-21 19:32] Sandra97 commented on #41
A really good idea from @roland-d
"The graphic would be good to be filled with the names of the people who have been voted in"

Link to the graphic: https://community.joomla.org/images/blogs/leadership-blog/joomla_leadership_structure.png

[2017-02-21 23:27] mdemop commented on #31
@cpaschen Booth Shipped via FedEx with part. Tracking # 790363461340.

@jayblaq Please get booth cleaned (go to dry cleaners) and pressed and ship to:

GES
HostingCon Global 2017
Open Source Matters, Inc (Joomla), Booth # 440
5560 Katella Ave.
Cypress, CA  90630
United States of America

Post event.

[2017-02-21 23:54] jayblaq commented on #31
Will do!

Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

On Tue, Feb 21, 2017 at 6:27 PM, mdemop <notifications@github.com> wrote:

[2017-02-22 03:24] cpaschen commented on #33
Thanks for the update

[2017-02-22 03:24] #33 closed

[2017-02-22 03:26] cpaschen commented on #31
Mike/Jason,
Thanks for handling all this.
And thanks for your patience with me and the Marketing Team during this transition period.
If either of you have suggestions on how to better handle the 'handling' of the booth please feel free to forward them to me via glip or email (chris.paschen@community.joomla.org).

[2017-02-22 03:27] cpaschen commented on #31
Jason,
Could you also update this ticket once you get the booth, so we can close this ticket?

[2017-02-22 03:28] jayblaq commented on #31
Yes indeed.

Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

On Tue, Feb 21, 2017 at 10:27 PM, Chris Paschen <notifications@github.com>
wrote:

[2017-02-22 15:55] Sandra97 opened #44 "[BlogPost] Announcement for 3.7 stable release"
Thanks to start preparing the announcement for 3.7 stable release which will be published on jorg.

[2017-02-22 18:54] jeckodevelopment opened #45 "[imagery] JED Checker listing on JED"
JED Team took the ownership of the JED Checker component and we need to rebrand the listing on the Directory, removing the imagery of the old developer.

Could Marketing Team provide new imagery for that, please?

https://extensions.joomla.org/extensions/extension/miscellaneous/development/jedchecker/

Thank you! ;)

[2017-02-22 19:42] Sandra97 commented on #45
@liliespinosa Would it be possible for you to help the JED team for that? Thank you!

[2017-02-24 15:26] parthlawate opened #46 "Tweak brand manual for release, remove draft, improve font spacing etc etc"
This is for @Siddharth

[2017-02-25 23:21] wilsonge opened #47 "Article on Cloudflare"
https://docs.google.com/a/community.joomla.org/document/d/1Lzbv7d56z7x1s26Hf2je012S4s5LBWamFOgYDK6qCx0/edit?usp=sharing

Release an article over the weekend about the cloudflare issue telling Joomla users what we can do. I'm using this as a base article and twisting it into my own words and adding in the Joomla specific information https://www.wordfence.com/blog/2017/02/cloudflare-data-leak/

[2017-02-26 01:08] cpaschen commented on #47
George,

Just need to clarify some 'details'. (I use cloudflare for one client site so I've been following this and got notifications from Cloudflare).

1. "data to other users"
Are we sure that it potentially leaked data to other users. I just re-read the notice that I received from Cloudflare and didn't see that (although I might have missed it - if it was cryptically worded).

2. "might be affe

[2017-02-26 08:27] zero-24 commented on #47
https://volunteers.joomla.org/teams/security-strike-team ;)

[2017-02-26 08:29] zero-24 commented on #47
Is there any way within J! to see a list of pending password resets or activations?

It is on the same list / the user list in the backend if someone is required to change the PW there will be a label telling the admin that.

Do we need to manually edit the configuration.php file, or can we change that within Joomla admin?

Manually. Nothing like this can be done via the GUI.

[2017-02-26 12:15] wilsonge commented on #47
1. "More concerning was that fact that chunks of in-flight HTTP requests for Cloudflare customers were present in the dumped memory. That meant that information that should have been private could be disclosed." Source: https://blog.cloudflare.com/incident-report-on-memory-leak-caused-by-cloudflare-parser-bug/
2. https://news.ycombinator.com/item?id=13719360 Read this. Whilst from their logs they

[2017-02-26 18:53] Sandra97 commented on #47
The picture for the blogpost:
![clouflare-blogpost](https://cloud.githubusercontent.com/assets/4682328/23342568/5f03b796-fc33-11e6-9189-cba3b93b950c.jpg)

[2017-02-26 20:29] cpaschen commented on #47
There are a number of what appear to be gramatical issues with that post that I'd like to clean-up. Could you open access on that doc to either edit or comment level? (I'm only able to view with my cjo account).
I can help with getting this written up.
I'm thinking that we really should put the instructions for changing the secret key should just be a new jdoc. I've got some time available in the

[2017-02-26 20:41] wilsonge commented on #47
Sure. You should have an email. Remember this is only the Joomla part I'm writing. It needs a good summary. Like the wordfence article I linked to. We want our own version of that with our own Joomla specific information where they have the wordpress specific information

[2017-02-26 22:22] wilsonge commented on #47
OK I've finished writing what I think needs to be in the article. Feel free to take it apart.

[2017-02-26 23:26] cpaschen commented on #47
OK ... I'm just doing some 'cleaning up' and 'dumbing down' (so that even I can follow. [I've got a site with cloudflare that I'm dealing with so I can specifically test/confirm steps.

Just courious. Shouldn't we have all users to a full, manual cache cleaning (both on Joomla and Cloudflare after they invalidate sessions? (I've had some strange happenings back in the 3.4 days when I went through

[2017-02-26 23:44] yvesh commented on #47
@cpaschen open your configuration.php in you joomla root, search for $secret and change the string in the single quotes (make sure it stays in single quotes) there:

`public $secret = 'SOMETHINNEW';`

That's it..

[2017-02-27 00:12] cpaschen commented on #47
OK ... I think I am finally done.

[2017-02-27 00:13] cpaschen commented on #47
I'm just going to put the 'instructions' for the fix in the content (per Yves). (Sorry Sandra, I just can't bring myself to write a new jdoc :-)

[2017-02-27 00:26] Sandra97 commented on #47
One day, I'll succeed to make you write something on JDocs ;)

[2017-02-27 01:37] cpaschen commented on #47
OK ... I've completed my hacking at this.

Please take a review of this and let me know if you see any problems. I think I've included all the points that George mentioned we should have and also included a 'dummy's version' of the config instructions.

Please take a look at those to make sure I didn't post something improperly in that Step 2 point 3.

I do wish that there were a way for us to som

[2017-02-27 01:39] mbabker commented on #47
Adding it to the UI is easy.  However it's not a value that really should ever change once a site is set up, hence the reason it's not anywhere to be found.

[2017-02-27 01:40] cpaschen commented on #47
I've added social media text to the bottom of the document.

BTW ... I love the graphic!

[2017-02-27 03:16] cpaschen commented on #47
RE: $secret - UI config

Unless you have a security issue with a CDN (I had one previously myself).
But I completely agree that the very low number of times that it 'might' be useful doesn't warrant adding to the core (because I'm sure someone would either find a way to exploit that or users would just find a way to break things with it) :-)

When I say 'wish' it's kinda like I 'wish' that we had

[2017-02-27 03:17] cpaschen commented on #47
Sandra - can we add one more hasgtag to the graphic - #cloudflare ?

[2017-02-27 05:54] siddharthkabra commented on #46
@parthlawate you can expect some outputs on the tweak soon

[2017-02-27 09:37] Sandra97 commented on #47
Here it is
![clouflare-blogpost](https://cloud.githubusercontent.com/assets/4682328/23356032/c699b04c-fcae-11e6-9cc5-3d543de6efdf.jpg)

[2017-02-27 10:06] yvesh commented on #47
#jsst ;)

[2017-02-27 10:08] Sandra97 commented on #45
@siddharth Could you have a look to this request if possible? Thank you!

[2017-02-27 10:09] wilsonge commented on #47
We don't need a JSST hashtag on this. It's not a core bug in any way

[2017-02-27 10:13] yvesh commented on #47
okay, it's about joomla security and everyone sould know jsst ;)

[2017-02-27 10:17] Sandra97 commented on #47
I added the hashtags to the Tweet:
#Cloudflare Data Leak and #Joomla - What you need to know and do
LINK
#Security #data #Website #Cloud #JSST

[2017-02-27 11:38] Sandra97 commented on #47
Published: https://community.joomla.org/blogs/community/3101-cloudflare-data-leak-and-joomla.html
Closing this issue.

[2017-02-27 11:38] #47 closed

[2017-02-27 15:57] yvesh commented on #47
Good work! Thank you

[2017-02-27 16:25] wilsonge commented on #47
You star!

[2017-02-27 18:15] MATsxm commented on #47
great feedbacks about the article even.... you won't believe it.... from the Froggies Community 😝

[2017-02-27 18:46] cpaschen commented on #47
BTW ... thanks for everyone's contribution. I hope we can do more like this. It makes it VERY easy to get something out quickly when someone with 'technical' knowledge about an issue writes 'something' (even if only sketchy and even if not native english) and then we can 'compose' and then have tech re-review for technical accuracy.

Now my only question is ... who is the "Froggies Community"???

[2017-02-27 18:50] MATsxm commented on #47
the one always on strike complaining about everything and that I'm supposed* to be part of...
(*I try to fight against this assumption for years now)

[2017-02-27 19:40] wilsonge commented on #47
Froggies = French

Glad to see as someone based in England I'm classified as a non-native 😂😂 (don't worry just pulling your leg I know that's not what you meant)

[2017-03-02 04:47] jayblaq commented on #31
@cpaschen Booth is here - Awaiting the new case

[2017-03-02 13:56] pranavlawate commented on #44
@Sandra97
I've written a first draft for the 3.7 release.
https://docs.google.com/document/d/1TAsHeCXGOXd79iFKslpOED_uvS57kUcK30YV3LAn-uk/edit?usp=sharing

[2017-03-02 14:05] zero-24 commented on #44
Should we not call it a minor release? As we don't have standard / long and short term releases any more ;)

[2017-03-03 06:30] siddharthkabra commented on #39
Hi,

Have a look at what I could come up with till now. @parthlawate as discussed, eye-catching, easy to read and highlights the best of joomla!
![infographic](https://cloud.githubusercontent.com/assets/25842720/23540684/ceb4513a-0008-11e7-8b80-dbe4e3d4c8e5.jpg)

[2017-03-03 06:50] parthlawate commented on #39
The stats about docs.. Its not very clear its about docs itself.. We might want to say 2000+ contributors instead of registered users.. but that might not be true.. It might need to be more clear that the section is about docs.. and not overall Joomla..

By the way the Joomla forum page has some nice numbers at the bottom..

Total posts 3117245 • Total topics 745650 • Total members 698645 https://

[2017-03-03 06:55] zero-24 commented on #39
Where is the launch a new version every 36 days sentence come from?

[2017-03-03 06:59] zero-24 commented on #44
Can we reopen this until the questions are cleared vs. the poste is published?

[2017-03-03 07:04] franz-wohlkoenig commented on #39
- What means Numbers in "Built with Joomla!"-Section: Thousands, Millions "Canada 3355"?
- Also should named "Joomla!" than "Joomla"

[2017-03-03 08:19] ot2sen commented on #39
It does look like that the documentation section is missing a larger title below the graphics as the other sections have. Therefore it is not clear that those stats are about documentation.

For typos and wording it would be a good idea to have a native speaker review when a final draft is ready. Can see some adjustments needed with non native eyes :)

[2017-03-03 09:43] Sandra97 commented on #39
Goog morning all,

My 2 cents... (I'm sure you were waiting for them ;) )

- Please  add everywhere where compulsory the bang (!) to Joomla! (and always capitalise Joomla)
- In the timeline, shouldn’t it be X million'S'?
- Maybe a good idea to add 2005. Birth of Joomla! (or another word but it allows to have a starting point)
- I don’t understand a new version every 36 days?
- For the extensions,

[2017-03-03 09:51] Sandra97 commented on #44
Also, @pranavlawate your blogpost is the jorg announcements for 3.7 stable.
But we need a Press Release that can be used outside our properties, sent to hosting companies, blogs or whatever. So we need a "sexy" article and not a technical one.

[2017-03-03 09:58] Sandra97 commented on #40
Another version can be found here:
https://docs.google.com/document/d/1CUJSgnW1WZvLI7-1Xsm5ev9A_1Ag7DGhlXaOiK6iQEA/edit

@cpaschen Thanks to tell me when it's ok, and when I can publish it on jorg. Thank you!

[2017-03-03 16:19] cpaschen commented on #44
Sandra, can you created a new 'task' for a Press Release for 3.7?

NOTE: A press release is a 'standard' document. There are expected 'structures' and styles. It's not at all like writing other marketing copy and has to be written properly.
They, by nature, aren't "sexy", but also aren't "technical".

I can give more info/tips in the actual task for this.

We will also need a 'task' for 'releasing

[2017-03-03 16:27] Sandra97 commented on #44
This Task was for the Press Release not for the announcements like mentioned in my title... But it turned into something else (which is needed too of course)
I'll create rename this one and create a new one

[2017-03-03 17:57] zero-24 opened #48 "Youtube update links in the default text to HTTPS"
Hi,

there are a great new video about 3.7 can someone fix the links in the default text to HTTPS?

https://www.youtube.com/watch?v=NtwDE5Paxd0

IIRC there is also some defaut text maybe this should also be changed there 😄

[2017-03-03 18:15] cpaschen commented on #48
Thanks.
Sandra can you follow-up on this?

[2017-03-03 18:20] Sandra97 commented on #48
I can't, I don't have access to YouTube (yes, there's an account I don't have access to... because I refused) but don't worry it will be edited

[2017-03-03 18:22] Sandra97 commented on #48
And the download link is not the right one too. I'll ask for the change

[2017-03-03 19:01] Sandra97 commented on #48
Links and text edited as many information were really out of date.
Closing this issue.
Re-open if needed.

[2017-03-03 19:01] #48 closed

[2017-03-03 19:03] zero-24 commented on #48
Thanks :+1:

[2017-03-03 19:24] Sandra97 commented on #40
FYI, I'll publish Rowan's version on jorg on Monday. We have already waited enough, let's go like that

[2017-03-03 19:26] yvesh commented on #40
+1

[2017-03-03 20:09] Sandra97 opened #49 "[Press Release] 3.7 stable release"
I think it would be nice to have an official Press Release presenting 3.7.
It could be published there: [Media Alerts & Press Releases ](https://www.joomla.org/about-joomla/the-project/media-and-press-contact.html
And it could also be sent to some influencers, blogs, hosting companies...

[2017-03-03 20:15] Sandra97 commented on #43
@parthlawate @pranavlawate @cpaschen Could you help me on this?

[2017-03-03 20:16] Sandra97 commented on #41
@cpaschen @parthlawate @pranavlawate Have you started working on it? Could be maybe a good idea to ask Ken and/or TJ for help?

[2017-03-04 02:40] parthlawate commented on #40
It's good to go from me.. my changes and edits are incorporated !

On Mar 4, 2017 12:56 AM, "Yves Hoppe" <notifications@github.com> wrote:

[2017-03-04 03:17] parthlawate commented on #49
Have created a starter article here copying from the 3.5 Press release here. https://docs.google.com/document/d/1CZELxTgw3v1MAw6BUim-ZYJ1Sz6ToHd9niORDpnqKhI/edit

@pranavlawate can you start editing this ? @cpaschen @Mark can you review format ?

[2017-03-04 03:22] parthlawate commented on #41
Have explained to @pranavlawate about the structure and given him content to read up on. A high level idea is kept here https://docs.google.com/document/d/1lApJVLYxYyjDWFnRt0QtFKEIWpuwwa3nqQyZ-kJDmS4/edit But i think we should get help from Ken and TJ for this as they will know it inside out !

[2017-03-04 03:24] parthlawate commented on #43
Ideally the blog post and this should go together ? Once copy for the blog is done the same can be used as a basis for this. Overall between the Press release and structure blog posts & content, i think now that structure is done that should get higher priority

[2017-03-08 17:25] parthlawate commented on #39
Noted will close max by tomorrow ..

[2017-03-08 17:35] franz-wohlkoenig commented on #39
@Sandra97 is there a live-counter i missed?

[2017-03-08 17:37] mbabker commented on #39
It comes out of the downloads site API.  Or the backend if you've got access.

https://downloads.joomla.org/api/v1/downloads/cms

[2017-03-08 17:41] franz-wohlkoenig commented on #39
@mbabker Thanks for Link. Would be nice to have a Page similar https://developer.joomla.org/about/stats.html

[2017-03-08 17:47] Sandra97 commented on #39
We already have a counter on the Downloads Homepage (in millions). Not sure we need one elsewhere with the exact number. It would be just a kind of gadget IMHO.

[2017-03-08 17:50] franz-wohlkoenig commented on #39
Thats true Playmobile for old Man, i like stats and Numbers.

[2017-03-08 18:10] parthlawate commented on #39
Article started here https://docs.google.com/a/community.joomla.org/document/d/1CnGBycjTfFY5-EN1EzJlsvg7KftFpfNMYdJ00UnD_jE/edit?usp=drivesdk

[2017-03-08 18:39] mbabker commented on #39
The whole point of having the API was to enable people to grab the data or make their own widgets as desired.  That's actually how the stats page works too (it just read's the server's public API and makes it look pretty).

It's in the roadmap to one day do some frontend stats.  But for me that's lowest priority, we've still got hundreds of language packages and 60 translation teams to move onto t

[2017-03-08 18:40] Sandra97 commented on #39
@parthlawate, some more ideas for the key numbers to add to the infographic:

- Volunteers on the portal: 833
- User groups: 177
- GitHub commits for the CMS: over 28,000

Also, when the infographic is ready, please provide the source file so that we can update it when needed.

[2017-03-09 00:49] Sandra97 commented on #40
Closing this task as the blogpost has been published today.

[2017-03-09 00:49] #40 closed

[2017-03-09 08:26] parthlawate commented on #39
@siddharthkabra @baruahr Please note updated stats. This is super urgent now as we are almost at 80 Million !

[2017-03-09 08:33] siddharthkabra commented on #39
Yes. Will upload a version in 30 minutes.

Siddharth.

On Thu, Mar 9, 2017 at 1:56 PM, Parth Lawate <notifications@github.com>
wrote:

[2017-03-09 09:57] siddharthkabra commented on #39
![joomla-infographics-03](https://cloud.githubusercontent.com/assets/25842720/23745060/dcf35cf4-04dc-11e7-8c6f-8ddea6295013.jpg)

[2017-03-09 09:58] siddharthkabra commented on #39
@Sandra97 @parthlawate

[2017-03-09 10:11] Sandra97 commented on #39
@siddharthkabra
My 2 cents:
- Timeline: it would be better to start by 2005 with the "birth of Joomla", I would remove 2011 as well as the "1 million monthly"
- Remove the "updated every 36 days" and you could replace it by "156 releases since 2005"
- With the 7.1%, you can add that Joomla! is powering over 2,4 million websites
- What are the numbers displayed on the map? The map is nice, but peop

[2017-03-09 10:15] franz-wohlkoenig commented on #39
- looks like 80 Mio. Downloads where at 2015 ("Joomla! turns 10") cause Timeline ends not 2017
- what are the Numbers below "Canada" and other Countries?

[2017-03-09 11:44] siddharthkabra commented on #46
![image](https://cloud.githubusercontent.com/assets/25842720/23748948/cc318756-04eb-11e7-9d7a-d7f4b6db75e0.png)

[2017-03-09 11:46] siddharthkabra commented on #46
we saw that the current Joomla Logotype had spacing issues especially evident in small type. The 'm', 'l' and 'a' and '!' seem to get all muddled up. Just rearranged the spacing and have tweaked the letters to make it better. Another exploration was also to tweak the insignia a little for better fidelity.

[2017-03-09 11:47] siddharthkabra commented on #46
![image](https://cloud.githubusercontent.com/assets/25842720/23749031/3743fe16-04ec-11e7-9a25-9a58cea6765c.png)

[2017-03-09 11:47] MATsxm commented on #46
of course you know this is a registered TM?

[2017-03-09 11:48] parthlawate commented on #46
Option 2 looks good !  About 3 might be too big a change..   @Mat Option 2 was requested as a tweak to the brand manual before we finalize it since its hard to read when in a small size

[2017-03-09 11:48] Sandra97 commented on #46
Siddardth, do not touch the logos, they are registered!

[2017-03-09 11:49] MATsxm commented on #46
are you kiddin me?
IT IS A LEGAL ISSUE!!!
you can NOT change it!

[2017-03-09 11:50] siddharthkabra commented on #46
@Sandra97 sure they are registered. But, one could register these as well. And its not a Legal issue. Brands change logos and tweak them all the time.

[2017-03-09 11:51] siddharthkabra commented on #46
I think we can keep it just to the font spacing as of now

[2017-03-09 11:51] MATsxm commented on #46
are you crazy or what? you will pay for it and impact legal issues pending?

[2017-03-09 11:52] MATsxm commented on #46
![fae76cf48d8a300ac0ab35ee082d8ea9](https://cloud.githubusercontent.com/assets/1972717/23749169/46c35ed0-049d-11e7-9fe5-6051d7b9af7a.png)

[2017-03-09 11:56] siddharthkabra commented on #46
Everytime a logo is made, it is registered and trade-marked. Changes to the logo can also be registered and trademarked. It is done all the time whenever companies and brands decide to tweak logos. Be sure that there is no legal issue around this. If we choose to go ahead, we will have to register the new one as well. That's all!

[2017-03-09 11:57] MATsxm commented on #46
OH BOY!!!!
please take care about your job, this is just crazy!
what ever you pretend it does NOT work like you.

[2017-03-09 12:03] siddharthkabra commented on #46
@MATsxm we do this all the time for brands and it's perfectly ok legally. I hope you've seen Google recently change their identity. It's alright to do it.

![image](https://cloud.githubusercontent.com/assets/25842720/23749497/703bd8a4-04ee-11e7-8354-9cd99db6795a.png)

[2017-03-09 12:04] MATsxm commented on #46
oh boy!!!!

[2017-03-09 12:07] Sandra97 commented on #46
No discussion is needed. **You cannot change anything in the logos**.
Please go back to your inition mission:

- remove "draft" anywhere it's mention.
- increase the font-size of the content to improve lisibility.

Nothing more.

[2017-03-09 12:07] coolcat-creations commented on #46
-1 👎  I suggest to close this (please)

[2017-03-09 12:09] Sandra97 commented on #46
I'm closing the issue and will re-open one with the initial mission I mentioned above.

[2017-03-09 12:09] #46 closed

[2017-03-09 12:28] aDaneInSpain commented on #46
Such a shame you are all shutting him down like this. The font of the logo is awful and very dated and always have been. Why can we not at least talk about improving it? Would it really be that hard?

[2017-03-09 12:30] aDaneInSpain commented on #46
I do not think we need to change the icon, but the font for "Joomla" is squashed and looks a little amateurish IMO.

[2017-03-09 12:30] siddharthkabra commented on #39
![joomla-infographics-05](https://cloud.githubusercontent.com/assets/25842720/23750289/3f031730-04f2-11e7-8e75-231e2440195b.jpg)

[2017-03-09 12:30] aDaneInSpain commented on #46
Also, we DID change the icon before, when we removed the shininess and made it "flat"?

[2017-03-09 12:32] siddharthkabra commented on #46
I think we should at least begin with improving the font and the spacing. If we can have some more constructive feedback, we can make it better. thanks @aDaneInSpain

[2017-03-09 12:33] Sandra97 commented on #46
Talking about changing it is a thing (like talking about removing the bang ;) ) but one person cannot decide to do any change on a registered logo.

[2017-03-09 12:35] mikeveeckmans commented on #39
Sorry to bug in, but not convinced on the documentation part ... 7000+ content pages indeed, but it's not clear it's about the documentation (docs.joomla.org) it comes after 156 releases and the text above which actually tells you it's about docs is so small that people will not read it properly... #IMHO , and now i'm gone again , cheers ;-)

[2017-03-09 12:36] siddharthkabra commented on #46
No ones 'deciding' anything unilaterally. It's a proposal, and hence, it's put up here. We need a group effort and positive constructive feedback and iterations to see if it works.

[2017-03-09 12:37] siddharthkabra commented on #39
btw, the numbers below the countries are the number of businesses using Joomla! in that country. Just thought that the global spread might be a nice thing to have.

[2017-03-09 12:38] aDaneInSpain commented on #46
Of course that is not something one person can just do. But talking about it should not be shut down like this IMO. The improved letter spacing suggested by @siddharthkabra is a huge improvement IMO and I know that this is also something @liliespinosa feels could really do with improving. In fact (when I initially tried to get her on board as a contributing designer, she felt hesitant because the

[2017-03-09 12:38] mikeveeckmans commented on #39
One last thing : all sources look good to me , but why put joomplace (an extension provider) on there as well? that's asking for troubles with others...

[2017-03-09 12:42] franz-wohlkoenig commented on #39
👍 looks now clear.

[2017-03-09 12:43] Sandra97 commented on #46
Soren, as I said in one of my previous comment, I'll open a new issue to first apply the changes we agreed in London and then we can all have a discussion of what can/should be done regarding any registered element.
First emergency is to remove 'draft' which is here since 2 years now. So, let's do step by step.

[2017-03-09 12:45] beat commented on #46
Suggestions for improving logo and at least the font of Joomla! made by @siddharthkabra look great imho and are a significant proposal with potentially a great impact.

They could sure be seen as a different topic than this tracker item, but they would make sense eventually, e.g. specially when finances allow for the slight change to be registered. As it would only be a slight change, there is mos

[2017-03-09 12:56] Sandra97 opened #50 "Brand Manual - Edits"
As agreed during the London Sprint, please:

- Remode all 'Draft' mentions
- Improve lisibility of the brand manual
- Replace joomla.org/brand by https://tm.joomla.org/
- Replace all links to http://opensourcemattersorg... by https://tm.joomla.org/
- Replace joomla.org/contribute by https://www.joomla.org/contribute-to-joomla.html

Thank you!

[2017-03-09 13:09] MATsxm commented on #46
@aDaneInSpain

Color and shape are not part of the TM (read the patern)
Anyway this is not part of the job and ask OSM if you want.... oh wait.... who in OSM? ;)

[2017-03-09 13:13] Radek-Suski commented on #46
Guys let's calm down:
- We can't change the logo. To be honest I don't think we even can change the spacing because it's a part of one of those logos.
- As much I appreciate your efforts, we cannot simply change it like this. It would require participation of the Legal Department and then the OSM board of directors. I also don't think it is particularly cheap to update the trademark. We are not Go

[2017-03-09 13:43] parthlawate commented on #46
Just for the sake of understanding. I think when the brand manual was created (March 2015) logo variations were done to make it flat etc.. https://tm.joomla.org/files/docs/20150308_Joomla_Brand

At this point we already had the mark registered - am i right ? We are trying to finalise the same brand manual and publish it.. The main reason this issue was opened was to increase the text spacing (not

[2017-03-09 14:08] JoeJoomla commented on #46
I’m going from memory here but I believe it’s just the word Joomla! that is registered and not the graphic. That’s why it was easy to make the graphic flat.

[2017-03-09 15:09] siddharthkabra commented on #50
Could you point me to the open file (ai) for the brand manual.

[2017-03-09 15:33] Sandra97 commented on #50
It's an InDesign file. You'll find it here: https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8TTM3bE5va1AweW8
Just ask for access and I'll grant you one.

[2017-03-09 15:48] franz-wohlkoenig commented on #50
@Sandra97 if theres is something to layout, i'll do. Using QuarkXPress.

[2017-03-09 15:52] mbabker commented on #46
My two cents, I don't see the issue looking into a change.  But that should be separate from getting the brand manual published.  They were right to ask for changes to the logo to not be included in this task, it's unrelated work.  It could've been communicated better most likely, but when has Joomla ever been all that great with communication to begin with?

So if there really is a desire to go t

[2017-03-09 16:00] Sandra97 commented on #50
Thanks Franz for offering your help!
At this step, it's only small edits of the current layout which are needed.
But if there's a decision after this 1st mission to change more elements, then I'll contact you.

[2017-03-09 16:57] franz-wohlkoenig commented on #49
@Sandra97 [News](https://www.joomla.org/announcements/release-news/5699-the-next-version-of-joomla-is-just-around-the-corner.html) talkes about "over 700 improvements". What i remember this "700" are born at a Time where 3.7 was sharp under thie Number.

Now 3.7 is at 1000+.

[2017-03-09 17:04] mbabker commented on #49
It really depends what you want to call "improvements".  If it's simply based on the commit count, then it's over 1200 last I knew.  Also remember though that a good number of those commits are either test infrastructure related or admin things (code style, version bumps around releases, branch merges, etc.), so that should be factored out of the number.

Maybe 700 stays a fair number to use, mayb

[2017-03-09 17:06] Sandra97 commented on #49
I know and you're right about the number.
But whatever is the number, talking about "improvements" is not really exact,  as we can't consider for example that correcting a double quote is an imporvement and we can't say Over 1 000 issues fixed, sound really bad
So it's just a "marketing" thing ;)

[2017-03-09 17:20] franz-wohlkoenig commented on #49
It's a marketing Thing and its not counting Numbers – right. I was hangig about the "700" as PR-Numbers was <700.

[2017-03-10 06:36] siddharthkabra commented on #39
![joomla infographics-0 7-01-01](https://cloud.githubusercontent.com/assets/25842720/23784758/dc743ffc-0589-11e7-9a13-6800eda1b98f.jpg)
finalised announcement. Can someone guide me to a place where I can upload the open file?

[2017-03-10 06:56] Sandra97 commented on #39
Thanks Siddharth!

2 little things to edit:
- For docs: it's docs.joomla.org not .com
- The Joomla! Forum: please capitalise "Forum"

For the source file, you can download it here:
https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8VFRIVGEyWXp4bDQ

Thank you!

[2017-03-10 07:21] parthlawate commented on #39
Looking fantastic @siddharthkabra ! Thank you for you help :) :100:

[2017-03-10 07:42] siddharthkabra commented on #39
thanks @parthlawate here's the updated one:

![joomla infographics-0 8-01](https://cloud.githubusercontent.com/assets/25842720/23786447/270c9c90-0593-11e7-9394-0a8d2e81525d.jpg)

[2017-03-10 07:50] Sandra97 commented on #39
Thank you Siddharth!!!

[2017-03-10 10:14] franz-wohlkoenig commented on #39
"80 Million Downloads in 2017" – as no-native Speaker this reads like "we have 80 Million Downloads in the Year 2017" (in 2+ Months).

[2017-03-10 10:54] Sandra97 commented on #39
Fully agree with you Frantz.
Better to just remove "in 2017"

[2017-03-10 21:12] Sandra97 commented on #39
As you have probably noticed, we have reached today 80 million downloads.

Do I have to mention that I've been asking for this blogpost since January 7th?

As we needed to do something today, I did a picture so that the social team and myself were able to do something.

@cpaschen @parthlawate Please finish the blogpost.
@siddharthkabra Could you please upload the source file in the Google folder (

[2017-03-10 21:37] Sandra97 opened #51 "[copywriting] Call for Designers"
Hello,

Parth and Elisa worked on a call for a Lead Designer last December. Chris reviewed it in January
https://docs.google.com/document/d/1WKmm4dkTdk234PVHLBWgi1f2DdIW57VvemmbntRD2_c
https://docs.google.com/document/d/11GTm9wMbhLJZLaxsf9MTzJaZFZ3uitciwPyqmm3eDWw

We are in March and nothing has been published.
We desperately need volunteers in all areas of marketing.

Thank you.

[2017-03-11 04:05] siddharthkabra commented on #39
Here's the source file
https://drive.google.com/open?id=0BwhC9FZgIkmZRDNkR0gwT1B3czg

[2017-03-11 06:25] franz-wohlkoenig commented on #51
thanks @Sandra97 for keeping things alive.

[2017-03-11 10:23] Sandra97 commented on #39
Thank you @siddharthkabra

[2017-03-13 06:27] parthlawate commented on #51
Thanks @Sandra97  as updated on Glip, a wider call for volunteers and a full campaign around this is planned starting with a JCM article by @cpaschen .. which should be the first priority to go out.. Chris can you do this ? Have edited some of your text and it looks good to me

[2017-03-13 06:28] parthlawate commented on #41
@pranavlawate Any updates on this ? Would be good if you can share any drafts you have !

[2017-03-13 20:02] Sandra97 commented on #43
Update: Michael did the work the marketing team was supposed to do and updated the content of the Project page.
Thank you Michael!

[2017-03-14 02:09] parthlawate commented on #43
Thank you Michael for picking this up !

On Mar 14, 2017 1:33 AM, "Sandra Thevenet" <notifications@github.com> wrote:

[2017-03-14 18:46] brianteeman commented on #39
I know its too late but for historical reference it is not 80 million downloads. we passed that some unknown time ago. At some point in the dim and distant past when we switched from one download location to another (2006 i believe) the count was reset to zero :)

[2017-03-14 19:02] Sandra97 commented on #39
Thanks for the information Brian. And in fact it's impossible to have an accurate number, as for example we don't know the numbers of download on joomla.fr, the number of donwload of quickstarts at template clubs.

Anyway, it hasn't been possible to publish the blogpost in time (despite my numerous requests to have something ready in time), and I have too many questions without answers regarding t

[2017-03-14 19:34] MATsxm commented on #39
and the infographic is not yet published... wait to see the mess and comments you will have...
Infographics are the best way to give the stick to be beaten with
lesson learnt? not sure...

[2017-03-14 20:31] cpaschen commented on #51
That article is posted here:
https://docs.google.com/document/d/1CwhHPUKJI4sLPPfxPqHCK1w7Ol0TwEdOiR62NBwkaeU/edit
(general 'teaser' for volunteer campaign)

We still need to get our onboarding process fixed (we can't just tell people 'go sign-up for glip' ... that is a nightmare to wrap your head around.

But please comment on the article posted here so we can move this ahead.

[2017-03-15 02:44] jayblaq opened #52 "Request for Joomla Booth for Davincis Fair 2017"
I have been selected to speak about Joomla and how open source has changed the web at the 7th annual Davincis Fair in Sarasota.  If the booth would be available for me to represent Joomla all day, I will then ask to be able to bring a display booth.

Info about the conference:

More than 600 people from across the gulf coast gathered at the Manatee Technical College to talk tech and show off their

[2017-03-15 14:21] cpaschen commented on #52
I don't see any date of the event in your email (or on their web site).

Could you please reply and let me know when it is and I'll see if the US
booth is available.

Chris Paschen
Joomla!

Chris Paschen, Marketing Team Leader

Joomla! Marketing Team

View Chris Paschen's LinkedIn profile View Chris Paschen's profile
<http://www.linkedin.com/pub/chris-paschen/11/a12/943>

Follow @cpaschen <https:/

[2017-03-15 15:28] jayblaq commented on #52
Here is the official event site.

http://bcsrq.com/conference/

Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

On Wed, Mar 15, 2017 at 10:22 AM, Chris Paschen <notifications@github.com>
wrote:

[2017-03-15 16:48] Sandra97 commented on #39
Closing this issue.
I should stop dreaming we can do things in time and in the right way.

[2017-03-15 16:55] franz-wohlkoenig commented on #39
@Sandra97 whats the Reason for not in time and right way?

[2017-03-15 17:27] Sandra97 commented on #39
Not in time because I'm asking for it since January 7th, so it should have been ready last Friday. And because I can't get a confirmation if we are allowed or not to use the icons of the infographic, because I don't know from where some numbers are coming and can't get cofirmation, because some sources are incorrect.  And better if I stop here my list ;)
I can't publish something if I have doubts

[2017-03-15 17:33] franz-wohlkoenig commented on #39
my knowledge how Community works is less. If you need help and i can, i do.

[2017-03-15 17:34] Sandra97 commented on #39
Yes I need help! I'll contact you on Glip to talk with you

[2017-03-16 05:25] siddharthkabra commented on #39
@Sandra97 sorry couldn't respond earlier. had to travel out of town on something. I thought the open files could suffice for any further changes at your end. The icons used are from a free source and have been modified enough. To be on the safer side, we can include an acknowledgement to the source (that's what they ask for). Let me know if we need to continue on this. Again, apologies could not r

[2017-03-16 10:23] Sandra97 commented on #39
@siddharthkabra, you don't have to apologise, you can't know everything at your first contribution. And you should have had over 2 months to create the infographic. It's a pitty that it took one month just to decide to do an infographic instead of a blogpost.

[2017-03-16 12:46] Sandra97 commented on #39
Let's re-open this issue.

It has been discussed and agreed to publish this in the next JCM edition, with some edits discussed in the marketing room.

@siddharthkabra Here is the list of edits for the infographic:
https://docs.google.com/document/d/10t3DTLVrzaG57aWw9W-OYmQ385-CeGfiMG-ey1Y8E1Y/edit#

Thank you!

[2017-03-16 12:54] brianteeman commented on #39
If thats what they ask for then they should be provided

[2017-03-16 13:34] Sandra97 commented on #39
For information, here is the Terms of Use for the vectors.
http://www.freepik.com/terms_of_use
Sorry, I really don't have time now to read them carefully

[2017-03-16 13:43] brianteeman commented on #39
The license of the Content in the FreePik Selection shall be free provided that any use of the Content in the FreePik Selection by the User **is credited to FreePik** as stated by FreePik from time to time. For any use of the Content in the FreePik Selection **without the credit to FreePik, the User must purchase a subscription** (hereinafter, the “Subscription”) in the Website and download the Co

[2017-03-17 15:23] mdemop commented on #52
@cpaschen Has this been approved? @jayblaq Can you confirm you can setup a 8X10 booth?

[2017-03-17 15:32] mdemop commented on #32
Please work with Robert Jacobi to finish this. We still owe social posts to cover our legal contract. However, Robert also needs those PDFs and/or videos for the badge scanners. In addition they offered free press support for exhibitors:

- https://www.imillerpr.com/landing-page/hostingcon-press-opportunities-for-sponsors-and-attendees

- https://www.imillerpr.com/landing-page/submit-a-press-relea

[2017-03-17 16:54] jayblaq commented on #52
On Fri, Mar 17, 2017 at 11:23 AM mdemop <notifications@github.com> wrote:

I have done it several times now and have just packed it in the new case.
The event has confirmed they will let us have a booth!
--
Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

[2017-03-17 17:18] mdemop commented on #52
@jayblaq has nothing to do with you. Has everything to do with cash control. We can't send the booth without marketing approval as it uses their budget.

[2017-03-17 17:23] jayblaq commented on #52
OK Thank you @mdemop.  I thought you tagged me about can I set it up. lol.

[2017-03-17 19:07] Sandra97 commented on #52
@cpaschen Your help is needed here.

[2017-03-19 11:51] tonypartridge commented on #34
I like 2. Looks like a good replacement to the current one.

[2017-03-19 11:53] Sandra97 commented on #34
I like the 1st one but it's a bit too dark, and not enough "punchy".
I'm not a big fan of the 2nd one, it's a bit too simple.
But it's maybe just me.

[2017-03-19 11:55] tonypartridge commented on #34
@Sandra97 do you have the original images? we could then lighten up the shadow on the first?

[2017-03-19 11:57] Sandra97 commented on #34
I don't have the orginal file, I have this one:
![header](https://cloud.githubusercontent.com/assets/4682328/24080611/8e201b2c-0c79-11e7-87c8-c0e3e2494c04.jpg)
But I'm sure I can get have the source file

[2017-03-19 12:01] tonypartridge commented on #34
Perfect :-)
![jomla-twitter-card](https://cloud.githubusercontent.com/assets/1400982/24080647/c62801fc-0c9b-11e7-8972-ba33a17225bd.png)

[2017-03-19 12:11] Sandra97 commented on #34
Better like that! I'll try to test it to be sure the display is ok on Twitter.

[2017-03-19 12:18] Sandra97 commented on #34
@tonypartridge Could you also add your psd file in the Drive?
https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8SDNMMW5sSm5rYXM

[2017-03-19 12:19] tonypartridge commented on #34
Sure, just requested access from admin at xws.im

[2017-03-19 12:21] Sandra97 commented on #34
Access granted

[2017-03-19 12:21] tonypartridge commented on #34
PSD Image uploaded :-)

[2017-03-19 12:21] Sandra97 commented on #34
Thanks Tony!

[2017-03-19 12:32] Sandra97 commented on #45
@tonypartridge, here is the Drive folder where to upload your original files:
https://drive.google.com/drive/u/0/folders/0B_QTydv-xNbqWDk2X3JTSDRSRXM

[2017-03-19 13:30] tonypartridge commented on #45
It's plain.. but informative? See:
![jed_checker](https://cloud.githubusercontent.com/assets/1400982/24081258/44e72b42-0ca8-11e7-996e-689e70688d33.png)

[2017-03-19 13:52] Sandra97 commented on #45
For the URL, better I think to replace jorg by extensions.joomla.org
For the background, could you try to add a pattern or something in order to give a bit of "relief" to the pic?

[2017-03-19 14:15] Sandra97 commented on #34
Display of the new Twitter Card tested. It's ok on my computer, tablet and phone
![index](https://cloud.githubusercontent.com/assets/4682328/24081575/4cc8f330-0c95-11e7-906d-f6e769bbae62.png)

Maybe we should also create a new visual for Facebook?
Here is the current one: https://cdn.joomla.org/images/joomla-org-og.jpg

[2017-03-19 14:20] tonypartridge commented on #45
![joomla-jed](https://cloud.githubusercontent.com/assets/1400982/24081611/2b0b8e6e-0caf-11e7-810f-62b918e9a986.png)

How's that?

[2017-03-19 14:21] tonypartridge commented on #34
The same image could be used for facebook header. And a different one for the profile photo?

Close this if you are happy with the result for twitter it looks good to me. Then open one re Facebook :-)

[2017-03-19 14:23] Sandra97 commented on #34
I won't close this one yet. I don't want to decide by myself. I need more people to confirm if they are ok or not with your picture.
I'm gonna open a task for the other one.

[2017-03-19 14:28] Sandra97 opened #53 "[Imagery] New Open Graph Image"
Hello!

Our OG image is currently this one:
![joomla-org-og](https://cloud.githubusercontent.com/assets/4682328/24081684/16367eb2-0c97-11e7-84dc-fcf4b35f4ce1.jpg)

What about creating a new one in order to have some consistency with our Twitter Card? See #34

Requirements for the OG image:
- 1200x630px for HR devices
- Minimum 600x315px
- Ratio: 1.91:1

@tonypartridge Could you help with this?

Th

[2017-03-19 14:29] Sandra97 commented on #53
Google Drive for the source file when approved: https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8SDNMMW5sSm5rYXM

[2017-03-19 14:44] MATsxm commented on #34
just ping :stuck_out_tongue_closed_eyes:
+1

[2017-03-19 14:46] Sandra97 commented on #45
@jeckodevelopment What do you think?

[2017-03-19 19:59] JazParkyn commented on #45
It looks great!

[2017-03-20 13:22] jeckodevelopment commented on #45
It's great :) even if i'd prefer a higher contrast for the text "Check your extension is JED ready!"

[2017-03-20 13:33] JoeJoomla commented on #45
For some reason the grammar is bothering me:

"Check your extension is JED ready"

It appears that the grammar is OK for the above but it nagged me and this is what I thought would be better grammar:

"Check that your extension is JED ready"

I'm native Canadian English - can some other native English speakers chime in with their opinion?

[2017-03-20 13:35] mikeveeckmans commented on #45
"Check **if** your extension..." ?

[2017-03-20 13:36] MATsxm commented on #45
@brianteeman ? - thanks

[2017-03-20 14:31] brianteeman commented on #45
"Check your extension is JED ready"
"Check that your extension is JED ready"
"Check if your extension is JED ready?"

All three are grammatically correct - it depends on the context and the intent/severity of the message

[2017-03-20 15:28] JoeJoomla commented on #45
Mike V’s “Check If” is actually better in my opinion.

"Check your extensions is JED ready" - implies your extension IS ready (arguably).

"Check That" and "Check If" - implies that you should check to see IF your extension is JED ready.

So if this is a place where people can go to check and see if their extension is JED ready then I would use the words “Check If”.

Best regards,

Joe Sonne

[2017-03-20 15:29] brianteeman commented on #45
note that check if requires a ?

[2017-03-20 15:32] JoeJoomla commented on #45
I don’t think so, 'check if' sounds more like a command than a question.

Joe

[2017-03-20 15:33] brianteeman commented on #45
fine dont bother to ask me then

[2017-03-20 15:44] JoeJoomla commented on #45
Please don’t take offence, if I am wrong then I’m wrong and therefore put in the question mark.

I’m going on my understanding of English grammar.

All I meant was that a command is like, ‘go to the store’ vs a question ‘did you go to the store?’

Best regards,

Joe Sonne

[2017-03-20 15:51] learncss commented on #45
"Check if" could either be a comment or question. In my opinion it should be "check if" with a period.

[2017-03-20 15:53] brianpeat commented on #45
this is clearly a command or a call to action. If I told you, "hey, check if that document is ready for me. Thanks!" it's not a question, it's a command. In this case it's a call to action or a prompt to go do something and NOT a question. It's perfectly fine with the ! on the end. Now, one could argue that the sentence isn't well written, but we don't have room for "Test your extension to see if

[2017-03-20 15:56] brianteeman commented on #45
unsubscribe

Marketing people please dont ask again - really not worth my time being
asked if its going to be ignored

On 20 March 2017 at 15:53, brianpeat <notifications@github.com> wrote:

--
Brian Teeman
Co-founder Joomla! and OpenSourceMatters Inc.
https://brian.teeman.net/ <http://brian.teeman.net/>

[2017-03-20 16:04] brianpeat commented on #45
Or, you know, you could have just been wrong. Sometimes I'm wrong. It doesn't mean I'm being ignored, it means I'm wrong.

[2017-03-20 17:29] tonypartridge commented on #45
Thank you @brianteeman I appreciate your feedback muchly :D

Everyone can we stop the politics on this? It's here nor there, it's to replacing a bloody listing. If you can do better do it, otherwise just replace it with what I chucked together.

[2017-03-20 17:39] brianpeat commented on #45
Not sure where you got politics out of this. As a native english speaker, the original doesn't make much sense to me. We were just making suggestions on how to fix that. It's about quality of our public image.

[2017-03-20 17:41] tonypartridge commented on #45
I am also a native English speaker, Rowan and Brianteeman are English schooled at the higher level than myself and know all of the English language and agree it is fine.

If you don't like it then change it and come up with something better.

It's an if statement which most people won't even use as if you are searching Jed checker you know what it is anyway.

[2017-03-20 19:08] tonypartridge commented on #45
@Sandra97 can you call a vote on this and just get it done either way? We need things to happen not debate over a simple thing that isn't actually going to make any difference

[2017-03-20 19:09] tonypartridge commented on #45
@yvesh yours thoughts my kinda friend

[2017-03-20 19:15] Sandra97 commented on #45
Agree, we don't need an endless debate.
@JazParkyn and Anibal are in charge of the JED, and she is English, so she can decide and can have the last word on it.
Tony, could you please upload your PSD file in the Drive so Jaz or Anibal can edit the text if they want to and update the picture on the JED site?
Thanks!

[2017-03-20 19:16] Sandra97 commented on #45
Link to the Drive: https://drive.google.com/drive/u/0/folders/0B_QTydv-xNbqWDk2X3JTSDRSRXM

[2017-03-20 21:53] JazParkyn commented on #45
Thanks for the files Tony, and to everyone who contributed. I will be updating the listing soon. I believe that the following is the best fit: "Check that your extension is JED ready"

[2017-03-21 07:33] siddharthkabra commented on #39
@parthlawate @Sandra97 ![joomla infographics_21-03-2017- 04 -01-01](https://cloud.githubusercontent.com/assets/25842720/24136548/549a0288-0e35-11e7-8a33-c20a447b8b0e.jpg)

[2017-03-21 09:38] Sandra97 commented on #39
@siddharthkabra Thank you!!! It's better like that

Last things:
- On the infographic, there's no elements coming for the dev page mentioned in the sources. But there are elements coming from other of our properties. So instead of mentioning a long list of Joomla! sites, maybe better to just mention joomla.org?
- I still don't know from where is coming the number of GitHub contributors. Can you (o

[2017-03-21 10:30] jeckodevelopment commented on #45
Closing the issue since it has been solved. Thanks everyone.

[2017-03-21 10:30] #45 closed

[2017-03-21 15:42] mdemop commented on #32
HostingCon Marketing Webinar: https://www.imillerpr.com/wp-content/uploads/2017/03/Leveraging-PR-Marketing-Initiatives-Before-Events-to-Maximize-ROI-at-Data-Center-World-and-HostingCon-20170320-1510-1-1.mp4

[2017-03-22 05:30] siddharthkabra commented on #39
@Sandra97 Can't find the 1700 contributors source.. @parthlawate do you remember? If not, lets just remove it?

[2017-03-22 08:29] parthlawate commented on #39
@mbabker @wilsonge What's the source of truth to find number of contributors ever to Joomla ?

[2017-03-22 11:39] Joomv commented on #52
I think the plan is to move this under Events.
As such - I am happy to liaise with this.
@mdemop What's the cost of shipping the booth back to Jay?  Shame we didn't just leave it with him after JdayFL.

[2017-03-22 11:41] Joomv commented on #6
We now have the following set up for the project:-
1. Elastic Email
2. ACY Mailing.

This is currently being used by Certification, CJO and UX.

There is a template available with graphics and a simpler template without.

We need to stop using mailchimp and other services and consolidate into ACY/Elastic.

The exception is the JED, they are using ACY and SendGrid due to to some techinical requirem

[2017-03-22 11:48] Sandra97 commented on #6
Thank you Rowan! I'll contact you as I would like to have an automatic newsletter for jorg and maybe some others too.

[2017-03-22 14:42] jayblaq commented on #52
The booth was left with me.  I shipped it to HostingCon Global in LA last
week for $151.  It should be the same price to ship back for the event in
Sarasota.

Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

On Wed, Mar 22, 2017 at 7:39 AM, Rowan Hoskyns Abrahall <
notifications@github.co

[2017-03-22 14:45] mdemop commented on #52
I am ordering the return trip. It is $181 with the required labour charge at the LA convention center to return to Flordia. Jay when you are done you need to send it back to OSM Storage unit.

[2017-03-22 14:46] jayblaq commented on #52
Thank you. I will take care of it ;)

Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

On Wed, Mar 22, 2017 at 10:45 AM, mdemop <notifications@github.com> wrote:

[2017-03-22 15:00] cpaschen commented on #52
Sorry, I've been trying to track down the financial aspect of this, and haven't been able to confirm that we budget it for this (I'm 'guessing' we do, but I don't like to 'guess' about money).
Yes, for future I really think this (the scheduling and transportation of the booth) would make most sense to be under events - with marketing working together with events when we need updates to booths, etc

[2017-03-22 15:05] Joomv commented on #51
@cpaschen  Can you open it up to comments for CJO email addresses please?  I get view only

[2017-03-22 16:56] cpaschen commented on #51
That article has already been submitted to the JMAG for publishing.
We will follow that up with individual position notices throughout April (after the mag is published).
We're working on a campaign for that process now.

[2017-03-22 18:59] cpaschen commented on #32
Mike,
I'm trying to get the press release out the door, but I want to make sure that we 'aim' this in a direction that will play well against the Hosting Con crowd. Can you tell me which topic you think would get the best traction for Hosting Con?
- New Joomla! leadership and board structure (esp. president)
- New 3.7 release
- 80 mil downloads
- (or some other major event in Joomla! life)

We can

[2017-03-22 19:04] mdemop commented on #32
@cpaschen IMHO I would think 80 million downloads OR do a general "Joomla is stronger then every" with a few points. It is important o note that we need to upload the press release into HostingCon system and have it hit via our wire system on same date DURING hosting con (not prior). Info on how to upload into hostingcon system is above. Once it is in that system with a embargo date, then we shoul

[2017-03-22 19:12] cpaschen commented on #32
A 'general' press release usually doesn't get much 'traction' with media agencies. They want/need one specific topic to talk about.
We don't presently have marketing staff to handle contacting media outlets and setting up interviews. We're probably quite a ways away from being that 'organized' (but some day we should be).
We are planning to release this through PR Newswire also. We can set the rel

[2017-03-22 19:16] mdemop commented on #32
As long as date and time is the same that is what is important and what they require. Robert should also be the Media contact I think for the release. HostingCon lists the media in attendence: https://www.imillerpr.com/landing-page/hostingcon-press-opportunities-for-sponsors-and-attendees

in looking at the list seems a dozen or so emails could get the trick done, but you can talk with Robert abou

[2017-03-22 20:17] cpaschen commented on #32
I'm planning for an April 3 release at this point (which is the first day of the event).
Mike - let me know if there is any reason to NOT release on the first day (like if that day gets filled with everyone else's release - so delaying a day has less 'competition' for eyes).

Also, the 'media' contact for the release will list Robert's direct (cjo) contact information so that media can contact him

[2017-03-22 20:21] mdemop commented on #32
I think first day is fine, Maybe right when the press room opens:

 Monday, April 3, 2017                 12 p.m. to 5 p.m.

This is the first year they are doing this so we don't know which is best. I would also list Robert cell on the HostingCon release.

[2017-03-22 20:33] cpaschen commented on #32
yes, we'll have Robert's phone listed as one of his contact means.

On 3/22/2017 3:21 PM, mdemop wrote:

[2017-03-23 10:42] Joomv commented on #52
As the booth is now arranged.  Closing this.

[2017-03-23 10:42] #52 closed

[2017-03-23 10:43] Joomv commented on #9
Closing due to inactivity it thread.  @uglyeoin  if Phil would like the booth have him get in touch with me.

[2017-03-23 10:43] #9 closed

[2017-03-23 10:44] Joomv commented on #34
+1

[2017-03-23 11:25] yvesh commented on #34
+1 - Thank you @tonypartridge - our new design boy (ping him for more images)

[2017-03-23 11:42] tonypartridge commented on #34
Btw, I'm crap at designs but ok at hacking stuck together.

[2017-03-23 11:59] yvesh commented on #34
You have time to practice :-) And see everyone is happy with your first work

[2017-03-24 13:23] franz-wohlkoenig opened #54 "[other] Twitter-News less redundance"
Example of redundance Information:
![1](https://cloud.githubusercontent.com/assets/8235763/24296057/c4431042-109d-11e7-9405-50fc79176c96.JPG)

- There are 4 Places having similar Information (2x "new Router", 1x "New Router", 1x "Modern Router")
-  There are 4 Places having similar Information (2x "3.7.0", 2x "3.7").

My suggestion is to reduce similar Information in this small Place.

[2017-03-24 15:16] cpaschen commented on #54
This was a technical post, not marketing.

[2017-03-24 15:16] #54 closed

[2017-03-24 15:25] franz-wohlkoenig commented on #54
where to post this Issue please? https://github.com/joomla/developer.joomla.org?

[2017-03-24 15:28] mbabker commented on #54
What is your issue?  Content, the cards generated via metadata (and now uneditable because of platform caching on Twitter and Facebook)?

[2017-03-24 15:29] Sandra97 commented on #54
I don't think it's the right place.
And it's not an issue.
And the post you're talking about is not the Twitter one which was "Information about the status of #Joomla 3.7 and the new router #development #cms #release #websites"
I agree that it's not the best strategy to just copy/paste the title of an article in the post.
But I don't see here any issue with having router and Joomla 3.7 in the pict

[2017-03-24 15:31] Sandra97 commented on #54
And the goal of this post was to make people read this article, and believe it worked really well.

[2017-03-24 15:56] franz-wohlkoenig commented on #54
My suggestion is to spend a little more information than 4x Times same (if technical possbile): i would change the third time of "Information about new Router an Joomla 3.7" to "We plan a 3.8 release with a new router included". So you got one Time new Information.

[2017-03-24 15:58] mbabker commented on #54
The second line is the meta description for the article, not us explicitly putting something in to duplicate info.  It's just how Facebook grabs that data.

[2017-03-24 16:05] franz-wohlkoenig commented on #54
thats what i mean by "if technical possible" cause i don't know how this kind of quattro-information comes together.

[2017-03-24 16:10] franz-wohlkoenig commented on #54
@Sandra97 you're right, it was on Facebook, not twitter; will change Title.

[2017-03-24 16:19] mbabker commented on #54
Just for reference.

The Facebook cards are based on OpenGraph.  The actual share card will pull an image specified by the metadata, the item's title, and the meta description (a couple other things too, not important for discussion).

The Twitter card uses a pretty similar concept.

So while we could tweak that text to have optional extra info, it really wouldn't be that great because that would

[2017-03-24 16:22] cpaschen commented on #54
Franz  (and all) as noted originally, this is not a 'marketing' issue.
And as Michael has pointed out, there is no marketing benefit to changing this.
Thanks for your interest in improving the efforts of our social sharing.
This issue should now be considered closed.

[2017-03-24 16:22] franz-wohlkoenig commented on #54
thanks @mbabker for Information.

[2017-03-24 19:41] Joomv commented on #50
Please lets not convert to Quark.  Most of our users operate adobe licenses, at least everyone I know who would be editing this moving forward.  Moving this into a Quark file type would render everyone useless.

[2017-03-24 19:43] Sandra97 commented on #50
I agree with Rowan on this point. Most of us are using InDesign, not Quark. Better use a format used by most.

[2017-03-24 20:06] franz-wohlkoenig commented on #50
An Argument like: Better use a CMS use by most.

[2017-03-25 10:53] jeckodevelopment opened #55 "[imagery] New structure"
Hello,
I don't remember if there's already a request for that, but i can recall that it has been discussed several times.
It'd be nice to have an image of the structure with names/teams

![](https://community.joomla.org/images/blogs/leadership-blog/joomla_leadership_structure-800.png)

[2017-03-25 11:16] Sandra97 commented on #55
Do you know where is the source file?

[2017-03-25 11:17] jayblaq commented on #14
Bump.   Yes!  A full Media Kit is needed!

[2017-03-25 11:23] jeckodevelopment commented on #55
ehm no  :P

[2017-03-25 22:00] cpaschen commented on #14
We'll add this to the (growing) to-do list; however, we have a few other urgent things right now that must come first.
If anyone is able to connect with Mike D and see if he could share some of his material (and post links here) that would help this move forward a bit faster.

[2017-03-28 12:34] uglyeoin opened #56 "[IDEA]"
Hi all,

I posted this post on the Facebook nospam group
https://www.facebook.com/groups/joomlanospam/permalink/10154221470800997/

Since then I had 3 volunteers sign up.  I think we as a community could take this idea a little further.  Firstly, by all sharing our own positive experiences of being a Joomler, and secondly by providing people with an easy template to share.  We want it to be person

[2017-03-28 17:27] parthlawate commented on #56
I'm part of BNI back here in Pune, India as well.. This can definitely work and help get the work out. I think i'd replied to this on one of the open chats in Glip .. Will post it again here. Having a sharing template of how you volunteered is a fantastic idea - that happening across all channels and inviting people to go via a central onboarding process.

As discussed by me with a lot of the lead

[2017-03-28 17:31] uglyeoin commented on #56
There is a "recruitment" group in Glip, maybe that should become the HR group.  I definitely think this is a great idea.  So many newcomers don't know where to start, and since putting out this Facebook post, I realised, I also don't know where to start.

[2017-04-01 18:31] ArcTechnologyGroupJacobi commented on #32
The Press Releases have been submitted to hostingcon and pr newswire. Please do not submit anything additional.

[2017-04-03 03:07] parthlawate commented on #53
checking if @siddharthkabra can pick this up ?

[2017-04-03 03:07] parthlawate commented on #50
@siddharthkabra can you pick this up and close it please ?

[2017-04-03 12:10] siddharthkabra commented on #53
Created a few variants..

![joomla visual design_ 03-04-2017_jpgs-04](https://cloud.githubusercontent.com/assets/25842720/24608545/99d36088-1894-11e7-9e77-906dbd19462f.jpg)
![joomla visual design_ 03-04-2017_jpgs-05](https://cloud.githubusercontent.com/assets/25842720/24608548/9b000ec0-1894-11e7-99fb-608648516779.jpg)
![joomla visual design_ 03-04-2017_jpgs-06](https://cloud.githubusercontent.com/

[2017-04-04 10:53] Sandra97 commented on #32
As HostingCon has already started and all is now as ok as possible, I'm closing this issue.
Re-open if needed

[2017-04-04 10:53] #32 closed

[2017-04-04 13:19] siddharthkabra commented on #53
![joomla banner pooja](https://cloud.githubusercontent.com/assets/25842720/24658469/67cabdc4-1967-11e7-9496-f87984d1afda.jpg)
![joomla_banner_gayatri](https://cloud.githubusercontent.com/assets/25842720/24658472/68e84d34-1967-11e7-8925-b7451ddd6215.jpg)

[2017-04-04 13:20] siddharthkabra commented on #53
@parthlawate @Sandra97 OG banner

[2017-04-04 13:27] Sandra97 commented on #53
Thanks Siddharth!
But as already mentioned, for consistency reason, I would prefer the Open Graph image to look like the Twitter Card.
See #34

[2017-04-04 14:29] siddharthkabra commented on #53
@Sandra97 ok. May be my team didn't get that right. Will check it out and update 👍

[2017-04-04 14:35] Sandra97 commented on #53
Thanks Siddharth!

[2017-04-04 16:14] Joomill opened #57 "[IDEA] Press / Media Portal"
Hi,

At this moment I miss a overview of the material that is available. A "portal" would be verry handy when you want to give to write a blog post about a new feature or give a presentation on events etc.
Now you need to look at the marketing on github, links to protected google docs ... forget it ... and then you just go on google image search, does not look great if you need to increase the siz

[2017-04-04 17:12] Sandra97 commented on #57
I like your idea.
Note that we ajready have several resources publicly available, even .ai and .psd files (logos, fonts....)
You can give a look there: https://docs.joomla.org/Category:Joomla!_Resources

[2017-04-04 17:44] Joomill commented on #57
Thanks for the link Sandra97,
I should never found it there, it looks like a link for the Joomla Resources Directory (JRD) :)

But it's a good start. Maybe when you can add resources for other Joomla sites (JED, certification, etc.) you can do the same on that pages.

[2017-04-04 18:24] yvesh opened #58 "New Slogan for Joomla! (Call for ideas)"
We don't really have an inspiring and outstanding slogan, something that connects directly to us and makes a good sub-line. (Except JBeer)

Some slogans used before (Thanks @Sandra97 for doing the research):

The Free Software Powering Millions of Websites
The web made stronger by Joomla!
Connecting billions
Inspired by Millions
Designed by you

Ping @tonypartridge

[2017-04-04 19:14] MATsxm commented on #58
I'm just passing through...

[2017-04-04 20:45] Hackwar commented on #58
Power through Simplicity.

[2017-04-04 21:15] ufuk-avcu commented on #58
Power in flexibility
Be unique, use Joomla
Be unique
Time to unique
The web ecosystem
Rock your next project
Build your web
Unleash your creativity, be Joomla
Defining the Web

[2017-04-05 12:03] aDaneInSpain commented on #58
"Empowering content creation"

Also there are a lot of ideas/discussion in the comment section of [my article in the Magazine](https://magazine.joomla.org/issues/item/3229-a-tag-line-that-sticks).

[2017-04-05 12:07] ruchikanagarkar commented on #58
Joomla!
 - one solution for easy & secure website
 - imagine and make with Joomla!
 - download, install and launch
 - take your website to next level
 - The Power of efforts
 - website building made easy

[2017-04-05 12:19] aDaneInSpain commented on #58
For me a tag line should be able to stand alone and give people a sense of what the product is.

So "Power in flexibility" or "The Power of efforts" or "Power through Simplicity" as has been suggested is way to vague. You could be talking about a car or any other product really.

The tag line should describe the product (and preferably some USP's).

[2017-04-05 12:50] JoeJoomla commented on #58
“Joomla! - Open Source website Content Management System software at it’s best”

Best regards,

Joe Sonne

[2017-04-05 21:11] tonypartridge commented on #58
@yvesh my apologies in the delayed response.

I like @JoeJoomla 's :-)

“Joomla! - Open Source website Content Management System software at it’s best”

Could be refined as:

“Joomla! - Open Source CMS software at it’s best”

[2017-04-05 22:36] MATsxm commented on #58
“Joomla! - A software to build and manage your website”

[2017-04-06 10:51] SniperSister commented on #58
"Way better than WordPress" ;)
"You platform for awesome websites"

[2017-04-06 10:55] degobbis commented on #58
Joomla! - The better way for building wesites

[2017-04-06 11:09] brianteeman commented on #58
whatever it is - the language should be simple and not complex. not everyone is a native english speaker so complex language such as Independence in flexibility is way too complex language

PS
Power in Simplicity was the Mambo catchphrase so it was suggested in irony (I assume)

[2017-04-06 11:20] MATsxm commented on #58
+1 with @brianteeman and please be Open and don't talk to a Community who already knows what Joomla! (or a CMS or Open Source) is.

[2017-04-06 11:23] ufuk-avcu commented on #58
Maybe we can collect first and then evaluate. Should be better for the creativity and uniqueness.

[2017-04-06 11:54] ot2sen commented on #58
Efficient, Reliable and Secure software for your website

[2017-04-06 12:31] m-b-o commented on #58
Joomla! - The platform for great websites

[2017-04-06 13:08] Didldu-Florian commented on #58
A few slogans based on your needs, becaue you just need it :) you know it!
- Joomla! - _The Open Source CMS which meets to your needs_
- Joomla! - _Your source, your CMS, your needs_
- Joomla! - _Because you need it_

[2017-04-06 13:35] JoeJoomla commented on #58
Another entry building on @tonypartridge 's refinement of my original entry:

Joomla! _The worlds best Open Source CMS_

[2017-04-06 13:36] tonypartridge commented on #58
That's the one for me!

On 6 Apr 2017, 14:35 +0100, JoeJoomla <notifications@github.com>, wrote:

[2017-04-07 09:32] aDaneInSpain commented on #58
That should be...

And that is a claim that we can not back up. Every person reading it will know it is just marketing fluff. So it becomes meaningless. Also it does not say anything about **why** it is the best, which would be nice.

[2017-04-07 09:45] mikeveeckmans commented on #58
Joomla! Your multilingual, multi-functional web building platform (or tool)

[2017-04-07 09:47] Sandra97 commented on #58
What is Joomla made for? Building websites.
A slogan without mentioning 'websites' does not make sense to me.
Using 'CMS' and 'Open Source' means everybody know these terms, I have big doubts about that.

[2017-04-07 09:48] mikeveeckmans commented on #58
Joomla! Your multilingual, multi-functional website platform (or tool)

[2017-04-07 09:48] Sandra97 commented on #58
Honestly, if we want a new slogan and a good one, I think 1st that only an native speaker can help with that and a professional. Not us.

[2017-04-07 09:51] mikeveeckmans commented on #55
It was made by Chiara, please contact her.

[2017-04-07 09:58] Sandra97 commented on #55
Thanks Mike!

[2017-04-07 10:23] asysta commented on #58
i think it is a good decision to collect ideas for the slogan from the community.
a professional doesnt do anything else in the first step

[2017-04-07 10:30] aDaneInSpain commented on #58
Some of us are not native speakers but tend to have better command of the language than some native speakers. Also... some of us **are** professional marketeers and copy writers. ;-)

I think we can come up with something good as a team. But yeah, some of the suggestions here are clearly not made by people with strong command of English and can easily be discarded (in their current form) but the m

[2017-04-07 12:21] gorgonz commented on #58
You may anytime correct my English mode of expression ;-), this is the idea:
Joomla - start simple - and rise with growing requirements

[2017-04-07 12:33] m-b-o commented on #58
I have another one:
Joomla! - made for professional websites

[2017-04-07 12:42] franz-wohlkoenig commented on #58
Get professional, use Joomla!

[2017-04-07 19:35] dgt41 commented on #58
Totally disagree here, NIKE: Just do it, APPLE it just works. Those could apply anywhere as well. The slogan should be simple, 3 words one verb.

My suggestion was `empowering the creators`

You don't have to relate the slogan to the product, or you 're getting a boring unattractive slogan

My 2c, anyways

[2017-04-07 20:17] Joomv commented on #58
I completely agree with Dimitris here.
I think we're mixing up our Slogan with a mission statement.
Slogan should be short and to the point.
The mission statement is where the longer stuff goes.

[2017-04-08 08:02] parthlawate commented on #58
There has been a JCM article on this subject already and now there is a github thread.. I think we need a better media to capture information as in both this cases it would be very hard (manual) to collate all the ideas and then discuss them.. Thoughts ?

[2017-04-08 09:48] franz-wohlkoenig commented on #58
@aDaneInSpain wrote some from Community "are professional marketeers and copy writers". Maybe they can input Proposals.

[2017-04-08 10:45] siddharthkabra commented on #53
![1200 x 630px](https://cloud.githubusercontent.com/assets/25842720/24828235/8f58955c-1c76-11e7-975f-d3758056b475.jpg)

[2017-04-08 10:46] siddharthkabra commented on #53
@Sandra97

[2017-04-08 11:37] Sandra97 commented on #53
Thanks @siddharthkabra
Looks fine to me.
I'll test it to be sure of the display.
Then, don't forget to add the psd file in the drive

[2017-04-09 18:26] Sandra97 commented on #50
Note that Alison is currently working on it so that it can be done asap.

[2017-04-09 20:13] Sandra97 commented on #50
We did many edits on the Brand Manual in order to correct typos, non sense, lack of consistency...
We're also removing mentions to the marketing group and email of marketing in order to replace them by mention the Trademark & Licensing Working Group + email of the TM group, as  the Brand Manual is under their team and should not be under marketing team.

[2017-04-09 20:25] Sandra97 commented on #39
@siddharthkabra Could you please put your edited ai file in the Google Drive folder so that I can close this issue?
Thank you.

[2017-04-09 21:20] JoeJoomla commented on #58
World’s best CMS

[2017-04-09 23:51] cpaschen commented on #50
Great thank you from the Marketing team for removing it from our 'to-do' list. I always wondered why it kept coming up in our discussions and not under Trademark.
However, we'll be glad to use it! :-)

[2017-04-10 15:03] parthlawate commented on #58
Joomla is what you make it !
Joomla. dream BIG, build right !

[2017-04-11 15:09] AlisonAMG commented on #50
[2017_Joomla_Brand_Manual.pdf](https://github.com/joomla/joomla-marketing/files/913656/2017_Joomla_Brand_Manual.pdf)
Hi All
Here is the PDF of the Joomla Brand Manual. With the help of Sandra several corrections were made and since this will be utilized as a PDF we have also incorporated linked from the Table of Contents to the sections and also from the FAQ back to the referring pages.
The master

[2017-04-11 15:10] Sandra97 commented on #50
Big thank you Alison!
@jeckodevelopment Could you please check it and tell us if all seems good?
Thanks!

[2017-04-11 15:13] AlisonAMG commented on #50
Thank you @Sandra97 two sets of eyes find things better. Glad to help. :)

[2017-04-11 15:14] jeckodevelopment commented on #50
will do Sandra, thanks everyone :)

[2017-04-12 07:37] siddharthkabra commented on #53
@Sandra97 heres the link to the file: https://drive.google.com/open?id=0BwjFP5aCU4hPNjQxdnY2T2lLSnc

[2017-04-12 09:00] Sandra97 commented on #53
Thank you!

[2017-04-13 18:56] Sandra97 commented on #53
Tests successful.
Closing this issue.

[2017-04-13 18:56] #53 closed

[2017-04-15 21:22] Sandra97 commented on #34
Twitter card is ready. Will be implemented soon.
Closing this issue.

[2017-04-15 21:22] #34 closed

[2017-04-17 13:10] jeckodevelopment commented on #50
Looks good.
Awesome job. Thanks

[2017-04-17 13:19] Sandra97 commented on #50
@jeckodevelopment
Here's the link to the Drive where you can find the PDF:
https://drive.google.com/file/d/0By_CBGYGBbU8SWg1bUlrUHhRb2M/view?usp=sharing (public)

And source files:
https://drive.google.com/drive/u/0/folders/0B_QTydv-xNbqWjFFSnhvT3d5QTg (restricted access)

Closing this issue as all is ok now.
Thank you!

[2017-04-17 13:19] #50 closed

[2017-04-17 13:24] jeckodevelopment commented on #50
Thank you ;)
Can you please create a short link for the Brand Manual?
So i'll put in the TM website.

[2017-04-17 13:28] Sandra97 commented on #50
Here it is: https://joom.la/JoomlaBrandManual
(Thank you Radek)

[2017-04-17 13:32] jeckodevelopment commented on #50
one word: awesome.

Thanks ;)

[2017-04-17 17:58] Sandra97 commented on #49
@cpaschen

Elements needed in this blogpost:

- Main Features
- Downloads
     - Buttons to Downloads site for full package as well as upgrade packages
     - Link to Technical Requirements https://downloads.joomla.org/technical-requirements
     - Link to New installation instructions https://docs.joomla.org/J3.x:Installing_Joomla
     - Link to Update instructions https://docs.joomla.org/J3.x:Up

[2017-04-20 19:08] Sandra97 opened #59 "[RFC] Make some resources publicly available."
Digging into the numerous Google folders, I found this doc:
https://drive.google.com/open?id=0B0yY6xU4qDVUSjBIbzFJbl9jODA
[joomla_dev_flyer.pdf](https://github.com/joomla/joomla-marketing/files/945208/joomla_dev_flyer.pdf)

Except the fact that, once again, the source file is missing, I think it would be a good idea to make that kind of document publicly available to anyone, as well as centralizin

[2017-04-20 19:11] Sandra97 commented on #59
Same idea for this document:
https://drive.google.com/drive/folders/0B_YDoF6orMdAemRwRVNoX0hzMGc?usp=sharing
[DiscoveringJoomla.pdf](https://github.com/joomla/joomla-marketing/files/945221/DiscoveringJoomla.pdf)

For this one, seems we have the source files, which is a good thing as it would need some updates.

[2017-04-20 19:13] Sandra97 commented on #59
Another one...
The idea of a document/presentation on Joomla main core features is IMO a good idea, but it needs to be redone.

https://drive.google.com/open?id=0B5urv6tZN8XEOVA3QUMtNTdFRjg
[The new Joomla Core Features.pptx](https://github.com/joomla/joomla-marketing/files/945223/The.new.Joomla.Core.Features.pptx)

[2017-04-20 19:23] Sandra97 commented on #55
I found the source file: https://drive.google.com/drive/u/0/folders/0B-WMsfRg_wivfm9sZXJQZ3JsVy1oVXpQQkx2ZXdXdGZ4aUl2c2gyc29VNXBXSjBZZjJWbFE

@AlisonAMG Could we look at that together to edit it?

[2017-04-20 19:30] AlisonAMG commented on #59
Those would be great for JUGS to use.

[2017-04-20 19:36] Sandra97 commented on #59
Yes!

[2017-04-20 19:48] AlisonAMG commented on #59
Just thinking about those files and there was some great assets used in them but it's been my experience that trying to extract graphics from anything MSoft destroys them. Do we have any idea where these basic design assets are? Do we own them? Were they another design resource that vapourized?

[2017-04-20 19:54] Sandra97 commented on #59
Except the Core Features ones, it seems they have been done by Chiara and for some we have the vector files. But I don't know more than that.

[2017-04-20 19:59] AlisonAMG commented on #59
Where are the ones we have living?

[2017-04-20 20:01] AlisonAMG commented on #59
Also we will want to be sure that whatever design arrangement J had with her is honoured, ie that assets designed by her for us are for use by J only and not released to the public domain/all J users.

[2017-04-20 20:09] Sandra97 commented on #59
Agree with you. Let's wait for @parthlawate and @cpaschen comments to see if they can help with that and what they think

[2017-04-20 20:41] AlisonAMG commented on #55
Sure thing Sandra

[2017-04-20 22:18] Sandra97 commented on #59
Chiara was more than just a contributor, she did many designs and really good ones.
We already have many marketing materials on Jdocs https://docs.joomla.org/Category:Marketing_materials so yes, we can put more resources on JDocs.

[2017-04-20 22:32] klas commented on #58
Search for slogan is fruitless and arbitrary without a strategic foundation to judge the ideas. For start I would suggest working on continuation of the Parth's blogpost : we first need to define main target group(s), positioning, communication goals and objectives. Or in other words - we first need to define communications strategy before any work on tactics like this makes sense.

[2017-04-21 02:17] cpaschen commented on #58
Just to clarify (because this has now come up here and a couple other places), this is not an 'official' Marketing Team project (at this point). That means it is not part of our 'strategic plan' for marketing. Mainly, as Klas pointed out, we need to get some 'foundational' stuff worked out first (which is in the strategic plan and already in process). However, this isn't a bad excercise for those

[2017-04-22 10:43] Sandra97 commented on #44
Closing this issue as we have a blogpost under review by 3.7 marketing team + production.

[2017-04-22 10:43] #44 closed

[2017-04-22 10:45] Sandra97 commented on #31
I presume I can close this issue.

[2017-04-22 10:45] #31 closed

[2017-04-22 18:26] parthlawate commented on #59
Yup Chiara was the design lead for the project. Its a good idea to collate all marketing collateral together along with Source files. I think final links should be from jDocs. Where should we host all the src files ? Those we might want to keep in gdrive and link from jDocs

[2017-04-23 19:40] jayblaq commented on #31
Of course!  Thank you to the team!

On Sat, Apr 22, 2017 at 6:45 AM Sandra Decoux <notifications@github.com>
wrote:

--
Jason Nickerson

Monev Software LLC / JoomlaXTC.com
Open Source Florida / JoomlaDay Florida
TampaBay Joomla User Group
JED QC Tester
Joomla Site Showcase Team

[2017-05-09 04:43] jayblaq commented on #58
Joomla! A CMS built with love by Volunteers!

[2017-05-12 14:13] yvesh commented on #56
So we now have an official joomla recruitment team, if anyone is interested to join just ping in the public glip group or get in contact with us over the volunteers portal!

https://twitter.com/joomla/status/863011288657559553

[2017-05-22 07:32] ufuk-avcu opened #60 "[communication] Better presence at hosting companies"
How we can get more and better presence at hosting companies?

[2017-05-22 07:33] ufuk-avcu commented on #60
Ask David Jardin

[2017-05-30 12:21] ufuk-avcu commented on #56
Yes. I think the recruitment team is the right place. If you need any assistance to get in this group you can ask me or @yvesh .

[2017-05-30 12:21] #56 closed

[2017-05-30 12:25] ufuk-avcu commented on #14
Is this enough or need we more? If yes what is needed?
 https://docs.joomla.org/Joomla:Brand_Identity_Elements/Official_Logo

[2017-05-30 12:28] ufuk-avcu commented on #14
@mdemop can you share with us the materials you have?

[2017-05-30 12:42] ufuk-avcu opened #61 "[interviews] Interview the leadership"
The plan is to interview the Leadership and publish it on the https://magazine.joomla.org/ . If is going well, we can open this process to more people or maybe to the entire community.

We need 1 or 2 volunteers, who is responsible for this. The work to be done is following:

- [x] Gather generic questions
- [x] Setup a google form or whatever
- [ ] Contact leadership
- [ ] Create a new category c

[2017-05-30 12:49] ufuk-avcu commented on #41
After three months we can close this issue for inactivity or is @pranavlawate is actually working on this? If someone is willing to pickup this again, we can reopen this issue.

[2017-05-30 12:49] #41 closed

[2017-05-30 12:55] ufuk-avcu commented on #15
I close this also, because of no respone since one year. If someone is willing to start with this project can contact me.

[2017-05-30 12:55] #15 closed

[2017-05-30 13:15] ufuk-avcu commented on #39
@siddharthkabra is there any chance to get the source file? Please can we concentrate on the blogpost. It should be doable.

[2017-05-31 09:26] siddharthkabra commented on #39
@ufuk-avcu @Sandra97 here's the link to the editable file: https://drive.google.com/open?id=0BwhC9FZgIkmZNkQ3emZ3SFNTQ2c

[2017-05-31 10:11] parthlawate opened #62 "Joomla Interesting Facts Infographic - Forked from 80 Mil blogpost"
This idea started out with the Blog post for 80 Mil downloads here : https://github.com/joomla/joomla-marketing/issues/39

A nice infographic evolved from it

![joomla infographics_21-03-2017- 04 -01-01](https://cloud.githubusercontent.com/assets/25842720/24136548/549a0288-0e35-11e7-8a33-c20a447b8b0e.jpg)

Source File : https://drive.google.com/open?id=0BwhC9FZgIkmZNkQ3emZ3SFNTQ2c

**Objective**
T

[2017-05-31 10:13] ufuk-avcu commented on #39
@parthlawate  and i decide today, that the 80 million post comes to late. We open an another issue for the infogrpahic here: https://github.com/joomla/joomla-marketing/issues/62

[2017-05-31 10:13] #39 closed

[2017-05-31 13:50] ufuk-avcu opened #63 "[design] Create imagery for the thank you campaign"
**For whom:**
Official Partners, Official Sponsors
https://www.joomla.org/sponsor.html
https://www.joomla.org/current-sponsors.html
https://www.joomla.org/about-joomla/partners.html

**Why?**
Say thank you to our sponsors and partners the are helping with our project.

**Is for:**
- Social Media

**Tasks:**
- Use official social imagery Template - (link per request)
- Create imagery using at least

[2017-05-31 13:50] parthlawate opened #64 "[Copywriting] The Joomla Use Cases"
The intent of this campaign is to highlight the various use cases for which Joomla can be used.

_Please note that the present issue has been inspirational (thanks Parth) and edited into the Project [Use Cases (Work Package)](https://github.com/joomla/joomla-marketing/projects/9), and below with the links to all the Use Cases as well_

Content can be in the following formats
* JCM Articles/Blogs
*

[2017-05-31 14:10] cpaschen commented on #64
This is one that I can help with also.
Do you have a timeframe on this (ie. schedule for release etc.)?
If we are keeping this 'generic' (and core) then some of these will be rather 'basic', but I could probably help with: eLearning, Business directories (of the ones that aren't already 'taken' on the google doc list). I could also be a backup for non-profits, event/ticketing and small business (i

[2017-05-31 14:14] ufuk-avcu opened #65 "[calender] Collect all important Dates relevant to the project"
We would like to create a calendar for the project.  This would include all upcoming internal events like

Joomla Events, Joomla Releases

**Tasks**
- Collect Dates relevant to the project
- and enter them here: https://docs.google.com/spreadsheets/d/16xNRWDYBZxC3bL5LfYLlihEBQr3pH02wM1mon81OtjI/edit#gid=0

[2017-05-31 14:22] ufuk-avcu opened #66 "[design] Design Items for the shop"
We would love new ideas for products for the shop.
**We need:**
- Ideas for types of items (mugs, tshirts, etc)
- Designs for items.

[2017-05-31 14:24] ufuk-avcu opened #67 "All ideas welcome"
We want to hear your ideas!
We will spend 30 minutes going round the group collecting ideas.
We will then sort them into short - medium - long term projects
The short ones that are achievable at make it happen will then be assigned to small groups

[2017-05-31 14:29] parthlawate opened #68 "[video] Joomla Official Video Script"
Work on and finalise the Script for the Joomla Video. Last version can be found here : https://docs.google.com/document/d/1Xug_fpbtP2JcAytWYVYoAQ_0d2nPLEObL1wrXzMI5lk/edit#

**Requirements :**
Video Length : 1 Min
Good to haves : Accessible (with voice over & subtitles)

[2017-05-31 14:33] ufuk-avcu opened #69 "[content update] Update the social media posts to bring it up2date"
We have a great list of tweets, but they are outdated. If we can update them and add new ones, we can use it for the social media team.

**Tasks:**
- go through the existent ones and update them
- look for outstanding tweets and make them bold
- and add new ones

https://docs.google.com/spreadsheets/d/1KZ2k1IsoTuwMxrRdH9I1zRgiuM9gNZ1YGzgNZXL0yow/edit?usp=sharing

[2017-05-31 14:39] parthlawate opened #70 "[video] Research & compile a list of good videos about Joomla from Youtube"
Joomla would like to create some Good quality playlists on its official Youtube channels. These can be on various topics like

- Tutorials
- Feature Introductions
- Compilations from Joomla Days & other Joomla events

Basically try and get together good quality joomla content from youtube together in logically organised playlists. Interested ? Start working here : https://docs.google.com/spreadshe

[2017-05-31 14:50] parthlawate commented on #64
@cpaschen Thanks ! There is no definite timeframe.. We are using this to push articles to JCM .. So pick one and comment here which one you are picking up.. Does not need to be restricted to core.. Also it should be ok to get duplicates (as long as the content is different). There can easily be multiple perspectives.. Feel free to pick one or multiple !

[2017-05-31 15:13] parthlawate opened #71 "[copywriting] Joomla Features Campaign"
The Objective of this campaign is to do a series of Articles about key Joomla features as well as nice things in Joomla that people might not be aware of.

The MIH session will be about getting a list of such features & ideas.. And hopefully get a few written.

Here is the document where you can find the details https://docs.google.com/document/d/10iniPUcaiJ1tnmXFVcVHAktGaCtaIxQ1597psuq2ezU/edit#

[2017-05-31 15:24] parthlawate opened #72 "Take a Group Photo at Make it happen"

[2017-05-31 15:24] parthlawate opened #73 "Send Post JAB 17 Newsletter for Make it Happen Attendees"
We need to send a thank you newsletter to all attendees who attended the Make it Happen

https://docs.google.com/document/d/1cpujtZ-JhlSITWCBBABBl5QiEJiNd69tYTLjhsprQjw/edit#

[2017-05-31 15:25] parthlawate opened #74 "Write Blog about Achievements at the JAB 17 Make it happen for marketing"

[2017-05-31 16:26] cpaschen commented on #68
If you want US-English voice over for the video let me know (I have studio and do voice-overs and radio work).

[2017-05-31 16:26] cpaschen commented on #68
I can also help write script if needed.

[2017-05-31 16:34] parthlawate opened #75 "[copywriting] Write a pre JAB Invite Post to invite people to Join the MIH"

[2017-06-01 06:51] shirdesign commented on #66
Where can we see the designed already made - as the shop is closed now.
Do we have a folder with all ready designs?

[2017-06-01 06:56] shirdesign commented on #63
it this a design for the social media? @Sandra97

[2017-06-01 07:40] shirdesign commented on #70
How do we determine that a video is good quality and can go in the playlist? do we have a set of rules? (understanding the English? only English? non commercial videos? only 3.7 or 3.3 and up or any other rule that will help us filter all the wonderful videos out there)

[2017-06-01 08:13] parthlawate commented on #70
@shirdesign We dont have a set of rules as such yet. But would be good if you can help phrase them. Reg version .. Ideally only videos that have more 'life' are preferred. For instance if a feature was introduced in Joomla 3.3 but the video is about the feature in general, it will ideally be still relevant with 3.7. So that should be a good video..

I dont think language matters.. We can have all

[2017-06-01 08:16] parthlawate commented on #75
Ready for Publishing. Have contacted Radek & Robert for permission to do that

[2017-06-01 08:17] parthlawate commented on #73
Newsletter template is ready with some content. To be updated post JAB with a link to JAB achievements post

[2017-06-01 08:21] ufuk-avcu commented on #63
I updated the task. Its mainly for social media i think.

[2017-06-01 09:17] ufuk-avcu opened #76 "[Ready for proposal] Find a print provider"
We need a fully managed external shop provider for the new shop.joomla.org. They should be capable to manage the logistics and invoicing and all the stuff.

[2017-06-01 09:22] Joomv commented on #76
I’ve already spent a considerable amount of time on this, can I consider this as the Request for Proposals that I have been waiting for for over 8 months?

Rowan

From: Ufuk Avcu [mailto:notifications@github.com]
Sent: 01 June 2017 11:18
To: joomla/joomla-marketing <joomla-marketing@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [joomla/joomla-marketing] [Ready for pro

[2017-06-01 10:00] ufuk-avcu opened #77 "[jug] Involve and aggregate JUGs"
We should set a agenda for every six months and send the JUGs newsletter to engage them to test bugs, write blog posts or take pictures and share this stuff on the social media with defined hashtags like:

- jugbug
- jugpicture
- jugcopywriter
- ...

[2017-06-01 10:24] Joomv commented on #77
We already have a monthly JUG newsletter that goes out to JUG’s

We welcome any team to submit content/calls for volunteers etc for inclusion in the newsletter.

We have plans to engage JUG’s more and to improve interaction between them.

JUG’s also provide items for the monthly “JUG Round up” Article in the magazine.

Rowan

From: Ufuk Avcu [mailto:notifications@github.com]
Sent: 01 June 2017 12:

[2017-06-01 10:35] parthlawate commented on #51
Closing this since @ufuk-avcu has opened a new issue specifically for call for designers

[2017-06-01 10:35] #51 closed

[2017-06-01 12:31] zero-24 commented on #70
What about the JAB Playlists / Videos?

[2017-06-01 12:48] parthlawate commented on #70
@zero-24 Yes they will work as well

[2017-06-02 10:47] shirdesign commented on #71
Added some ideas in the comment part of the DOC.
Can help writing the docs for the features I've suggested during the next few weeks.

[2017-06-02 10:49] aDaneInSpain commented on #64
I will take a look at this

[2017-06-02 10:51] shirdesign commented on #64
I think I  can write a piece about Joomla in Education

[2017-06-02 11:19] shirdesign commented on #70
ok. started working on the rules:
https://docs.google.com/document/d/1-vtQp-oVVmEtWRWyAG0hcJVnKBj6kH1b4oGUiQK0ZGA/edit
not sure about linking to companies videos - on one hand they might be good quality tutorials on the other hand - how can you choose from all the different companies?
I think we should use only Joomla events tutorials - and start making our own community ones?
Maybe using hosting

[2017-06-02 11:37] shirdesign commented on #70
also I've added a few playlist links to the doc that I've created - with playlist I think should be checked (a lot of them are not in English and I can't check myself)

[2017-06-02 11:59] aDaneInSpain commented on #64
OK, you we just need to coordinate length as each piece needs the same length.

[2017-06-02 12:09] aDaneInSpain commented on #64
Before I write anymore. What do you think of this:

**Corporate Websites**
Probably the most common type of web site created in Joomla is the corporate website. Joomla is great for business websites because you can completely customize every aspect of the visual appearance but at the same time configure the access to content creation for different types of employees. Important business features li

[2017-06-02 12:38] parthlawate commented on #70
Since its a playlist i think its ok to have videos from anywhere unless its some company violating GPL or something

[2017-06-02 14:03] shirdesign commented on #70
how would we know that - we will have to then only link to videos from sources we know them personaly....

[2017-06-02 14:54] aDaneInSpain commented on #64
@ufuk-avcu ?

[2017-06-03 08:09] ufuk-avcu commented on #64
@aDaneInSpain thank you. It`s good for me!

[2017-06-03 08:39] aDaneInSpain commented on #64
**Corporate Websites**
Probably the most common type of website created in Joomla is the corporate website. Joomla is great for business websites because you can completely customize every aspect of the visual appearance but at the same time configure the access to content creation for different types of employees. Important business features like a contact form is built straight into the core wit

[2017-06-03 08:46] ufuk-avcu commented on #64
@aDaneInSpain thank you Soren!

[2017-06-03 08:57] #49 closed

[2017-06-03 09:58] ufuk-avcu opened #78 "[video interviews] Try to Interview some auf the Leaders"
- [x] George Wilson - Joomla 4 Release Leader https://www.youtube.com/watch?v=JxVagjKq16g&t=2s

[2017-06-03 10:37] parthlawate opened #79 "[Newsletter] Move & consolidate lists from the old Marketing Mailchimp Account to the new Centralised Newsletter system"
@Joomv will need your help with this

[2017-06-03 10:51] aDaneInSpain commented on #71
Please try to not only describe the features, but what are the **benefits** of the features. Also please remember that we are targeting **integrators** or **site creators** so the benefits should be aimed at them. So a benefit might be that it speeds up the __development__ of a site, or that it is easy to customize the behaviour etc.

An example could be ACL. It is a benefit to the developer becau

[2017-06-03 13:44] ufuk-avcu opened #80 "Define benefits of Joomla for Professional Web Agencies"
https://docs.google.com/spreadsheets/d/1RJOWl0VQvyoMAa1xjcRkUqHpIXVjIl6pfp3zgWhbt50/edit#gid=0

Old Raw Data
https://docs.google.com/spreadsheets/d/1I3qQuRXDhmXXs6YslALrs0upC1Ab2Jzd0P3vMwOhiWQ/edit#gid=286699914

[2017-06-03 14:25] parthlawate opened #81 "[STRATEGY] Strategy to define Joomla Campaign to promote Joomla to Web Agencies [4 hours]"
https://docs.google.com/document/d/1KtgXq_2q9wf9a7UnYl1FnLlB_JP7Ss5aexcofoGcilQ/edit

[2017-06-03 14:32] parthlawate opened #82 "Joomla Campaign to reach out to Educational institutes"
Compile ready to use resources that users can use to present & speak to Educational institutes

[2017-06-03 14:36] parthlawate opened #83 "Bad Joomla Blogs - Refute them"
Compile and Refute bad blogs about Joomla

https://docs.google.com/spreadsheets/d/15ZHbAaxLJRgPQsMAZD18u4o4Cr76NKu52-TGyPsp2nM/edit#gid=0

[2017-06-03 14:47] parthlawate opened #84 "Write to Companies that use Joomla & Get testimonials from them"
Content for the email
https://docs.google.com/document/d/1BiNaDxFAD7ncXc8xAr3S3Gmo__0UHzb2wox2tZgJ_Zg/edit

Google form to Submit Testimonial
https://docs.google.com/a/community.joomla.org/forms/d/e/1FAIpQLScKTIYE3bq6YpIvlJg3kM49rfyioeafZCUMQd2iQ5e5R_nVfQ/viewform

[2017-06-03 16:32] ufuk-avcu opened #85 "Setup a proper readme.md"
https://github.com/joomla/joomla-marketing

[2017-06-03 16:54] parthlawate opened #86 "Create a Onboarding process for new Web Agencies to start using Joomla"
Sample https://www.useloom.com/get-started

[2017-06-04 17:47] parthlawate opened #87 "Create an Onboarding checklist for Agencies"
Here is an example from Loom
![screen shot 2017-06-04 at 7 42 13 pm](https://cloud.githubusercontent.com/assets/673176/26763970/0e289e2c-495e-11e7-9215-2326d7f098a5.png)

Here are some items that we could put on there

1. View the Introductory  targeted specifically at agencies
2. Make a Profile on the Joomla Resources Directory
3. Sign up for the Joomla Forums
4. Sign up for the Joomla Stack Exch

[2017-06-05 09:29] ufuk-avcu commented on #87
9. Create a Profile on the Joomla Volunteers Portal

[2017-06-05 09:31] Radek-Suski commented on #87
sponsor JoomlaDay™

[2017-06-05 09:32] #86 closed

[2017-06-05 09:37] parthlawate opened #88 "[STRATEGY] Define The Joomla campaign for Hosts"
https://docs.google.com/document/d/155-4aHyfFEFX2ZV2XUYUwZZZEjGO4geXa1YShRW2COM/edit

[2017-06-05 10:57] parthlawate opened #89 "Create a Content Article based on George's interview at JAB (basically a transcript) and Publish it in the July Magazine Issue"
Source video can be found here https://www.youtube.com/watch?v=JxVagjKq16g&t=4s

[2017-06-05 10:58] parthlawate commented on #75
This was completed an Published only on google docs as we did not get access to the JAB site to publish. We could not publish on CJO since we had more important things that needed to be kept highlighted there

[2017-06-05 10:58] #75 closed

[2017-06-05 12:45] #85 closed

[2017-06-05 13:05] ufuk-avcu commented on #72
![20170603_172626](https://cloud.githubusercontent.com/assets/13818234/26784901/34d5a978-4a00-11e7-921d-a838d401cde1.jpg)
![20170603_172619](https://cloud.githubusercontent.com/assets/13818234/26784902/34d6e93c-4a00-11e7-8287-42ead1a5aa18.jpg)
![Uploading 20170603_172607.jpg…]()

[2017-06-05 13:06] #72 closed

[2017-06-05 13:07] ufuk-avcu commented on #74
Images: https://github.com/joomla/joomla-marketing/issues/72

[2017-06-05 13:22] ufuk-avcu opened #90 "[promoting] Promote joomla.stackoverflow.com"
- [ ] Write a Blogpost
- [ ] Start a social media campaign

[2017-06-05 13:26] parthlawate opened #91 "Start an Agency Newsletter & Put a Subscribe form"

[2017-06-05 13:27] parthlawate opened #92 "Create Collateral for Agencies to use to Promote to Joomla"

[2017-06-05 14:44] parthlawate opened #93 "[Copywriting] Write a Good Wikipedia Article for Joomla in English"

[2017-06-05 14:46] ufuk-avcu opened #94 "Update the Wiki Joomla Page in every language"
We need people from all over to world to update the Wikipages in the different languages. https://de.wikipedia.org/wiki/Joomla

Promote this task on joomla.org to get more people into this.

[2017-06-05 14:55] ufuk-avcu opened #95 "Delete Sub Teams"
https://volunteers.joomla.org/teams/marketing

- [x] Marketing Data Analysis & Metrics Group
- [x] Marketing Public Relations Management Team
- [x] The Joomla! Shop Management Team

[2017-06-05 15:14] ufuk-avcu commented on #93
https://github.com/joomla/joomla-marketing/issues/94

[2017-06-07 14:46] Sandra97 commented on #63
Yes it is for Social Media.
Note that I won't have a single second this week to work on the pictures and copywriting for this campaign (or on anything by the way).
Hope that someone from the social media team or marketing team can start wooking on it.

[2017-06-08 09:20] shirdesign commented on #63
@ufuk-avcu  @Sandra97 Where can I find the Use official social imagery Template?
I will do it during next week.
Also who should I talk to for text and review? as Sandra is not go to be available?

[2017-06-08 09:41] Sandra97 commented on #63
@shirdesign I just granted you persmissions to the template folder: https://drive.google.com/drive/u/0/folders/0By_CBGYGBbU8eC05TE5hTnRkWEU

I don't have time to create the pictures and do the copywriting but don't hesitate to contact me on Glip.

[2017-06-08 10:41] shirdesign commented on #63
@Sandra97 great - I will do the pictures during next week and will be in touch on Glip.

[2017-06-08 15:09] parthlawate opened #96 "[Design] JED Needs a new Newsletter Design"
The Joomla extensions directory teams needs help with a new Newsletter template. Tasks involve creating some nice header image templates that they can change as per intent of the newsletter. And the HTML layout for the same. You can look at the older version of the designs here
https://extensions.joomla.org/component/acymailing/mailid-69/?key=n86cALIk&subid=416912-sTwplZs6rXWSwO&tmpl=component

[2017-06-08 19:54] Sandra97 commented on #95
@ufuk-avcu Sander fixed the issue. You should now be able to remove these teams.
I can't do it myself, I don't have permissions.

[2017-06-08 19:58] ufuk-avcu commented on #95
Thank you. Subteams deleted.

[2017-06-08 19:58] #95 closed

[2017-06-08 21:33] Sandra97 commented on #68
Duke offered me his help for the video. I said a big YES immediately of course!

[2017-06-09 05:17] parthlawate commented on #68
Thats great @Sandra97 @cpaschen can you collaborate with Duke on this ? Would be great if both of you can get a team together to make this happen. Chris you are already on the Video group. @Sandra97 do you know Duke's Glip Id ?

[2017-06-09 08:14] shirdesign commented on #96
Can I have a bit more details about this task?
1. Do I need to also write the HTML?
2. Some sample text I can work with?
3. Some sample of subjects they might use? ( creating some nice header image templates that they can change as per intent of the newsletter. - what could be the intent?)

[2017-06-09 09:05] anibalsanchez commented on #96
Hi Shirat,

1. Yes, please, Html. We send newsletters with Acy. If you could implement a mailing framework like [Foundation for Emails 2](http://foundation.zurb.com/emails.html), then it will be awesome.

2. We plan to send around 3 articles to JED users and developers. The content will be the same that it is shared in Joomla channels by the marketing team. The newsletter will be sent with a month

[2017-06-09 09:13] parthlawate commented on #96
1. HTML - Yes
2. You can check the link in the main issue description above for the last newsletter that was sent . Generally newsletters will have content focussed on 2 type of audiences
a. Extension Developers
b. Extension Users
3. Intent - A lot of times is generic from what i have seen in the past newsletters - like updates from the Joomla extension directory. OR in the earlier case it was abo

[2017-06-09 09:30] anibalsanchez commented on #96
A curve ball: we'd like to have the option to include these ads in the newsletter:

- Banner - 468 x 60
- Button - 160 x 160
- Leaderboard - 728x90
- Skyscraper - 150x800

We are open to any suggestion to implement them in a responsive format (if it's not possible to implement all of them, then we need at least one of them).

[2017-06-09 09:30] parthlawate commented on #96
Adding based on separate discussion with Anibal - it would be nice to have some Ad positions in the newsletter. One thing to consider here is that the newsletter needs to be responsive.

Foundation is a good idea.. this can also be good inspiration
https://inspiration.mailchimp.com/

[2017-06-09 09:47] Sandra97 commented on #96
What about getting inspiration from the design of the Certification and the JUG newsletters in order to keep some consistency in our communication?

[2017-06-09 09:47] Sandra97 commented on #68
@cpaschen Duke is on Glip but he usually doesn't use Glip.

[2017-06-09 11:52] agerix commented on #94
Good idea ! ;)

[2017-06-09 12:14] MATsxm commented on #94
@agerix ?

[2017-06-09 13:27] cpaschen commented on #68
I don't have the bandwidth to be building a team right now - but I do have time to do 'assigned tasks' related to this sort of thing (i.e. write copy, record copy, etc.)
Is Duke on Github? If so, can you 'assign' this to him (and me) and we could connect and collaborate here (I'm not active much in Glip right now either).

[2017-06-09 13:28] cpaschen commented on #68
Also, can we have some 'direction' for this video? What is the main 'goal' or focus? Do we have a 'target audience'? Do we have a deadline (JWC etc.)?

[2017-06-09 15:13] Sandra97 commented on #68
I don't know if Duke is on GitHub or not. But I gave him the link of this issue.
The goal of this video is to give an overview of Joomla. It's a global promotion video.
Deadline was years ago ;)

[2017-06-09 15:15] shirdesign commented on #96
@Sandra97  where can I see those newsletter? so I can take inspiration from them?

[2017-06-09 15:16] shirdesign commented on #96
@parthlawate  @anibalsanchez thank you for all the info - I will work on it Sunday and hopefully by Monday you will something ready.

[2017-06-09 15:20] Sandra97 commented on #96
@shirdesign I can send you the files of the Certification one and a screnshot of the JuG one.

[2017-06-09 15:27] cpaschen commented on #68
Duke - do you have some ideas on this? 'overview of Joomla' is rather huge/broad.
It would be helpful to have a more specific goal - 'sales', instruction, etc. And are we aimed at users, developers, integrators, etc.
I'll defer to others on these details, but we will need establish that (and who's going to do which aspects of this) to get it rolling.

[2017-06-09 19:25] ufuk-avcu opened #97 "[copywriting] More marketing for the Joomla Administrator Certification"
We have only 117 Certified Joomla Administrators until 09.06.2017. We should do also some marketing for this...

[2017-06-09 19:38] Sandra97 commented on #97
You should contact the Certification Marketing Team

[2017-06-09 20:21] parthlawate commented on #96
Hi

The JUG one is pretty basic.. not sure about certification.. @sandra97 can u add both screenshots here ?

Overall I'd give them all a reboot around a common theme. I like what we have for social media we can carry the theme over to the newsletters as well ?

[2017-06-09 20:36] Sandra97 commented on #96
Here is a screenshot of the one I'm working on for jorg.
It's using the Certification newsletter template as a basis with some changes in order to stay consistent with the jdotorgtemplate.

![2](https://user-images.githubusercontent.com/4682328/26993551-9ca1e9d4-4d31-11e7-886b-9daeb2c54653.png)

[2017-06-09 20:43] parthlawate commented on #96
I like it overall except maybe I wouldn't use 2 banners of the same size (primary banner) & the secondary banner being in the same size with so less content in between.. but that's on the content I guess.. that can be flexible

[2017-06-09 20:46] parthlawate commented on #97
Raised it to Richard and asked him to comment here

[2017-06-09 21:31] Sandra97 commented on #96
@parthlawate Feel free to provide me a short intro text to add between the 2 pics.

[2017-06-09 22:34] RichardR2H commented on #97
Thanks for noticing. We have two new volunteers onboard recently and we are now restructuring our work and re-plan tasks. We wrote and posted about the 100th Certified Administrators (CA) and we will focus on this group soon to transform them from Certified Administrators to Certification Ambassadors.

[2017-06-10 14:32] Sandra97 commented on #6
joomla.org newsletter is ready!
https://www.joomla.org/newsletter.html

[2017-06-10 20:43] parthlawate commented on #6
Looking great @Sandra97 !
A few text changes i'd like to suggest.. Where you have "Receive Joomla! Announcements and latest News by subscribing to the joomla.org newsletter!"
Can we say
"The official Joomla! Newsletter is the best way to stay updated on the latest project news and important announcements. Subscribe today !"

[2017-06-10 20:48] Sandra97 commented on #6
Edited!

[2017-06-10 20:50] Sandra97 commented on #6
Developer Newsletter will be ready really soon too. Using quite the same template to be consistent.

![dev](https://user-images.githubusercontent.com/4682328/27006232-cec5117c-4dfc-11e7-9ea4-6719596f620a.png)

[2017-06-10 20:59] parthlawate commented on #6
Cool ! Ideally we should have all the Subscriptions in one place so users Know what to choose

1. Official Joomla! News & Announcements
2. Developer updates
3. Events
4. User Groups
5. Extension Directory
6. Certification
7.

[2017-06-10 21:05] Sandra97 commented on #6
That's the idea.
Let us first set up everything and then we'll see that.

And in the near future, it could be nice if the marketing team can help creating a regular newsletter to promote Joomla in general.

[2017-06-11 10:16] Sandra97 commented on #6
Developer's Newsletter is ready!
https://developer.joomla.org/newsletter.html

[2017-06-11 10:25] franz-wohlkoenig commented on #6
Thanks, found one issue:
![1](https://user-images.githubusercontent.com/8235763/27010288-0beb1db8-4ea1-11e7-81cb-9136acfb1920.jpg)

[2017-06-11 10:27] Sandra97 commented on #6
That's what happens when I start working at 5am ;)
Thanks @franz-wohlkoenig, it's corrected

[2017-06-11 11:06] Sandra97 commented on #6
@helvecio @JacquesR, would be nice if you can use for the JCM newsletter the same system as us (AcyMailing) and use the same basis for your newsletter template.

[2017-06-11 15:23] parthlawate commented on #6
@sandra97 yes marketing definitely will ! Before we do that we need to promote the newsletters itself to get enough subscribers on each.. getting them in one place will definitely help.. we will cross promote the newsletters between all the teams to ensure all people know which ones are available.  One thing to confirm - all these are on CJO now ?

[2017-06-11 16:07] Sandra97 commented on #6
It's of course already my plan to promote these 2 new newsletters on our social media channels.
jorg, dev and jug newsletters are hosted in CJO.

[2017-06-11 21:44] parthlawate commented on #6
What i'd like to get to is a common sigh up form like this one http://drupal.us2.list-manage1.com/subscribe?u=618af7a460cf93cf211231139&id=6934bc4d06

We don'
t need to have it as extensive as in our case its more for newsletters.. Not a single sign on

[2017-06-11 21:48] Sandra97 commented on #6
We will make it happen.
Better to move little step by little step.
I've been waiting for 2 years now to have a newsletter. Now we have something and can move forward.